//
// Icons using sprites
//

// Informations
// -----------------------------------
// Sprites sizes and hover changes icon color
// assign the icon's width and height to the <i> ellement
//.icon-download { height: icon-sprite-height(download); width: icon-sprite-width(download);}


// Configuration
// -----------------------------------

// space between each icon in the sprite
$icon-spacing: 40px; // "incons" is the name of the folder

// Include dimensions for each sprite
//$icon-sprite-dimensions: true;

// import the compass function that handles the sprites
@import "compass/utilities/sprites";

// locate the folders with the icons in
@import "icon/*.png";
$icon: sprite-map("icon/*.png");

// compass, make icons plizz
@include all-icon-sprites;


// Icon general settings
// -----------------------------------

.Icon [class^="icon-"] {
	display: inline-block;
	position: relative;
}


// Index's icons
// -----------------------------------

.icon-interrogation--green {
	width: icon-sprite-width(interrogation--green);
	height: icon-sprite-height(interrogation--green);
}
.icon-pionier--blue {
	width: icon-sprite-width(pionier--blue);
	height: icon-sprite-height(pionier--blue);
}



// Button's icons
// -----------------------------------

.icon-arrow-down {
	width: icon-sprite-width(arrow-down);
	//height: icon-sprite-height(arrow-down);
}
.icon-arrow {
	// width of is-active so both accordion arrow icons have same width
	width: icon-sprite-width(arrow-down);
	height: icon-sprite-height(arrow);
}

.icon-left_arrow {
  width: icon-sprite-width(left_arrow);
  height: icon-sprite-height(left_arrow);
}

.icon-right_arrow {
  width: icon-sprite-width(right_arrow);
  height: icon-sprite-height(right_arrow);
}

.icon-up_arrow {
  width: icon-sprite-width(up_arrow);
  height: icon-sprite-height(up_arrow);
}

.icon-down_arrow {
  width: icon-sprite-width(down_arrow);
  height: icon-sprite-height(down_arrow);
}

.icon-box {
	display: inline-block;
	width: icon-sprite-width(box);
	height: icon-sprite-height(box);
}

.icon-box--open {
	// width of the box icon so all btn have same width
	width: icon-sprite-width(box);
	height: icon-sprite-height(box--open);
}

.icon-paper {
	height: icon-sprite-height(paper);
	// width of the box icon so all btn have same width
	width: icon-sprite-width(box);
}

.icon-helper {
	height: icon-sprite-height(helper);
	width: icon-sprite-width(helper);
	cursor: pointer;
}

.icon-get-share {
  height: icon-sprite-height(get-share);
  width: icon-sprite-width(get-share);
}

// Profil page icons
// -----------------------------------

.icon-pencil {
	height: icon-sprite-height(pencil);
	width: icon-sprite-width(pencil);
}

.icon-user {
	display: inline-block;
	height: icon-sprite-height(user);
	width: icon-sprite-width(user);
}
.icon-briefcase {
	display: inline-block;
	height: icon-sprite-height(user);
	width: icon-sprite-width(user);
}

// Feedback icon
// -----------------------------------

.icon-feedback {
	display: inline-block;
	height: 26px;
  width: 26px;
	top: 5px;
	left: -4px;

}

.icon-help {
  display: inline-block;
  height: 26px;
  width: 26px;
  top: 5px;
  left: -4px;

}

.icon-shares {
  display: inline-block;
  height: 26px;
  width: 26px;
  top: 5px;
  left: -4px;
  @include transform(rotate(90deg));
}

// Known-From Icons
// ------------------------------------

.icon-arte {
  height: icon-sprite-height(arte);
  width: icon-sprite-width(arte);
}

.icon-deutschlandfunk {
  height: icon-sprite-height(deutschlandfunk);
  width: icon-sprite-width(deutschlandfunk);
}

.icon-hochschulanzeiger {
  height: icon-sprite-height(hochschulanzeiger);
  width: icon-sprite-width(hochschulanzeiger);
}

.icon-sueddeutsche {
  height: icon-sprite-height(sueddeutsche);
  width: icon-sprite-width(sueddeutsche);
}

.icon-tagesspiegel {
  height: icon-sprite-height(tagesspiegel);
  width: icon-sprite-width(tagesspiegel);
}

.icon-taz {
  height: icon-sprite-height(taz);
  width: icon-sprite-width(taz);
}