.Import-banner {
  @include rem(margin-bottom, 9px);
  @include at-breakpoint($layout-medium) {
    @include span-columns(1 omega,4);
  }
}

.Import-banner-inner {
  @include rem(padding, 10px 20px);
  padding-top: 1em;
  text-align: center;
  color: #3c3c3c;
  border-radius: 8px;
  background: #fff;

}

.Import-banner-title [class^="icon-"] {
    display: block;
    margin: 20px auto;
    margin: 1.42857rem auto;
}

.Import-detail {

  @include at-breakpoint($layout-small) {
    @include span-columns(2,4);
  }

  @include at-breakpoint($layout-large) {
    @include span-columns(3, 4);
  }
}

.Import-fees {
  @include at-breakpoint($layout-small) {
    @include omega;
  }
}

.Import-errors {
  color:$red;
}