//
// Navigation in ist of Articles
//


.pagination {
	text-align: center;
  clear: both;

	li {
		list-style-type: none;
		display: inline-block;
		margin-right: 1em;

		a {
		  @extend .Btn;
      @extend .Btn-tag;
      @extend .Btn-tag--gray;
			color: white;
		}
	}
	.active {
	    @extend .Btn;
      @extend .Btn-tag;
		  @extend .Btn-tag--green;
      margin-right: 1em;
	}
}