//
// Search
//




.l-Left,.l-Right  {


  @include at-breakpoint($layout-small-to-medium) {
     @include span-columns(2,5);
  }

  @include at-breakpoint($layout-medium-to-large) {
     @include span-columns(2,6);
  }

  @include at-breakpoint($layout-large) {
    @include span-columns(2,12);
  }


  .Btn {
    width:100%;
    @include rem(font-size, 14px);
    @include rem(padding, 0.4em 4px);
    height: em(41);
    margin: 0px;
  }
}

.l-Left {
  display:none;
  @include at-breakpoint($layout-medium) {
    display:block;
  }
}

.l-Right {
  display:none;
  @include at-breakpoint($layout-large) {
    display:block;
    @include omega;
  }
}

.l-Middle {
  width:100%;

  @include at-breakpoint($layout-medium-to-large) {
     @include span-columns(4,6);
     @include omega;
  }

  @include at-breakpoint($layout-large) {
    @include span-columns(8,12);
  }
}

.Search {
	position: relative;
	input[type='text'] {
		margin: 0;
	}
	&.inputs {
		float: left !important;
	}

}
.Search .Search-input input { // extra specificity
	@include rem(font-size, 14px);
	width: 100%;
}

.Search-button {
	position: absolute;
	top: em(7);
	right: em(11);
}

.Search-extend {
  position: absolute;
  bottom: -20px;
  right: 10px;
  color:$gray;
  z-index:1;
  @include rem(font-size, 12px);
  cursor:pointer;
  &:hover {
    color: $blue;
  }
}


