.User-table {
	table, tbody, td, tr {
		border-collapse:collapse;
	}
	tbody {
		width: 100%;
	}
	th {
		@include rem(font-size, $font-size-xs);
		padding: 2em 2em .7em 0;
		text-align: left;
		border-bottom: lightgray solid 1px;
		&:nth-child(2) {
			display: none;
		}
	}
	td {
		min-width: 10em;
		border-bottom: solid .1em $beige;
		&:first-child {
			padding-right: 2.5em;
		}
		&:nth-child(2) {
			display: none;
			padding-right: 2.5em;
		}
	}
	a.action {
		color: $blue;
	}

	@include at-breakpoint($layout-small) {
		th:nth-child(2) {
			display: table-cell;
		}
		td:nth-child(2) {
			display: table-cell;
		}
	}
}

.Btn--table-icon {
	width: 2em;
	height: 2em;
	margin-top: 0.6em;
	overflow: hidden;
	text-indent: 5em;
}
.Btn--table-icon-delete:after {
	@include rem(font-size, 17px);
	content: "\d7";
	position: absolute;
	top: .3em;
	left: -4.4em;
	display: block;
	color: $white;
}
.Btn--table-icon-edit {
	@include sprite-background-position($icon-sprites, 'pencil--white', 8px, 9px);
	margin-left: 1em;
	&:after {
		content: "";
		//@extend .icon-pencil--white;
		//@include sprite-background('icon/pencil--white.png', 0);
		//background-position: 5px;
		width: 2em;
		height: 2em;
		display: block;
		position: absolute;
		top: .3em;
		left: -4.4em;
	}
}


.Statistic-table {
  border-width: 1px;
	border-spacing: 0px;
	border-color: gray;
  border-style: outset;
	border-collapse: collapse;
	background-color: white;
  tr {
    border-width: 1px;
  	border-spacing: 0px;
  	border-color: gray;
    border-style: outset;
  	border-collapse: collapse;
  	
  }
  td, th {
    padding:0.5em;
    border-width: 1px;
  	border-spacing: 0px;
  	border-color: gray;
    border-style: outset;
  	border-collapse: collapse;
  	
  }
  
  th {
    background-color: #AAAAAA;
  }
  
  
}
