

/*
 * NEW
 */

#article_form_container {

  textarea:not(#article_content) {
    width: 90% !important;
    height: 150px;
  }
}



/*
 * Show
 */
.padding-clap-box{
  padding-bottom: 5px;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 15px;
}

/*
 * category_link_button
 */
#category_link_button {
  background: none;
  border: none;
  display: inline;
}

