/*
 *  NEW
 */

.formtastic.auction {
  textarea {
    width: 100%;
    height: 150px;
  }
  
  #auction_content {
    height: 400px;
  }
  
  .friendly_percent-user-inputs, .auction_template-user-inputs {
    .makeRow();
    .control-group {
      .makeColumn(2);
      width: 45%;
    }
  }
  
  .auction_template-user-inputs {
    .makeRow();
      .control-group {
        .makeColumn(2);
        width: 25%;
      }
  }
  
}

/*
 * SEARCH
 */

.search-form {
  
  abbr[title='required'] {
    display: none;
  }
  
  .query-and-condition-inputs {
    .makeRow();
      .control-group {
        .makeColumn(2);
        width: 40%;
      }
  }
}


/* 
 * SHOW
 */

/*
 *  Display Span Labels inside the auction image
 */
span.in-image {
  position: absolute;top: 10px; left: 10px;
}
  
  
/*
 * Display the auctions thumbnail image correctly
 * with responsive
 */  
  
.title-image-wrapper{
  position: relative;
}
.title_image {
  width:100%;
   
   border: 1px solid darken(@wellBackground, 17%);
  margin-bottom: 20px;
}

.thumbnail_image {
  border: 1px solid darken(@wellBackground, 17%);
}  
  
  
@media (max-width: 767px) {
  .title_image {
     max-width:  (@gridColumnWidth *4 + @gridGutterWidth * 3) !important;
  }
}

.apply-step-inputs {
  .makeRow();
  margin-left: 0px;
  .control-group {
    .makeColumn(2);
    width: 45%;
  }
}

input[type='submit'] {
  padding: 5px;
  background: #458B74;
  color: #FFFFFF;
}

#double_check_step {
  .form-actions {
    padding-left: 20px;
    text-align: center;    
    input {
      padding: 15px;
      font-size: 26px;
      margin: auto;
    }
  }
}

