.questionnaire {
  
  textarea {
    width: 100%;
    height: 150px;
  }
  
  .text {
      label {
      width: 100px !important;
    }
  }
  .controls {
    margin-left: 120px;
  }
  li {
    margin-top: 20px;
  }
  
  .optional {
    .question {
      label {
        font-weight: normal !important;
      }
    }
  }
  
  .question {
    margin-top: -20px;
    display: block !important;
    width: 100% !important;
    label {
      width: 100% !important;
      text-align: left !important;
    }
  }
  
}
