<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @name %></h1>
    <p>
      	you have been invited to FAIRNOPOLY from <%= @user %>.
		To join FAIRNOPOLY follow this link: <br/>
    </p>
    <p>
    	<%= @url %> 
    </p>
    <p>
		greetings
		The Fairnopoly Team
	</p>
  </body>
</html>