<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

  	<!-- ><img alt="Banner" src="http://www.fairnopoly.com/online-marktplatz/wp-content/uploads/2012/05/fn-header-200-de-t2.gif" width="100%"/>-->
  	
    <h2>Hello <%= @name %>,</h2>
    <p>	
      	you have been invited to FAIRNOPOLY from <b><%= @user %></b>.
		To join FAIRNOPOLY follow this link: <br/>
    </p>
    <p>
    	<a href="<%=@url%>"><%=@url%></a>
    </p>
    <p>
    	<br/>
    	<hr/>
		Greetings
		The Fairnopoly Team
	</p>
  </body>
</html>