-#.lineItemGroupShow-lineItem
-#  .lineItemGroupShow-lineItem-image
-#    = link_to image_tag(bt.article.title_image_url_thumb), article_path(bt.article_id)
-#
-#  .lineItemGroupShow-lineItem-details-container
-#
-#    .lineItemGroupShow-lineItem-title
-#      = link_to truncate(bt.article_title), article_path(bt.article_id)
-#
-#    .lineItemGroupShow-lineItem-details
-#      Details
-#
-#    .lineItemGroupShow-lineItem-buttons
-#      Buttons
-#
