.Search-filter.JS-active-toggle--container
  .Search-dropdown.JS-active-toggle--trigger{data: {clickable: true}}
    = title
  = semantic_form_for search_cache, url: articles_path, html: { method: 'get', class: "l-header-search-form JS-active-toggle--target" }, builder: ::Fairtastic::FormBuilder do |f|
    Placeholder. Not yet implemented.
  -#   %ul
  -#     = f.inputs do
  -#       %li
  -#         = f.input :zip, tooltip: false
  -#     = f.actions do
  -#       %li
  -#         %button.Button Anwenden
