
<table class="table table-bordered">
	<tr>
		<td>
		<p>
			<b>Fair Founding Points:</b>
			<%= @ffp.price*20 %> FFP
		</p></td>
	</tr>
	<tr>
		<td>
		<p>
			<b>Price:</b>
			<%= @ffp.price %> Euro
		</p></td>
	</tr>
	<tr>
		<td>
		<p>
			<b>Account:</b>
			<%= current_user.email %>
		</p></td>
	</tr>
</table>