%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    / ><img alt="Banner" src="http://www.fairnopoly.com/online-marktplatz/wp-content/uploads/2012/05/fn-header-200-de-t2.gif" width="100%"/>
    %h2
      Hello #{@name},
    %p
      your account has been created succesfully!
      Your password is:
      %br/
    %p= @pw
    %p
      Please change this password after you logged-in.
    %p
      %br/
    %hr/
    Greetings
    The Fairnopoly Team
