<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

  	<!-- ><img alt="Banner" src="http://www.fairnopoly.com/online-marktplatz/wp-content/uploads/2012/05/fn-header-200-de-t2.gif" width="100%"/>-->
  	
    <h2>Hello <%= @ffp.name %> <%= @ffp.surname %>,</h2>
    <p>	
      	thank you for buying Fair Founding Points!
      	Please transfer the amount of <%= @ffp.price %> Euro to this bank account:
 		<br/>
 		use this code: <%=@ffp.code%> as purpose! 
    </p>
     <p>Bank account: TODO</p>
     <p>We will send you a certificate when your transaction is completed.</p>
    <p>
    	<br/>
    	<hr/>
		Greetings
		The Fairnopoly Team
	</p>
  </body>
</html>