<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

  	<!-- ><img alt="Banner" src="http://www.fairnopoly.com/online-marktplatz/wp-content/uploads/2012/05/fn-header-200-de-t2.gif" width="100%"/>-->
  	
    <h2>Hello <%= @ffp.name %>,</h2>
    <p>	
      	the transaction of your Fair Founding Points have been confirmed.
      	In the attachement you can find your certificate.
 		<br/>
    </p>
    <p>
    	<br/>
    	<hr/>
		Greetings
		The Fairnopoly Team
	</p>
  </body>
</html>