<a href="/articles/?article_search_form[q]={{suggestion.value}}" data-push="true">
  <span class="autocomplete-title">
    Alle {{suggestion.data.count}} Ergebnisse für <strong>{{suggestion.value}}</strong>
  </span>
</a>
