<div class="span3">
	<ul class="nav nav-tabs nav-stacked">
		<li>
			<% if current_user && @user == current_user%>
				<a href="<%=url_for edit_user_registration_path %>">
					<strong> <%= t('dashboard.actions.edit_account')%>  <i class="icon-chevron-right pull-right"></i> </strong>
				</a>
			<%else%>
				<a href="<%=url_for(:action => 'profile', :id=> @user.id) %>">
					<strong> <%= t('dashboard.actions.show_account')%>  <i class="icon-chevron-right pull-right"></i> </strong>
				</a>
			<%end%>
		</li>
	</ul>
</div>