<form class="form-inline" action="search_users">
		<input type="text" class="search-query span2" name="q"  value="<%= params["q"]%>" placeholder="<%=t('dashboard.search_users.head')%>">
		<button type="submit" class="btn"><i class=" icon-user"></i>
			<%= t("commons.text.search")%>
		</button>
</form>