%li
  %i.fa.fa-lg{title: title, class: is_public ? 'fa-eye' : 'fa-eye-slash'}
  %a{href: "#{user_library_elements_path(user_id: current_user.id, library_element: {article_id: resource.id, library_id: library.id})}", rel: "nofollow", 'data-method' => "post"}= library.name
  - if library.articles.include?(article)
    %i.fa.fa-check{title: 'Der Artikel befindet sich bereits in dieser Sammlung.'}