%li
  %i.fa.fa-lg{title: t("library.visibility.#{visibility}"), class: visibility == :public ? 'fa-eye' : 'fa-eye-slash'}
  = link_to library.name, user_library_elements_path(user_id: current_user.id, library_element: {article_id: article.id, library_id: library.id}), method: :post
  - if library.includes_article? article
    %i.fa.fa-check{title: t('library.control.check_title')}