/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
require_self
 *= require_tree .
 

 *= require formtastic-bootstrap
 *= require twitter/bootstrap
*/
/* LOGIn Style*/

ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

/*
 * Bootstrap Changes
 */

body {
  padding-top: 60px;
}

.navbar-form label { 
    display: inline; 
    color: #999; 
} 

.hero-unit {
	padding: 10px;
}

.category-button {  
	background-color: transparent; 
	border: 0; 
	padding: 3px;
	width: 100%; 
	height: 100%;
	text-align:left;
	
}

label.control-label {
	font-weight:bold;
}

span.help-block {
	font-style:italic;
}

/*
 *  Categories
 * 
 */

td.selected {
	background-color: #DFF0D8 !important;
}

td.category {
	background-color: #FFFFFF;
	padding: 0px;
}
