/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require formtastic-bootstrap
 *= require bootstrap-responsive
 * 
*/
/* LOGIn Style*/

ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

/*
 * Bootstrap Changes
 */

body {
  padding-top: 60px;
}
	/*
	 * Labels in the Navbar (Rememberme)
	 */
.navbar-form label { 
    display: inline; 
    color: #999; 
} 
	/*
	 * Hero Unit Padding
	 */
.hero-unit {
	padding: 10px !important;
}

	/*
	 * Categorie View
	 */
.category-button {  
	background-color: transparent !important; 
	border: 0 !important; 
	padding: 3px !important;
	width: 100% !important; 
	height: 100% !important;
	text-align:left !important;
	color: #005580;
	
}
div.category-button {
	margin-right:20px;
}
	
a.no_decoration:hover   {
  		
  	text-decoration:  none !important;
}
  
td.selected {
	background-color: #DFF0D8 !important;
}

td.category {
	color: #005580;
	background-color: #FFFFFF;
	padding: 0px !important;
}
	
/*
 *  Formtastic Bootstrap
 */  	
  	
label.control-label {
	font-weight:bold;
}

span.help-block {
	font-style:italic;
}

