// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

 
body {
  padding-top: 60px;
}

.navbar-form label { 
    display: inline; 
    color: #999; 
} 

