%table.auction_templates_list.table.table-striped.table-bordered
  %tr
    %th= t('formtastic.labels.auction_template.name')
    %th= t('formtastic.labels.auction.title')
    %th
    %th
    %th
  = render :partial => "auction_templates/table_entry", :collection => @auction_templates, :as => :auction_template
