/
/
/ == License:
/ Fairmondo - Fairmondo is an open-source online marketplace.
/ Copyright (C) 2013 Fairmondo eG
/
/ This file is part of Fairmondo.
/
/ Fairmondo is free software: you can redistribute it and/or modify
/ it under the terms of the GNU Affero General Public License as
/ published by the Free Software Foundation, either version 3 of the
/ License, or (at your option) any later version.
/
/ Fairmondo is distributed in the hope that it will be useful,
/ but WITHOUT ANY WARRANTY; without even the implied warranty of
/ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/ GNU Affero General Public License for more details.
/
/ You should have received a copy of the GNU Affero General Public License
/ along with Fairmondo.  If not, see <http://www.gnu.org/licenses/>.
/
.Content
  h2= t('devise.confirmation.resend')
  = semantic_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = f.semantic_errors
    = f.inputs do
      = f.input :email, required: false, tooltip: false, input_html: { autofocus: true }
    = f.actions do
      = f.action :submit, button_html: { class: "Button", value: t('devise.confirmation.resend') }
  = render "links"
