<div class="accordion-group">
  <h5 class="question">
    <a class="question-toggle" data-toggle="collapse" data-parent="#faqs-accordion" href="#faq<%=faq_counter%>"><%= faq.question%></a>
  </h5>
  <div id="faq<%=faq_counter%>" class="answer collapse">
    <%= faq.answer%>
  </div>
</div>