/*
 *  Formtastic Plus Bootstrap Fixes
 *

/*
 *  input setps
 *
 */
.formtastic .box {
  ol {
    list-style: none;
  }
}

/*
 * Fixing Recaptcha Bootstrap
 * */
#recaptcha-view {
  span.help-inline {
    margin-left: 0px;
  }
}



/*
 *  Fix the actions field
 *
 */

.formtastic fieldset.actions {
  margin: 0px;
  background-color : transparent !important;
  border: 0px !important;
}


/*
 * Plain Radio
 */

 li.plain_radio {
   .choices-group {
      li.choice {
        display: inline ;
      }
    }
 }
 /*
  * questionnaire
  */

fieldset .questionnaire {
list-style-type:decimal !important;
margin-left: 30px !important;
//list-style-position:inside !important;
  li.questionnaire-entry {
    fieldset {
      li.input:first-child {
        margin-top: -30px !important;
      }
    }

  }
}

fieldset {
 border: 0px;
}