# Configuration files
# config/database.yml -> needed for travis-ci
config/environments/development.rb
public/system
config/initializers/secret_token.rb
bin
config/actionmailer.yml
.capistrano
# Project files
.redcar
.project
.settings
*.sublime-project
*.sublime-workspace
.bundle/
vendor/bundle
*.komodoproject
# Autotest configuration file
.autotest

#Respec
.respec_failures
# rspec rerun
rspec.failures

# Ignore all logfiles and tempfiles
/log/*.log
/log/*.log.*
/tmp
# Gemfile.lock -> ER error without it

# Ignore default SQLite database
db/*.sqlite3
db/*.sqlite3-journal

# Ignore codecoverage report
coverage

#Rails Best Practice
rails_best_practices_output.html
#api keys
config/api.yml
config/paypal_adaptive.yml
#email addresses
config/email_addresses.yml

#Solr Development
solr/data/**/*
solr/pids/**/*
solr/default/**
solr/development/**
solr/test/**

#ER-Diagram
erd.pdf

# Precompiled assets
public/assets/*
public/assets_test/*

# Precompiled gems - remove if we decide to run production bundler with --local
vendor/cache

# Mac .DS_Stores
*.DS_Store
*/.DS_Store
**/.DS_Store

# Ignore merge fragments
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*


# Licence Deriving tmp
deriving_license_tmp

# Local additional Gemfile
Gemfile.local

# vim fragments / vim swap-files
*.swp
# other fragments
*.~lock.*
*.swo
*.swn
*.swm


.ruby-gemset

# compass sprites
app/assets/images/icon-*.png

# Redis
dump.rdb

# nohup
nohup.out

# ctags
tags
gems.tags

# guard
Guardfile

# path to custom gem dir for sidekiq-pro dir
sidekiq_pro_path.yml

.rvmrc

# Paypal
paypal_adaptive.yml

# mac DS_Store
*.DS_Store

config/courier.yml

# Foreman Procfile
Procfile

# Afilliate csv
public/fairmondo_articles.csv
