= kss_block 'Buttons' do |modifier|
  %a{class: "Button #{modifier}"}
    Example button
  %button{class: "Button #{modifier}"}
    Example button
  %a{class: "Button #{modifier}"}
    %span.sprite_paper
    Example button