= kss_block 'Typography', background: "white" do |modifier|
  %h1 h1
  %h2 h2
  %h3 h3
  %h4 h4
  %h5 h5
  %p
    = link_to "This is a link", "www.fairnopoly.de"
  %p
    %span.sprite_logo
  = kss_specimen

