= kss_block 'User', background: 'white',width: '400', align: 'left' do |modifier|
  %p There is a partial ready for you to use everywhere:
  %pre
    %code
      :plain
        = render '/users/profile_img', user: @user

  = render "/users/profile_img",  user:  current_user
