= semantic_form_for [library,
  Comment.new],
  remote: true do |f|
  = f.input :text, placeholder: t('common.text.comment_placeholder'), label: false, input_html: { class: "Comment" }

  = f.actions do
    = f.action :submit, as: :button,
                        label: t('common.text.leave_comment'),
                        button_html: { class: "Button Comment" }
