- count = search_cache.category_article_count category.id rescue nil
- displayed_name = category.name
- displayed_name += " (#{count})" if count
- if count != 0
  %span{ title: displayed_name }
    -# class: (count == 0 ? "Search-categories-empty" : "" )
    - if search_cache && search_cache.searched_category == category
      %b
        = displayed_name
    - else
      = link_to displayed_name, category_path(category, article_search_form: search_cache.change(category_id: category.id)), remote: (controller_name == 'articles' && action_name == 'index' || controller_name == 'categories' && action_name == 'show')
