- if search_cache && search_cache.searched_category == category
  %span{title: category.name}
    %b
      = category.name
- else
  = link_to category_path(category, article_search_form: search_cache.change(category_id: category.id)), class: 'Search-colored-link', title: category.name, remote: (controller_name == 'articles' && action_name == 'index' || controller_name == 'categories' && action_name == 'show') do
    = category.name
