/*
 *
 * Special CSS Code for the dashboard page
 *
 */

#profile-img {
  /*
   * the title name: Forename Surname
   * if there is no Forename Surname, the Nickname will be the Title name
   */
  .big-name{
    font-size: 18px;
    font-weight: bold;
  }

  /*
   * The second title name
   * if there is a title name it will be the nickname/shopname
   */
  .small-name{
    font-size: 16px;
    font-weight: normal;
  }

}

#dashboard-hero{
   position: relative;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#dashboard-events {
  margin-bottom: 60px;
}

#dashboard-middle {

  height:100%;
  min-height: 100%;
  ul.nav {
    position:absolute;
    bottom:0px;

    li {
      margin-right:10px;
      a {
        background-color: $white;
      }
      &#dashboard-buy a:before {
          font-family: FontAwesome;
          content: '\f07a\00a0';
          color: $fairnopolyGreen;
          }
      &#dashboard-sell a:before {
          font-family: FontAwesome;
          content: '\f02b\00a0';
          color: $fairnopolyRed;
          }
      &#dashboard-profile a:before {
          font-family: FontAwesome;
          content: '\f007\00a0';
          color: $fairnopolyBlue;
          }
      &#dashboard-profile a:hover:before {
        color: $white;
      }
      &#dashboard-library a:before {
          font-family: FontAwesome;
          content: '\f005\00a0';
          color: $yellow;
          }
    }
  }
  #hero-unfold {
     opacity: 0;

  }
}

@media (max-width: 767px) {
  #profile-img {
    max-width:190px;
  }

  #dashboard-events {
    margin-bottom: 0px;
  }

  #dashboard-middle {
    ul {
      position:static;
    }
  }
}


.closed-container-hero:not(:target) {
  #dashboard-events, .middle-margin{
    height: 0px;
    opacity: 0;
    display:none;
    margin:0px;
  }
  #profile-img {
    max-width:100px;
    border: 0px;
    margin-bottom: 0px;
  }

  #dashboard-middle #hero-unfold {
     opacity: 1;

  }

  #dashboard-middle ul.nav {
    position: absolute;
    bottom: 30px;
    left: 180px;

  }
  @media (max-width: 767px) {
    #dashboard-middle ul.nav {
      position: static;

    }
  }

}

/*
 * In_image design fix
 */
span.in-image-library {
  position: absolute;top: 30px; left: 10px;
}
div.in-image-alt-library {
  position: absolute;bottom: 8px; left: 8px;
  span {
    margin:2px;
  }
}
div.in-image-container-library {
  position: relative;
}

/*
 * Sales *Fix for including template from forms
 */
form.template_select {
 .apply-step-inputs {
    margin-left: 0px;
  }
}

/*
 *  boarder for library actions
 */
.boarder-no-bottom{
   border-bottom: 0px;
   border-top: 1px solid darken($wellBackground, 30%);
   border-right: 1px solid darken($wellBackground, 30%);
   border-left: 1px solid darken($wellBackground, 30%);
}
.boarder-no-top{
   border-top: 0px;
   border-bottom: 1px solid darken($wellBackground, 30%);
   border-right: 1px solid darken($wellBackground, 30%);
   border-left: 1px solid darken($wellBackground, 30%);
}

/*
 * About small
 */
.small-about{
  height: 200px;
  overflow: hidden;
  white-space:nowrap;
}

.about{
  min-height:200px;
}

