# A model / unit test example to copy, paste and fill in
require 'spec_helper'

describe Foobar do
  describe "attributes" do
    it { should respond_to 'foo' }
  end

  describe "associations" do
    it { should belong_to :bar }
  end

  describe "validations" do
    it { should validate_presence_of :foo }
  end

  describe "methods" do
    describe "#foo_bar" do
      it "should do stuff" do
      end
    end
  end
end