
<%= render 'menu'%>


<div class="span12">
	<div class="well">
		<h2>Settings</h2>
		
		<ul>
			<li>
				<%= link_to(t('dashboard.actions.edit_account'), edit_user_registration_path ) %>
			</li>
		</ul>
		
	</div>
</div>
