
<%= render 'menu'%>

<div class="well">
	<div class="row">
		<div class="span12">
			<h2>My Offers</h2>
		</div>
		<div class="span12">
			<h2>My Auctions</h2>
		</div>
		<div class="span12">
			<h2>Watching Auctions</h2>
		</div>
	</div>
</div>
