// Clears link underline
@mixin clear-links {
  a {
    text-decoration:none;
    &:hover {
      text-decoration:none;
    }
  }
}

// clears link underline but keeps hover (revert clear-links)
@mixin clear-links-with-hover {
  a {
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}

// Colorize links
//
// $color - color
// $hover - hover color
@mixin color-links($color,$hover) {
  a {
    color: $color;
    &:visited{
      color: $color;
    }
    &:hover {
      color: $hover;
    }
  }
}
