// Static positioning mixin

// Position an element absolutely.
// If an argument is omitted, it is assumed that it is set elsewhere and left alone.
@mixin static-position($top: null, $left: null, $bottom: null, $right: null, $height: null, $width: null) {
  @if $top { top: $top; }
  @if $left { left: $left; }
  @if $bottom { bottom: $bottom; }
  @if $right { right: $right; }
  @if $height { height: $height; }
  @if $width { width: $width; }
}
