// the total width of the containers
$screen-width: 1200px;
$screen-padding: 2.5em;
$screen-padding-mobile: 2.5%;
$footer-height: 8rem;
$footer-height-reduced: 4rem;

// base font
$base-font-body: "Open Sans", Helvetica, sans-serif;
$base-font-size: 14px;
$base-font-size-unitless: 14;

$small-font-size: 0.95em;
$xsmall-font-size: 0.7em;

// colors
$blue: #428ebd;
$secondary-color: #DA5230;
$green: #718b46;
$turquoise-green: #3ac25d;
$gray:  #909090;
$mid-dark-gray: #666;
$dark-gray: #404040;
$light-gray: #B4B4B4;
$lighter-gray: #e3e3e3;
$even-lighter-gray: #F0F0F0;
$lightest-gray: #f8f8f8;
$red: #a14d3f;
$light-red: #f00;
$yellow: #ffcc00;
$black: #3c3c3c;
$white: #ffffff;
$orange: #f56900;
