

// the total width ofthe containers
$screen-width: 1200px;
$screen-padding: 2.5em;
$footer-height: 8rem;

// base font
$base-font-body: "Open Sans", Helvetica, sans-serif;
$base-font-size: 14px;
$base-font-size-unitless: 14;

// colors
$blue: #3a80c2;
$green: #718b46;
$gray:  #909090;
$dark-gray: #404040;
$light-gray: #C2C0CF;
$lighter-gray: #e3e3e3;
$lightest-gray: #f8f8f8;
$sand: #F2F0DF;
$red: #a14d3f;
$yellow: #ffcc00;
$black: #3c3c3c;
$orange: #f56900;
