/
/
/ == License:
/ Fairmondo - Fairmondo is an open-source online marketplace.
/ Copyright (C) 2013 Fairmondo eG
/
/ This file is part of Fairmondo.
/
/ Fairmondo is free software: you can redistribute it and/or modify
/ it under the terms of the GNU Affero General Public License as
/ published by the Free Software Foundation, either version 3 of the
/ License, or (at your option) any later version.
/
/ Fairmondo is distributed in the hope that it will be useful,
/ but WITHOUT ANY WARRANTY; without even the implied warranty of
/ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/ GNU Affero General Public License for more details.
/
/ You should have received a copy of the GNU Affero General Public License
/ along with Fairmondo.  If not, see <http://www.gnu.org/licenses/>.
/

/ Check if any filters are set exclusively. In these cases, a specific
/ landing page is put into :search_specific_content and rendered in
/ 'articles/shared/search_results'
- if @search_cache.exclusive_value? :fair, true
  = render 'articles/index/featured_libraries_fair'
- elsif @search_cache.exclusive_value? :ecologic, true
  = render 'articles/index/featured_libraries_ecologic'
- elsif @search_cache.exclusive_value? :small_and_precious, true
  = render 'articles/index/featured_libraries_small'
- elsif @search_cache.exclusive_value? :condition, 'old'
  = render 'articles/index/featured_libraries_used'

= render '/articles/shared/search_results', articles: @articles,
    search_cache: @search_cache

- if Rails.env.production? && @search_cache.search_by_term?
  javascript:
    var _paq = _paq || [];
    _paq.push(['trackSiteSearch', "#{@search_cache.q}", false, #{@articles.total_count}]);
