/   Copyright (c) 2012-2017, Fairmondo eG.  This file is
/   licensed under the GNU Affero General Public License version 3 or later.
/   See the COPYRIGHT file for details.

h1= t("article.titles.new")
- if current_user.is_a?(PrivateUser)
  p= tinycms_content "article-introduction-private"
- elsif current_user.is_a?(LegalEntity)
  p= tinycms_content "article-introduction-legal"
= render "form", edit_form: params[:edit_as_new] ? true : false
