- case payment
- when 'bank_transfer'
  Kontonummer...blablabla
- when 'cash'
  = "Bitte bezahle den Betrag von ... bei Abholung"
- when 'paypal'
  = button_tag 'Paypal', class: 'Button'
- when 'cash_on_delivery'
  Deine Artikel werden per Nachnahme verschickt.
- when 'invoice'
  Du erhälst eine Rechnung über den Betrag von...
