.Content
  %h2
    Versand
  - line_item_group.business_transactions.group_by(&:selected_transport).each do |transport, bts|
    .Content
      .transport-header
        %h3= transport
      .transport-status
        %h3
          = fa_icon 'euro'
          = fa_icon 'truck'
      .transport
        .transport-images
          - bts.each do |bt|
            .transport-image
              = link_to image_tag(bt.article.title_image_url(:thumb)), article_path(bt.article)
        .transport-details
          - case transport
          - when ''
          blablba
        .transport-actions
          sdfaksjdfhkjsdhkjfh
