-# f.input :shipping_address, as: :radio, default: nil, collection: current_user.addresses, member_label: lambda { |address| render 'addresses/address', address: address }, wrapper_html: { class: 'address-list' }
hallo
