.Article
	%h3.Article-title
		= link_to resource.article_title, resource.article
	%p
		= t 'transaction.edit.sold_by'
		= link_to resource.article_seller_nickname, resource.article_seller
	%p
		= display_preliminary_price