- selected_payment = resource.selected_payment
- selected_transport = resource.selected_transport
- quantity = resource.quantity_bought

%p
  Bitte schicke den Gesamtbetrag von
  %strong= humanized_money_with_symbol resource.article_total_price selected_transport, selected_payment, quantity
  über PayPal an die folgende Email-Addresse:

%p
  %strong= resource.article_seller_paypal_account

%p
  Gehe dafür folgendermaßen vor:
  %ol
    %li
      Logge Dich bei
      %a{:href => "http://www.paypal.de", target: '_blank'}PayPal.de
      in deinen Account ein.
    %li Klicke auf "Geld senden".
    %li Gib dort die zuvor genannten Daten ein und wickle den Geld-Versand-Vorgang ab.