

/*
 *  Fairnopoly Colors
 */

$fairnopolyBlue: #3C81C3;
$fairnopolyRed: #a14d3f;
$fairnopolyDarkBrown: #6d665d;
$fairnopolyGreen: #78914f;
$fairnopolyGrey:#f3ecea;


/*
 * Other Colors
 */

$inactiveElement: $fairnopolyGrey;
$inactiveElementText: $fairnopolyDarkBrown;


$mainBackground: #e0d6ca;

$darkGrayElement: #969696;

