- if @auction_template
  = semantic_fields_for @auction_template do |template_form|
    = template_form.inputs do
      = template_form.input :save_as_template, :as => :plain_check_box
      = template_form.input :name, :required => false
