<div class="row">
	<div class="span2">
		<%if @categories%>
		<%= render :partial => 'categories_table_filter' ,
		:locals => { :title =>  t("auction.categories.level1"),
		:categories => @categories ,
		:active => @active_category ,
		:show_child => (@subcategories && !@subcategories.empty?) }%>
		<%else%>
		No Categories in System!
		<%end%>
	</div>
	<div class="span2">
		<%if @subcategories && !@subcategories.empty?%>
		<%= render :partial => 'categories_table_filter' ,
		:locals => { :title =>   t("auction.categories.level2"),
		:categories => @subcategories ,
		:active => @active_subcategory ,
		:show_child => (@subsubcategories && !@subsubcategories.empty?) }%>
		<%else%>
		&nbsp;
		<%end%>
	</div>
	<div class="span2">
		<%if @subsubcategories && !@subsubcategories.empty?%>
		<%= render :partial => 'categories_table_filter' ,
		:locals => { :title =>  t("auction.categories.level3") ,
		:categories => @subsubcategories ,
		:active => @active_subsubcategory ,
		:show_child => false }%>
		<%else%>
		&nbsp;
		<%end%>
	</div>
</div>
<div class="row">
	<div class="span6">
		<% if params["selected_category_id"]%>

		<%= link_to (raw glyphicons("icon-trash")) + " " + t("auction.categories.remove-filter") , auctions_path(params_without_reset_page "selected_category_id") , :class => "btn btn-mini"%>
		<%end%>
	</div>
</div>
