<div class="row">
	<div class="span9">
		<%= render "auction_contents"%>
	</div>
	<div class="span3">
		<div class="well">
			<h3> <%= t('auction.form.fieldsets.fees_and_donations') %> </h3>
			
		</div>
	</div>
</div>
