- title truncate_and_sanitize_without_linebreaks @auction.title, 70
- meta_description truncate_and_sanitize_without_linebreaks @auction.content, 160
- meta_keywords @auction.categories_and_ancestors.collect{ |c| c.name }.join(",")

.row
  .span9
    = render :partial => "/auctions/show/auction_contents"
  - if @auction.active
    = render :partial => "/auctions/show/active"
  - else
    = render :partial => "/auctions/show/inactive"
