- title @auction.title
- meta_description @auction.title
- meta_keywords @auction.categories_and_ancestors.collect{ |c| c.name }.join(",")

.row
  .span9
    = render :partial => "/auctions/show/auction_contents"
  - if @auction.active
    = render :partial => "/auctions/show/active"
  - else
    = render :partial => "/auctions/show/inactive"
