<div class="row">
	<div class="span9">
		<%= render :partial => "/auctions/show/auction_contents"%>
	</div>
	<%if @auction.active %> 
		<%= render :partial => "/auctions/show/active"%>
	<%else%>
		<%= render :partial => "/auctions/show/inactive"%>
	<%end%>
</div>

					

