/*
 * 
 * Special CSS Code for the dashboard page
 * 
 */

/*
 * the title name: Forename Surname
 * if there is no Forename Surname, the Nickname will be the Title name
 */
#big-name{
  font-size: 18px;
  font-weight: bold;
}

/*
 * The second title name
 * if there is a title name it will be the nickname/shopname
 */
#small-name{
  font-size: 16px;
  font-weight: normal;
}

/*
 * Button for the products buying
 */
#buy a {   
  background-image: url(buy.png);
 }
/*
 * Button for the products selling
 */
#sell a {   
  background-image: url(sell.png);
}

