/*
 * 
 * Special CSS Code for the welcome page
 * 
 */


#youtube {
  height: 0;
  margin-bottom: 20px;
  border: 1px solid #000;
  padding-top: 25px;
  padding-bottom: 57.25%; //67.5%;
  position: relative;
  overflow: hidden;
  embed, iframe, object, video {
    z-index:0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}


div.progress-landing {
  height: 80px;
}