// Colors
$base:      #000;
$firm:      $fairnopolyBlue;

$gray:      $darkGrayElement;
$lightgray: $fairnopolyGrey;
$inverse:   #fff;

$success:   $fairnopolyGreen;
$danger:    $fairnopolyRed;
$warning:   #f1c40f;
$info:      $fairnopolyBlue;

// Font
$base-font-family: 'Lato', sans-serif;
$base-font-size:   14px;