
/*
 *  Vertical Forms ... Extracted from responsiveness of formtasticplusbootstrap 
 *  Update with formtastic-plus-bootstrap / lib / assets / stylesheets / formtastic-plus-bootstrap / responsive.css.scss in case of problems
 * 
 */


.form-vertical {
   
    label {
      float: none !important;
      text-align: left !important;
      width: auto !important;
      // set abbr closer to label text
     abbr {
        position: relative !important;
        right: 0px !important;
      }
    }
    
     legend {
       width: auto !important;
      float: none !important;
      display: block !important;
    }

    // inline-errors and -hints should be lefties
    p.inline-errors, p.inline-hints {
      margin-left: 0px !important;
    }

    // the height of textareas should be limited
    textarea {
      height: 200px !important;
    }

    // push booleans to the left
    input[type="checkbox"] {
      margin-left: 0px !important;
    }

    
    // groups of choices and fragments go left too
    ol.choices-group, ol.fragments-group {
      margin-left: 0px !important;
      
    }
    
    // Lower the gaps between elements
    fieldset.inputs ol > li.input {
      margin-top: 0px !important;
      margin-bottom: 10px !important;
    }

    // and finally the actions have to go left
    .actions ol {
      margin-left: 0px !important;
    }
  
    fieldset.inputs {
      margin: 0 2px !important;
      padding: 0 !important;
    }

    fieldset.actions {
      margin-left: 0 !important;
      ol {
        margin-left: 0 !important;
      }
      margin-right: 0 !important;
    }

   
  }
  
.form-column {
  fieldset.inputs {
    margin: 0px;
  }
  fieldset.inputs ol > li.input {
    margin: 0px;
  }
}

.form-fit fieldset.inputs ol > li {
      &.input {
        width: 100% !important;
        input, textarea, select, .input-xlarge, .input-xxlarge {
          width: 100% !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        input[type='checkbox'], input[type='radio'] {
          width: auto !important;
        }
      }

      &.stringish {
        input, .input-xxlarge {
          // changing box-sizing we have to correct height
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          height: 28px !important;
        }

      }

      &.text {
        textarea {
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
      }
    }