# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
Fairnopoly::Application.config.secret_token = '599e6eed15b557a8d7fdee1672761277a174a6a7e3e8987876d9e6ac685d68005b285b14371e3b29c395e1d64f820fe05eb981496901c2d73b4a1b6c868fd771'
Fairnopoly::Application.config.secret_key_base = 'c5681369946d41cef75602da03bce3aa5b6031771ff1c12df56b6de774abcda87b5ef5a3bf01bf406f5e79c80a026fc5c43aef0abd6a64fad6f14da4a1de143b'