.hasCustomSelect {
	z-index: 2;
}
.customSelect { 
	@include background-image(linear-gradient(top, #fff, #f7f7f7));
	border: 1px solid #aaa;
	border-radius: em(4);
	color: #000;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-style: italic;
}
.customSelect.customSelectHover {}
.customSelect.customSelectOpen {}
.customSelect.customSelectFocus {}
.customSelectInner {
	background: url(../images/icons/arrow-down.gif) no-repeat right center;
	width: 92% !important;
}