/*
 *  Display Span Labels inside the article image
 */
span.in-image {
  position: absolute;top: 10px; left: 10px;
}

div.in-image-alt {
  position: absolute;bottom: 8px; left: 8px;
  span {
    margin:2px;
  }
}

div.in-image-container {
  min-height:60px;
  position: relative;
}

/*
 * Display the articles thumbnail image correctly
 * with responsive
 */

.title-image-wrapper{
  margin-bottom: 20px;
}
.title_image {
  width:100%;
  border: 1px solid darken($wellBackground, 17%);

}

.thumbnail_image {
  border: 1px solid darken($wellBackground, 17%);
}

/*
 *  Help the thumbnails with the breaking stuff
 */
@media (min-width: 768px) {
  ul.article-thumbnails li.span3:nth-child(4n + 1) {
    margin-left : 0px;
    clear:left;
  }

  .article-thumbnail-list div.span4:nth-child(3n + 1){
    margin-left : 0px;
    clear:left;
  }
}

.article-thumbnail-pagination .pagination{
  margin:0px;

  ul > li > a {
    padding: 0 10px;
    line-height: 25px;
  }
  ul > li > a.next_page {
    float: right;
  }
}


/*
 *  Lower width Browsers
 *
 */
@media (max-width: 767px) {
  .title_image {
    max-width:  ($gridColumnWidth *4 + $gridGutterWidth * 3) !important;
  }
  /* reverse responsiveness */
  ul.article-thumbnails li {
    float: left !important; // Explicity set the float since we don't require .span* classes
    margin-bottom: $baseLineHeight !important;
    margin-right: $gridGutterWidth !important;
    width: $gridColumnWidth !important;
  }
  .article-thumbnail-list div {
    float: left !important;

    width: $gridColumnWidth !important;
  }
}


