%h1
  = t('mass_upload.titles.uploaded_articles')

.Import-detail.Article-info
  %ul
    - @articles.each do |article|
      = render "article_digest", :article => article

= render "mass_activation", :articles => @articles