

/* --------------------- Pre Checkout Cart --------------------- */


/* --------------------- Checkout Step 1 --------------------- */

.formtastic .inputs .unified_payment  > li {
  float:left;

  margin-right:1em;
}
.formtastic .inputs .unified_payment  > li.boolean {
 padding-top: 1em;
}

.formtastic .inputs li.message-text {
  textarea { height: 5em; }
}

/* --------------------- Checkout Step 2 --------------------- */

/* --------------------- Post Checkout Cart --------------------- */