@import "mixins/all";

.feature-inner {
  @include whitebox;
  @include clearfix;
}

.feature-inner > h2 {
  margin: em(6) 0 em(11) 0;
}

.feature--quadruple {
  @include grid-with-columns(1);
}

.feature--quadruple .Grid-item {
  @include between-breakpoints($bp-mobile-horizontal, $bp-desktop) {
    &:last-child {
      display: none
    }
  }
}
.feature--double .Grid-item {
  @include till-breakpoint($bp-tablet-horizontal) {
    &:last-child {
      display: none
    }
  }
}

.feature--double {
  @include grid-with-columns(2);
}
