@import "mixins/all";

.content {
  @include between-breakpoints($bp-mobile-horizontal,$bp-tablet-horizontal) {
    @include span(2 of 3 0.1) ;
  }

  @include at-breakpoint($bp-tablet-horizontal) {
   @include span(3 of 4 0.1) ;
  }
  margin-bottom: 1em;
}

.content-nav, .content-share{
  @include at-breakpoint($bp-tablet-horizontal) {
   @include span(1 of 4 0.1) ;
   @include omega;
  }
  @include between-breakpoints($bp-mobile-horizontal,$bp-tablet-horizontal) {
   @include span(1 of 3 0.1) ;
   @include omega;
  }

  margin-bottom: 1em;
}

.content-share > .take_part  {
  img {
    width: 100%;
  }
}

.content-nav {
  ul {
    list-style:none;
    padding:0;
  }
}

// Use with <div> tag and one of the following modifiers
.content-embed {
  height: 0;
  position: relative;

  iframe {
    height: 100%;
    width: 100%
  }
}

.content-embed--16x9 {
  padding-bottom: 56.25%;
}

.content-embed--4x3 {
  padding-bottom: 75%;
}
