@import "mixins/all";

.content {
  @include between-breakpoints($bp-mobile-horizontal,$bp-tablet-horizontal) {
    @include span(2 of 3 0.1) ;
  }

  @include at-breakpoint($bp-tablet-horizontal) {
   @include span(3 of 4 0.1) ;
  }
  margin-bottom: 1em;
}

// Provide responsiveness for large images
.content > .Content {
  overflow-x: auto;
}


.content-nav, .content-share{
  @include at-breakpoint($bp-tablet-horizontal) {
   @include span(1 of 4 0.1) ;
   @include omega;
  }
  @include between-breakpoints($bp-mobile-horizontal,$bp-tablet-horizontal) {
   @include span(1 of 3 0.1) ;
   @include omega;
  }

  margin-bottom: 1em;
}

.content-share > .take_part  {
  @include whitebox;
  background-color: #5F9537;
  color: $white;
  text-align: center;

  .Button{
    margin-bottom: 1em;
  }

  img {
    width: 100%;
  }
}

.content-nav {
  ul {
    list-style:none;
    padding:0;
  }
}
