@import "mixins/all";

.library-form {
  @include whitebox;
  margin-bottom: 1em;
}

.libraries {
  clear: both;
  margin-top: 2em;
}

ul.view_menu {
  list-style-type: none;
  padding: 0 1.5em;
  border-bottom: 1px solid $blue;
  margin: 0 -1.5em;
  overflow: hidden;


  li {
    float: left;
    text-transform: uppercase;
    font-size: 1.3em;
  }

  a, li.selected {
    display: block;
    padding: 0 1em;
    line-height: 2.2em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border: 1px solid $blue;
    border-bottom: none;
    text-decoration: none;
  }

  a {
    color: $black;
    background-color: $light-blue;
  }

  a:hover, a:focus {
    color: $white;
    background-color: $blue;
  }

  li.selected {
    color: $black;
    background-color: $white;
  }



/*    a {
      color: $black;
      background-color: $light-blue;

    }
*/



}