@import "mixins/all";

#library-form {
  @include whitebox;
  margin-bottom: 1em;
  clear: both;
}

#library-form-link {
  margin: 1em 0;
  text-align: right;
}

.libraries {
  clear: both;
  border-top: 0.1em solid $lighter-gray;
  padding-top: 1em;
}
