@import "mixins/all";


// index

.library-form {
  @include whitebox;
  margin-bottom: 1em;
}

.library-settings-actions {
  float:right;
  margin-bottom: 1em;
}

.visibility {
  font-weight: 600;
}


// global_index

.library-userimage {
  display:none;
  float:left;
  margin-right: 1em;
  padding: 0.5em;
  background-color: white;
  border-radius: 0.6em;
  img {
    height:7em;
    width:7em;
  }
  @include at-breakpoint($bp-tablet) {
    display:block;
  }

}

.library-text {
  margin-bottom:0.5em;
}

.library-title {
  font-size:1.5em;
}
.library-user {
  font-weight: 600;
}

.library-thumbnails {
  height: 6em;
  overflow: hidden;
}

.library-elements {
  clear: both;
  margin-top: 10px;
}

.library-thumbnail {
  height: 5em;
  padding: 0.5em;
  display: inline-block;
  margin-right: 0.2em;
  border-radius: 0.6em;
  background-color: white;
}

.library-actions {
  margin: em(10) em(20);
}

.library-comments {
  margin-top: 0.6rem;
}

details {
  margin-bottom: 1em;
 // @include whitebox;
  border-radius: 0.5em;
  border: 1px solid $lighter-gray;
  box-shadow: $even-lighter-gray 0px 0px 2px 1px;
  display: block;
  &:hover {
  }
  summary::-webkit-details-marker {
    display:none;
  }
  summary:focus {
    outline: none !important; //prevent nasty linkish outlines
  }

  summary {
    padding: em(10) em(20);
    display: block;
    &:hover {
      background-color: $even-lighter-gray;
    }
  }
}

details.open {
  summary {
    border-radius: 0.5em 0.5em 0 0;
    &:hover {
      background-color: $even-lighter-gray;
    }
  }
}

details.open .library-comments {
  display: none;
}

.details {
  padding: em(10) em(20);
}

.library-buttons {
  float: right;
  > div {
    display: inline-block;
  }
}
