@import "mixins/all";

.payment-group {
  @include whitebox;
  display: inline-block;
  width: calc(100% - 2em);

  @include at-breakpoint($bp-desktop) {
    .payment-group-images {
      @include span(1 of 3 0.1);
    }

    .payment-group-details {
      @include span(2 of 3 0.1);
    }

    .payment-group-actions {
      @include span(3 of 3 0.1);
      @include omega;
    }
  }
}

.payment-group-header {
  @include span(1 of 3 0.1);
  overflow: hidden;
  display: inline-block;
}

.payment-group-status {
  @include span(3 of 3 0.1);
  @include omega;
  overflow: hidden;
  display: inline-block;
  width: auto;
}

.payment-group > .payment-group-images {
  float: left;
  overflow: hidden;
}

.payment-group > .payment-group-images > .payment-group-images-image {

  position: relative;
  display: inline-block;
  img {
    height: 3em;
    width: auto;
    border: solid;
  }
}

.payment-group > .payment-group-details {
  overflow: hidden;
  display: inline-block;
  width: auto;
}

.payment-group > .payment-group-actions {
  overflow: hidden;
  width: auto;
}


.transport {

  @include whitebox;
  display: inline-block;
  width: calc(100% - 2em);

  @include at-breakpoint($bp-desktop) {
    .transport-images {
      @include span(1 of 3 0.1);
    }

    .transport-details {
      @include span(2 of 3 0.1);
    }

    .transport-actions {
      @include span(3 of 3 0.1);
      @include omega;
    }
  }
}

.transport-header {
  @include span(1 of 3 0.1);
  overflow: hidden;
  display: inline-block;
}

.transport-status {
  @include span(3 of 3 0.1);
  @include omega;
  overflow: hidden;
  display: inline-block;
  width: auto;
}

.transport > .transport-details {
  overflow: hidden;
  display: inline-block;
  width: auto;
}

.transport > .transport-actions {
  overflow: hidden;
  width: auto;
}

.transport > .transport-images {
  float: left;
  overflow: hidden;
}

.transport > .transport-images > .transport-image {

  position: relative;
  display: inline-block;
  img {
    height: 3em;
    width: auto;
    border: solid;
  }
}


/*
  Here be stuff for LineItemGroup#show view
*/

.container {
  overflow: hidden;

}

.container > .content-wrapper {
  @include span(3 of 4 0.1);
}

.container > .content-wrapper > .content {
  @include shadowless_whitebox;
}

.container > .content-wrapper > .content > .message {
  @include shadowless_whitebox;
}

.container > .sidebar {
  @include span(1 of 4 0.1);
  @include omega;
}

.Address {
  @include shadowless_whitebox;
  margin-bottom: 0.5em;
}

.lineItem {
  @include shadowless_whitebox;
  margin-bottom: 0.5em;
  overflow: hidden;
  clear: both;
}

.lineItem > .lineItem-container {
  @include span(11 of 12);
  @include omega;
  float: right;
}

.lineItem > .lineItem-container > .lineItem-title {
  @include span(3 of 3);
}

.lineItem > .lineItem-image {
  @include span(1 of 12);
  float: left;
  img {
    width: 100%;
  }
}

.lineItem > .lineItem-container > .lineItem-details {
  @include span(2 of 3);

}

.lineItem > .lineItem-container > .lineItem-buttons {
  @include span(1 of 3);
  @include omega;
}
