@import "mixins/all";

// rating #new

.rating_form > .rating_form-inner {
  @include whitebox;
}

.rating_form .rating-choice span{
  vertical-align: middle;

}

// rating #index

.ratings > .Rating {
  margin-bottom:1em;
}

// layouts and responsiveness

@include at-breakpoint($bp-tablet-horizontal) {
  .user { @include span(1 of 4 0.1); }
  .rating_form { @include span(2 of 4 0.1); }
  .ratings { @include span(3 of 4 0.1);
             @include omega; }
}

@include between-breakpoints($bp-tablet,$bp-tablet-horizontal) {
  .user { @include span(1 of 3 0.1); }
  .rating_form { @include span(2 of 3 0.1);
                 @include omega; }
  .ratings { @include span(2 of 3 0.1);
             @include omega; }
}

@include at-breakpoint($bp-mobile-horizontal) {
  .rating_form .rating-choice .choice {
    display:inline;
    margin-right:1em;
  }
}



