
@import "mixins/all";

// Login and registration form

.registrations-form {
  @include at-breakpoint($bp-tablet) {
		@include span(3 of 4);
	}
	@include at-breakpoint($bp-tablet-horizontal) {
		@include span(2 of 4);
	}
  @include whitebox;
  margin-bottom: 3em;

}

.registrations-grid > ol > li {
  @include at-breakpoint($bp-tablet-horizontal) {
    @include span(2 of 4);
    &:nth-child(2n) {
    @include omega;
    }
  }

}

// Password jquery-complexify
.formtastic {
  .pw-complexify {
    label.label, .progress {
      display: none;
    }
    .bar {
      height: 2em;
    }
    .progress {
      border-radius: 0.9em;
      border: 1px solid $light-gray;
      overflow: hidden;
    }
    .bar--red {
      background: $red;
    }
    .bar--green {
      background: $green;
    }
  }
}


// edit user

.visibility {
  float:right;
}

.Accordion-step > p {
  margin-bottom: 1em;
}


.user-edit > .formtastic .stringish input, .user-edit > .formtastic .pw-complexify {
  @include at-breakpoint($bp-tablet) {
    width:30%;
  }
}