
@import "mixins/all";

// Login and registration form

.registrations-form {
  @include at-breakpoint($bp-tablet) {
		@include span(3 of 4);
	}
	@include at-breakpoint($bp-tablet-horizontal) {
		@include span(2 of 4);
	}
  @include whitebox;
  margin-bottom: 3em;

}

.registrations-grid > ol > li {
  @include at-breakpoint($bp-tablet-horizontal) {
    @include span(2 of 4);
    &:nth-child(2n) {
    @include omega;
    }
  }

}

// Password jquery-complexify
.formtastic {
  .pw-complexify {
    label.label, .progress {
      display: none;
    }
    .bar {
      height: 2em;
    }
    .progress {
      border-radius: 0.9em;
      border: 1px solid $light-gray;
      overflow: hidden;
    }
    .bar--red {
      background: $red;
    }
    .bar--green {
      background: $green;
    }
  }
}


// edit user

.visibility {
  position: relative;
  margin-right: 2em;
  float:right;
  > span.sprite_helper {
    top: 0;
    right: -2em;
  }
}

.Accordion-step > p {
  margin-bottom: 1em;
}


.user-edit > .formtastic .stringish input, .user-edit > .formtastic .pw-complexify {
  @include at-breakpoint($bp-tablet) {
    width:30%;
  }
}

.formtastic .inputs li.unified_transport_maximum_articles {
  * { display: inline; color: black; }
  label {margin-right: 0.5em; }
  input { font-size: 0.9em; line-height:0.9em; width: 5em }
  p.inline-hints{ color: black; }
}

.formtastic .inputs li.free_transport_available, .formtastic .inputs li.free_transport_at_price_cents  {
  overflow:visible;
  display: inline;
  .icheckbox {top: 0.1em;}
  label { color: black;  display: inline; }
  input { font-size: 0.9em; line-height:0.9em; width: 5em; display: inline; }
  p.inline-hints{ color: black; display: inline; }
}
.formtastic .inputs li.free_transport_at_price_cents {
  label { margin-right: 0.5em; }
}

.unified_transport_title, .free_transport_title {
  position: relative;
}

