@import "mixins/all";

#sessions_form {
  @include at-breakpoint($bp-tablet) {
		@include span(1 of 2);
	}

  form {
    width: 17.5em;
    max-width: 100%;
    margin-bottom: 2em;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 0.5em 0;
    }
  }
}

#sessions_marketing {
  display: none;
}

@include at-breakpoint($bp-tablet) {
  #registration_link {
    display: none;
  }

  #sessions_marketing {
    margin-top: 0.5em;
    display: block;
    @include span(1 of 2);
    @include omega;
  }
}