@import "mixins/all";


/*
 * Responsive stuff
 */


// mobile-horizontal
@include between-breakpoints($bp-mobile-horizontal, $bp-tablet) {
  #billboard {
    @include span(2 of 4);
  }

  #uspteaser {
    @include span(2 of 4);
    @include omega;
  }
}


@include at-breakpoint($bp-mobile-horizontal) {
  .teaser--double {
    .teaser-queue {
      @include span(2 of 4);
      &:last-child {
        @include omega;
      }
    }
  }
}

// tablet
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  .teaser--double {
    @include span(4 of 6);
  }

  .teaser--collapsible {
    @include span(2 of 6);
    @include omega;

    .teaser-queue {
      margin: 0;
      width: 100%;
      float: none;
      margin-bottom: 1em;
    }
  }

  #billboard {
    @include span(4 of 6);
  }

  #uspteaser {
    @include span(2 of 6);
    @include omega;
  }

  // Remove one article from a teaser for layout reasons
  .teaser--reducible {
    .teaser-queue {
      &:first-child {
        @include omega;
      }
    }
    .teaser-queue {
      &:last-child {
        display: none;
      }
    }
  }
}


// tablet-horizontal
@include at-breakpoint($bp-tablet-horizontal) {
  .teaser--double {
    @include span(4 of 8);
  }

  .teaser--collapsible {
    @include span(4 of 8);
    @include omega;
  }

  #billboard {
    @include span(6 of 8);
  }

  #uspteaser {
    @include span(2 of 8);
    @include omega;
  }

  .teaser--news {
    @include omega;
  }

  .category-dropdown {
    display:none;
  }
}




/*
 * Normal stuff
 */

.teaser {
  margin-bottom: 1em;
}

.teaser-inner {
  @include whitebox;
}

.teaser > .teaser-inner > h2 {
  text-transform: uppercase;
}

.teaser--double {
  .teaser-inner {
    @include clearfix;
  }
  .teaser-queue {
    margin-bottom: 1em;
  }
}

.teaser-queue > .Button {
  margin:0.5em;
}

.teaser--full {
  clear: both;
  width: 100%;
}

.teaser--hearted_libraries {
  h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}






// Arrows for slides

.teaser-arrow {
  display: block;
  position: absolute;
  margin-top: -14px; //half height of the arrows
  top: 50%;
  z-index: 100;
}

.teaser-arrow--left {
  left:1em;
}

.teaser-arrow--right {
  right:1em;
}


// Videos

.teaser-inner {
  iframe {
   max-width:100%;
  }
}

// User quotes slides
.teaser--userslides {
  overflow: hidden;
  position: relative;

  .teaser-inner {
    padding: 1em 4em;
  }

  .teaser-quotation {
    margin:0;
		font-weight: 600;
		font-style: italic;
		font-size: 1.1rem;
  }

  .teaser-quotesource {
	text-align: right;
    text-transform: uppercase;
  }

  .teaser-quote {
	font-weight: 600;
	font-size: 1.5em;
	line-height: 0.8rem;
   }

  img {
    float: left;
    margin-right: 1em;
    border-radius: 0.5em;
  }

  .slidesjs-container,.slidesjs-control {
     height: auto !important;
  }

}

// Card slides

.teaser--cardslides {
  position: relative;

}

.teaser--cardslides >.teaser-inner > #js-cardslides {
  margin-left:auto;
  margin-right:auto;
  max-width: 28.15em;
}

// Rss Blog

.teaser--hide {
  border: none;
  box-shadow:none;
}

.teaser-rss {
  p {
    margin: 0 0 0.5em 0;
  }
  @include clearfix;
  img {
    float:left;
    border-radius: 0.9em;
    width: 4em;
    margin-right: 1em;
    margin-bottom: 1em;

  }
  &:nth-child(2n+1) {
    img{
      margin-left: 1em;
      margin-right: 0em;
      float: right;
    }
  }
}








// Others

// Center text within teaser
.teaser--center {
  text-align: center;
}




.teaser--clear {
  clear: both;
}

.teaser--ngos {
  img {
    height:6em;
    width: 6em;
    margin-left: 1em;
    border-radius: 0.9em;
  }
}


h5 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}


ul.image_list {
  text-align: justify;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    position: relative;
    top: 1.2em; /* our line-height */

    a {
      display: inline-block;
    }
  }

  &:before{
    content: '';
    display: block;
    width: 100%;
    margin-bottom: -1.2em; /* our line-height */
  }

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}





/*
 * Billboard
 */


#billboard {
  margin-bottom: 1em;
}


#billboard-inner {
  @include whitebox;
  //background-color: #ec5400;
  padding: 0;
  height: 410px;
  position: relative;
  overflow: hidden;
  color: $white;
}
    

#billboard-inner h2 {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 10px;
  font-size: 2em;
  font-weight: bold;
}


#billboard-inner-imagemap {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  height: 410px;

  width: 697px;  // minimum width of this thing
  background-image: image-url('welcome/billboard-1-big.png');
  
  @include till-breakpoint($bp-tablet-horizontal) {
    width: 208px;
    background-image: image-url('welcome/billboard-1-small.png');  
  }
}


#billboard-inner-imagemap section {
  position: absolute;
  top: 55px;

  &#section1 { left: 103px; }
  &#section2 { left: 254px; }
  &#section3 { left: 406px; }
  &#section4 { left: 557px; }

  @include till-breakpoint($bp-tablet-horizontal) {
    &#section1 { left: 72px; }
    &#section2 { display: none; }
    &#section3 { display: none; }
    &#section4 { display: none; }
  }
}


#billboard-inner-imagemap h3 {
  position: absolute;
  top: 0px;
  left: 0;
}


#billboard-inner-imagemap a.articlelink {
  position: absolute;
  top: 89px;
  left: 0;
  display: block;  
  width: 115px;
  height: 160px;
  text-indent: -1000em;

  &:hover, &:focus {
    border: 1px dotted $white;
  }
}


#billboard-inner-imagemap a.librarylink {
  position: absolute;
  top: 258px;
  left: 0;
  font-weight: 300;
  font-size: 0.9em;
  color: $white;
  border-bottom: 1px solid $white;

  &:before {
    content: '+';
    margin-right: 0.5em;
  }

  &:hover {
    text-decoration: none;
  }
}








/*
 * USP Teaser
 */

#uspteaser {
  margin-bottom: 1em;
}

#uspteaser-inner {
  @include whitebox;
  background: #65aef3 image-url('welcome/logo.png') no-repeat 50% 10%;
  background-size: 70%;
  padding: 0;
  height: 410px;
  position: relative;
  color: $white;
}

#uspteaser-inner p:first-child {
  margin: 100px auto 20px;
  width: 220px;
  font-size: 1em;
  font-weight: bold;
}

#uspteaser-inner p:last-child {
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  bottom: 15px;
  text-align: center;
}

#uspteaser-inner ul {
  width: 80%;
  min-width: 200px;
  max-width: 300px;
  margin: 1em auto;
  list-style: none;
  padding: 0;
  overflow: hidden;

  li {
    font-size: 0.9em;
    font-weight: 300;
    float: left;
    padding-left: 0;
    margin-bottom: 1em;

    &:before {
      content: '\f111'; /*fontawesome char code inside the '' */
      font-family: FontAwesome;
      font-size: 3em;
      padding-right: 0.25em;
      display: block;
      clear: left;
      float: left;
    }
  }
}

