@import "mixins/all";
@import "billboards/billboard-subscriptions";
@import "billboards/billboard-ecobookstore";
//@import "billboards/billboard-toys";
@import "billboards/billboard-gifts";
//@import "billboards/billboard-gourmet";
@import "billboards/billboard-books";
//@import "billboards/billboard-bybike";


/*
 * General teaser classes
 */

.teaser { margin-bottom: 1em; }

.teaser > .teaser-inner {
  @include whitebox;
  @include clearfix;
}

.teaser > .teaser-inner > h2 {
  font-weight: 600;
}

.teaser > .teaser-inner > h5 {
  text-transform: uppercase;
  margin-top: 0;
}

.teaser > .teaser-inner > .more {
  clear: both;
  text-align: right;
  padding-right: 1em;
}

// List for press and ngo images
.teaser > .teaser-inner > ul.image-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.teaser > .teaser-inner > ul.image-list > li {
  display: inline-block;
  margin: 0 1em;
}

// Article wrapper div
.teaser > .teaser-inner > .teaser-queue { margin-bottom: 1em; }

.teaser > .teaser-inner > .teaser-commendations { float: right; }

.teaser--full {
  clear: both;
  width: 100%;
}

.teaser--hearted_libraries > .teaser-inner > h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.teaser--center { text-align: center; }

.teaser--clear { clear: both; }



/*
 * General slides classes
 */

.slides { position: relative; }

.slides-arrow {
  display: block;
  position: absolute;
  margin-top: -1.25em; //half height of the arrows
  top: 50%;
  z-index: 11;
}

// Fontawesome Arrows
.slides-arrow i {
  font-size: 2.5em;
  color: $white;
  text-shadow: 0 0 1px $black;
}

.slides-arrow--left { left:1em; }

.slides-arrow--right { right:1em; }


/*
 * Specific stuff
 * Ordered after appearance on page
 */


// Billboards
// (Specific properties for different billboards
// are defined in the respective SASS partials.)

#billboard { margin-bottom: 1em; }

#billboard-inner {
  @include whitebox;
  padding: 0;
  width: auto;
  height: 410px;
  min-height: 410px;
  position: relative;
  overflow: hidden;
  color: $white;
}

.billboard {
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 0.5em;  // Circumvent bug in Webkit browsers that would hide the rounded border from #billboard-inner
  height: 410px;
}

.billboard > article {
  position: relative;
  margin: 0 auto;
  height: 410px;
}

// Set position to absolute for elements that are used in billboards
.billboard > article h2,     .billboard > article h3,
.billboard > article div,    .billboard > article p,
.billboard > article > a {
  position: absolute;
}

// Clear margins
.billboard > article h2,  .billboard > article h3,
.billboard > article div, .billboard > article p,
.billboard > article ul,  .billboard > article li {
  margin: 0;
}

.billboard > article > ul {
  list-style-type: none;
}

#js-billboardslides { display: none; }

#billboard .slidejs-container, #billboard .slidejs-control,
#billboard .slidejs-slide {
  min-height: 410px;
}

// USP teaser
#usp { margin-bottom: 1em; }

#usp-inner {
  @include whitebox;
  background: $blue;
  padding: 0;
  height: 410px;
  position: relative;
  color: $white;
}


#usp-inner h2 {
  width: 80%;
  min-width: 185px;
  max-width: 300px;
  margin: 8% auto;
  font-size: 1.5em;
  font-weight: 600;
}


#usp-inner > ul {
  width: 80%;
  min-width: 185px;
  max-width: 300px;
  margin: 10% auto 0;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

#usp-inner > ul > li {
  font-size: 1em;
  float: left;
  padding-left: 0;
  margin-bottom: 5%;

  &:before {
    content: '\f111';
    font: normal 2em FontAwesome;
    margin: 0.2em 2.5% 0.5em 0;
    display: block;
    clear: left;
    float: left;
  }
}

#usp-inner > ul > li > a {
  color: $white !important;
  text-decoration: underline !important;

  &:hover, &:focus, &:active {
    color: darken($white, 20%) !important;
  }
}

#usp-inner > p {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 0 8%;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

#usp-inner > p > a {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;  // For Fennec
  width: 80%;
  min-width: 185px;
  max-width: 300px;
  margin: 0 auto;

  background-color: $white;
  color: $blue !important;

  &:hover, &:focus, &:active {
    color: lighten($blue, 10%) !important;
  }
}


// Filters teaser
.teaser--filters {
  margin-bottom: 1em;
}

.teaser--filters > .teaser-inner {
  @include whitebox;
  overflow: hidden;
  padding: 0;
}

.teaser--filters .filter-image {
  position: relative;
  background-color: $white;
}

.teaser--filters .filter-image p {
  position: absolute;
  margin: 0;
  padding: 0.2em 1em;
  border-radius: 0.5em;
}

.teaser--filters .filter-image .filter-show {
  bottom: 5%;
  right: 5%;
  padding-bottom: 0.3em;
}

.teaser--filters .filter-image .filter-label {
  right: 5%;
  top: 5%;
  min-width: 3em;
  font-size: 1.1em;
  text-transform: uppercase;
  text-align: center;
}

.teaser--filters img {
  width: 100%;
}

.teaser--filters .filter-text {
  padding: 1.2em 0 1.2em;
}

.teaser--filters a:link,
.teaser--filters a:visited,
{
  color: $white;
}

.teaser--filters h2 {
  margin: 0 7.5% 0.5em;
  font-size: 1.5em;
  font-weight: 600;
  color: $white;
  &:hover {
    text-decoration: none;
  }
}

.teaser--filters .filter-text p {
  margin: 0 7.5%;
  text-decoration: underline;
}

#filter-fair .filter-image p, #filter-fair .filter-text {
  background-color: #457193;
}

#filter-eco .filter-image p, #filter-eco .filter-text {
  background-color: #768749;
}

#filter-small .filter-image p, #filter-small .filter-text {
  background-color: #e47240;
}

#filter-used .filter-image p, #filter-used .filter-text {
  background-color: #574c44;
}



// User quotes slides
#userslides {
  .slidesjs-container,.slidesjs-control {
    height: auto !important;
  }

  .teaser-inner {
    padding: 0;
  }

  .user-slide {
    padding: 1em 3em;
    overflow: hidden;
  }

  img {
    float: left;
    margin-right: 2em;
    border-radius: 0.5em;
  }

  blockquote {
    margin: 0.5em 0 0;
    float: left;
    width: 70%;
    position: relative;
  }

  // FontAwesome 'right-quote' character (German typographical left quote)
  blockquote:before {
    position: absolute;
    left: -0.3em;
    top: -0.2em;
    z-index: -1;
    font: normal 4em FontAwesome;
    content: '\f10e';
    color: $lighter-gray;
  }

  .teaser-quotation {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
  }

  .teaser-quotesource {
    margin: 1em 0 0;
  }

}


// Card slides
#cardslides > .teaser-inner > #js-cardslides {
  margin-left:auto;
  margin-right:auto;
  max-width: 28.15em;
}


// Blog
#news > .teaser-inner > .blog-article-summary {
  @include clearfix;

  p {
    margin: 0 0 0.5em 0;
  }

  img {
    float:left;
    border-radius: 0.9em;
    width: 4em;
    margin-right: 1em;
    margin-bottom: 1em;

  }

  &:nth-child(2n+1) > img {
    margin-left: 1em;
    margin-right: 0em;
    float: right;
  }
}

#news > .teaser--hide {
  border: none;
  box-shadow: none;
}

#coop > .teaser-inner img {
  max-width: 100%;
}


// Others
#ngos img {
  height:6em;
  width: 6em;
  margin-left: 1em;
  border-radius: 0.9em;
}



/******************************** Breakpoints *********************************/


// mobile-horizontal
@include till-breakpoint($bp-mobile-horizontal) {
  #used .teaser-queue:last-of-type {
    display: none;
  }
}


@include between-breakpoints($bp-mobile-horizontal, $bp-tablet) {
  #billboard {
    @include span(2 of 4);
  }

  #usp {
    @include span(2 of 4);
    @include omega;
  }

  // Filters teaser
  .teaser--filters {
    @include span(2 of 4);

    &#filter-eco, &#filter-used {
      @include omega;
    }

    &#filter-small {
      clear: right;
    }
  }
}



@include at-breakpoint($bp-mobile-horizontal) {
  .teaser--double .teaser-queue {
    @include span(2 of 4);
    &:last-of-type {
      @include omega;
    }
  }
}



// tablet
@include till-breakpoint($bp-tablet) {
  // Billboard general properties
  .billboard > article {
    width: 210px;
  }

  .billboard > article > h2 {
    font-size: 2em;
  }

  #userslides img {
    display: none;
  }

  #userslides blockquote {
    width: auto;
  }
}


@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  .teaser--double {
    @include span(4 of 6);
  }

  .teaser--collapsible {
    @include span(2 of 6);
    @include omega;

    .teaser-queue {
      margin: 0;
      width: 100%;
      float: none;
      margin-bottom: 1em;
    }
  }

  // Billboard general properties
  #billboard {
    @include span(4 of 6);
  }

  .billboard > article {
    width: 450px;
  }

  .billboard > article > h2 {
    font-size: 2.5em;
  }


  // USP teaser
  #usp {
    @include span(2 of 6);
    @include omega;
  }


  // Filters teaser
  .teaser--filters {
    @include span(2 of 6);

    &#filter-small {
      @include omega;
    }

    &#filter-used {
      display: none;
    }
  }



  // Used teaser
  #used {
    @include span(2 of 6);
    @include omega;
  }

  #used .teaser-queue {
    @include span(2 of 2);

    &:first-child {
      @include omega;
    }
    &:last-of-type {
      display: none;
    }
  }

  // Remove one article from a teaser for layout reasons
  .teaser--reducible .teaser-queue {
    &:first-child {
      @include omega;
    }
    &:last-child {
      display: none;
    }
  }
}


// tablet-horizontal
@include at-breakpoint($bp-tablet-horizontal) {
  .teaser--double {
    @include span(4 of 8);
  }

  .teaser--collapsible {
    @include span(4 of 8);
    @include omega;
  }


  // Billboard general properties
  #billboard {
    @include span(6 of 8);
  }

  .billboard > article {
    width: 700px;
  }

  .billboard > article > h2 {
    //font-size: 2.9em;
  }


  // USP teaser
  #usp {
    @include span(2 of 8);
    @include omega;
  }

  // Filters teaser
  .teaser--filters {
    @include span(2 of 8);

    &#filter-used {
      @include omega;
    }
  }

  // Used teaser
  #used {
    @include span(2 of 8);
    @include omega;
  }

  #used .teaser-queue {
    @include span(2 of 2);

    &:first-child {
      @include omega;
    }
    &:last-of-type {
      display: none;
    }
  }


  // Blog
  #news {
    @include omega;
  }

  .category-dropdown {
    display:none;
  }
}
