@import "mixins/all";


/*
 * Responsive stuff
 */

@include till-breakpoint($bp-tablet-horizontal) {
  #teaser--first {
    .teaser-queue {
      &:last-child {
        display: none;
      }
    }
  }
}

// mobile-horizontal
@include between-breakpoints($bp-mobile-horizontal, $bp-tablet) {
  #bluebox {
    .bluebox-inner {
      width: 70%;
      margin: 0 auto;
    }
  }
}

@include between-breakpoints($bp-mobile-horizontal, $bp-tablet-horizontal) {
  #teaser--first {
    .teaser-queue {
      @include span(2 of 4);
      &.teaser-queue-before-hidden {  // Name????
        @include omega;
      }
    }
  }
}

@include at-breakpoint($bp-mobile-horizontal) {
  .teaser--double {
    .teaser-queue {
      @include span(2 of 4);
      &:last-child {
        @include omega;
      }
    }
  }
}

// tablet
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  .teaser--double {
    @include span(4 of 6);
  }

  .teaser--collapsible {
    @include span(2 of 6);
    @include omega;

    .teaser-queue {
      margin: 0;
      width: 100%;
      float: none;
      margin-bottom: 1em;
    }
  }

  #bluebox {
    @include span(2 of 6);
    @include omega;
  }

  // Remove one article from the used teaser for layout reasons
  #teaser--used {
    .teaser-queue {
      &:first-child {
        @include omega;
      }
    }
    .teaser-queue {
      &:last-child {
        display: none;
      }
    }
  }
}

@include between-breakpoints($bp-tablet, $bp-desktop) {
  #teaser--first {
    .teaser-inner {
      padding-bottom: 3.5em;
    }
  }
}

// tablet-horizontal
@include at-breakpoint($bp-tablet-horizontal) {
  .teaser--double {
    @include span(4 of 8);
  }

  .teaser--collapsible {
    @include span(4 of 8);
    @include omega;
  }

  #teaser--first {
    @include span(6 of 8);

    .teaser-queue {
      @include span(2 of 6);
      &:last-child {
        @include omega;
      }
    }
  }

  #bluebox {
    @include span(2 of 8);
    @include omega;
  }

  .teaser--news {
    @include omega;
  }

  .category-dropdown {
    display:none;
  }
}

// bp-desktop
@include at-breakpoint($bp-desktop) {
  #teaser--first {
    .teaser-inner {
      padding-bottom: 2.7em;
    }
  }
}



/*
 * Normal stuff
 */

.teaser {
  margin-bottom: 1em;
}

.teaser-inner {
  @include whitebox;
}

.teaser > .teaser-inner > h2 {
  text-transform: uppercase;
}

.teaser--double {
  .teaser-inner {
    @include clearfix;
  }
  .teaser-queue {
    margin-bottom: 1em;
  }
}

.teaser-queue > .Button {
  margin:0.5em;
}

.teaser--full {
  clear: both;
  width: 100%;
}

// Arrows for slides

.teaser-arrow {
  display: block;
  position: absolute;
  margin-top: -14px; //half height of the arrows
  top: 50%;
  z-index: 100;
}

.teaser-arrow--left {
  left:1em;
}

.teaser-arrow--right {
  right:1em;
}


// Videos

.teaser-inner {
  iframe {
   max-width:100%;
  }
}

// User quotes slides
.teaser--userslides {
  overflow: hidden;
  position: relative;

  .teaser-inner {
    padding: 1em 4em;
  }

  .teaser-quotation {
    margin:0;
		font-weight: 600;
		font-style: italic;
		font-size: 1.1rem;
  }

	.teaser-quotesource {
		text-align: right;
	}

	.teaser-quote {
		font-weight: 800;
		font-size: 1.5em;
		line-height: 0.8rem;
  }

  img {
    float: left;
    margin-right: 1em;
    border-radius: 0.5em;
  }

  .slidesjs-container,.slidesjs-control {
     height: auto !important;
  }

}

// Card slides

.teaser--cardslides {
  position: relative;

}

.teaser--cardslides >.teaser-inner > #js-cardslides {
  margin-left:auto;
  margin-right:auto;
  max-width: 28.15em;
}

// Rss Blog

.teaser--hide {
  border: none;
  box-shadow:none;
}

.teaser-rss {
  p {
    margin: 0 0 0.5em 0;
  }
  @include clearfix;
  img {
    float:left;
    border-radius: 0.9em;
    width: 4em;
    margin-right: 1em;
    margin-bottom: 1em;

  }
  &:nth-child(2n+1) {
    img{
      margin-left: 1em;
      margin-right: 0em;
      float: right;
    }
  }
}

// Others

// Center text within teaser
.teaser--center {
  text-align: center;
}

// Blue box
#bluebox {
  margin-bottom: 1em;

  #bluebox-container {
    @include whitebox;
    padding: 0;
  }

  .bluebox-header {
    margin: 0.3em 0 0.2em;
    text-align: center;
  }

  .bluebox-ornament-left {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 1em;
    height: 1em;
    background-color: $light-blue;
    width: 50%;
  }

  .bluebox-ornament-right {
    border-top-left-radius: 1em;
    border-top-right-radius: 0.5em;
    float: right;
    height: 1em;
    background-color: $light-blue;
    width: 50%;
  }

  .bluebox-content {
    clear: both;
    position: relative;
    background-color: $light-blue;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    .bluebox-text {
      padding: 0.2em 0.8em 0.3em;
    }
  }

  #bluebox1 .bluebox-content {
    height: 110px;
  }

  #bluebox2 .bluebox-content {
    height: 110px;
  }

  #bluebox3 .bluebox-content {
    height: 90px;
  }

  .bluebox-link {
    position: absolute;
    width: 100%;
    bottom: 0.5em;
    text-align: center;

    a {
      display: inline-block;
      background-color: $white;
      min-width: 8.5em;
      padding: 0.1em 1em;
      border-radius: 0.4em;
    }
  }
}

#teaser--clear-after-bluebox {
  clear: both;
}

.teaser--ngos {
  img {
    height:6em;
    width: 6em;
    margin-left: 1em;
    border-radius: 0.9em;
  }
}

.teaser--known_from {
  span {
    display:inline-block;
    margin: 1em;
  }
}
