

<div>
	<%=form_tag({:action => "add_to_library" ,:method => "post"} ,{:class =>  "form-inline" }) do %>
		<%= hidden_field_tag 'id', library_element.id%>
		<% unless (!current_user)%>
			<%= select_tag "library_id", options_from_collection_for_select(libraries, "id", "name"), :class=>"btn-fill boarder-no-bottom" %>
		<%end%>
		<button type="submit" class="btn btn-fill btn-white boarder-no-top"><%=t('auction.actions.to-collection')%></button>
	<%end%>
</div>
