$(".SearchView").replaceWith("<%= j(render 'shared/search_view', articles: @articles, search_cache: @search_cache) %>")
$(".Hidden-search_cache").replaceWith("<%= j( render 'shared/hidden_params', article_search_form: params[:article_search_form]) %>");

var $articles = $('.l-ArticleList');
if ($articles.length > 0) {
  $articles.prepend('<div class="Search-GutterSizer"></div><div class="Search-GridSizer"></div>');
    $articles.masonry({
      itemSelector: '.Search-Grid',
      gutter: '.Search-GutterSizer',
      columnWidth: '.Search-GridSizer'
    });
}
