.take_part
  = link_to image_tag('campaign_shares.jpg', alt: 'Fairmondo jetzt unterstützen und Anteile an '\
                                                  'der Genossenschaft zeichnen.'),
            '/articles/anteile-an-der-fairmondo-eg'
