- if @search_cache
  - if @search_cache.searched_category == category && category.children.empty?
    %b
      = category.name
  - else
    %a{href: category_path(category, article_search_form: search_params_merged_with( category => category )), data: { remote: 'true' }}
      = category.name
- else
  %a{href: category_path(category), data: { remote: 'true' }}
    = category.name
