- if @search_cache
  %a{href: category_path(category, article_search_form: params[:article_search_form]), data: { remote: 'true' }}
    = category.name
- else
  %a{href: category_path(category), data: { remote: 'true' }}
    = category.name
