%li
  %a{href: articles_path(article: {categories_and_ancestors: child.self_and_ancestors_ids })}
    = child.name
  %ul
    -child.children.each do |child1|
      = render '/shared/category_tree_leaf', child: child1