.Search-CategorySidelist.js-visual-toggle--container
  %h2.Search-CategoryTreeHeading.js-visual-toggle--trigger{ :'data-maxsize' => "960" }
    %a{href: category_path(category)}
      = category.name
    %i.Icon.icon-down_arrow.js-visual-toggle--target
    %i.Icon.icon-up_arrow.js-visual-toggle--target
  %ul.Search-CategoryTreeLevel1.js-visual-toggle--target
    -category.children.each do |child|
      = render '/shared/category_tree_leaf', child: child