- if params[:article_search_form]
  %a{href: category_path(category, article_search_form: params[:article_search_form])}
    = category.name
- else
  %a{href: category_path(category)}
    = category.name
