<div class="row-fluid">
	<div class="auction-thumbnail-list">
		<% auctions.each do |auction| %>
		
			<div class="<%=list_class%> well-column-tiny-padding" >
				
					<% if auction.title_image%>
						<%= link_to image_tag(auction.title_image.image.url(:mini)), auction %>
					<%else%>
						<%= link_to image_tag("missing.png" ), auction %>
					<%end%>
				
			</div>
		
		<%end%>
	</div>
</div>
<div class="row-fluid auction-thumbnail-pagination">	
	<%if paginate %>
		<% paginate_params = { } %>
		<% if defined? anchor%>
			<%paginate_params[:anchor] = anchor%>
		<%end%>
		<%= will_paginate auctions,:params => paginate_params,:page_links => false %>
	
	<%end%>
</div>
