.row-fluid
  .article-thumbnail-list
    - articles.each do |article|
      %div{:class => "#{list_class} well-column-tiny-padding"}
        - if article.title_image
          = link_to image_tag(article.title_image.image.url(:mini)), article
        - else
          = link_to image_tag("missing.png" ), article
.row-fluid.article-thumbnail-pagination
  - if paginate
    - paginate_params = { }
    - if defined? anchor
      - paginate_params[:anchor] = anchor
    = will_paginate articles,:params => paginate_params,:page_links => false
