= f.inputs :id => "search_inputs" do
  #wrapper_search_box
    #search_box
      = f.input :title, :label => false, :tooltip => false ,:input_html => { :id => "search_input", :placeholder =>  t('welcome.search_fair'),  "data-autocomplete" => autocomplete_articles_path }
  #search_button
    = image_submit_tag("search.png", :alt => t('common.actions.search'), :title => t('common.actions.search'))
