-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.Filters
  .Filter.js-visual-toggle--container
    .Filter-button.js-visual-toggle--trigger{:data => {:clickable => true}}
      Zustand
      %ul.js-visual-toggle--target
        %li
          %a{:href => articles_path(:article_search_form => params[:article_search_form].merge(:condition => "new"))}
            = image_tag "icheck/radio.png"
            neu
        %li
          %a{:href => articles_path(:article_search_form => params[:article_search_form].merge(:condition => "old"))}
            = image_tag "icheck/radio.png"
            gebraucht
  .Filter.js-visual-toggle--container
    .Filter-button.js-visual-toggle--trigger
      Filter
  .Filter.js-visual-toggle--container
    .Filter-button.js-visual-toggle--trigger
      Sortierung
  .Filter-clear