.User-announcement
  .User-announcement-inner
    %h2.User-announcement-title.Icon
      %i.icon-get-share
      Sicher Dir Deinen Anteil
    %p
      Jetzt ist der beste Zeitpunkt!
    %a.Button{:href => "http://info.fairnopoly.de/anteile-zeichnen/", :target => '_blank' }
      Mehr dazu
