.take_part
  = link_to image_tag('genobox-280.jpg', alt: 'Über 2000 Menschen haben sich bereits an der '\
                                              'Fairmondo-Genossenschaft beteiligt.'),
            '/genossenschaft'
