.Content.Content--center
  %span.sprite_get_share
  %h2
    Unsere Genossenschaft
  %p
    Über 1800 Menschen haben sich bereits an unserer Genossenschaft beteiligt.
  %a.Button{ :href => "https://www.fairmondo.de/genossenschaft", :target => '_blank' }
    Mehr erfahren
