- if policy(library_element).show?
  %Article{:class => 'Grid Article Article--teaser'}
    = render '/shared/show_article',  :item => library_element.article
    .Article-actions
      - if policy(library_element).destroy?
        = link_to t('common.actions.destroy'), user_library_element_path(current_user,library_element) ,:method => :delete, :class => "Btn Btn--red", :style => "float:right;"