.Comments-section
  - if current_user
    = render "comments/new", library: library
  - else
    = t('common.text.login_to_comment')

  - if library.comments.any?
    = render library.comments.order(created_at: :desc)
  - else
    #comments-empty
      = t('common.text.no_comments')
