.Library-ArticleList
  - library_elements = library.library_elements.includes(:article => [:images,:seller]).page(params[:library_page]).per(12)
  %section.l-ArticleList
    - library_elements.each do |library_element|
      = render "library_element", :library_element => library_element
  = paginate library_elements, :param_name => :library_page, :remote => true, :params => { :controller => "libraries", :action => "show", :id => library.id}