/   Copyright (c) 2012-2015, Fairmondo eG.  This file is
/   licensed under the GNU Affero General Public License version 3 or later.
/   See the COPYRIGHT file for details.

h3
  | Passwort ändern
h3= "#{t('common.text.hello')} #{@resource.nickname},"
p= t('devise.reset.text')
p
  center
    = link_to t('devise.reset.link') , edit_password_url(@resource, :reset_password_token => @token), class: 'Button'
p= t('devise.reset.info')
p= t('devise.reset.ignoremail')

- content_for 'sidebar' do
  = render 'shared/email/social_buttons'
