/   Copyright (c) 2012-2016, Fairmondo eG.  This file is
/   licensed under the GNU Affero General Public License version 3 or later.
/   See the COPYRIGHT file for details.

h3= "#{t('common.text.hello')} #{@resource.nickname},"
p= t('devise.unlock.info')
p= t('devise.unlock.linktext')
p= link_to t('devise.unlock.link'), unlock_url(@resource, :unlock_token => @token)
p= t('devise.unlock.ignoremail')

- content_for 'sidebar' do
  = render 'shared/email/social_buttons'
