.lineItem
  .lineItem-image
    = link_to image_tag(bt.article.title_image_url_thumb), article_path(bt.article_id)

  .lineItem-details-container

    .lineItem-title
      = link_to truncate(bt.article_title), article_path(bt.article_id)

    .lineItem-details
      Details

    .lineItem-buttons
      Buttons

