.genobox-aside
  article.genobox-aside__inner
    h2 Weihnachten - Geschichten, Hintergründliches und Alltägliches
    p= link_to 'Weihnachten bei Fairmondo', 'https://medium.com/@brendle/weihnachten-b28fc12ea87b'
