.Knownfrom
  .l-Inner
    .Knownfrom-element.Knownfrom-element--title
      = "BEKANNT AUS"
    .Knownfrom-icons
      .Knownfrom-element.icon-hochschulanzeiger
      .Knownfrom-element.icon-taz
      .Knownfrom-element.icon-tagesspiegel
      .Knownfrom-element.icon-sueddeutsche
      .Knownfrom-element.icon-arte
      .Knownfrom-element.Knownfrom-element--last.icon-deutschlandfunk
