.Landing-option
  .Landing-checkbox
    %a{:href => url, :class => colorbox ? "colorbox" : "",:target => '_blank' }
      = image_tag("landing/brackets.png")
  .Landing-label
    = image_tag("landing/#{option}.png")