<div class="row">
	<div class="span6">
		
			<div class="well">	
			   <%= tinycms_content "start-left" %>
			</div>
		
	</div>
	<div class="span6">
		<div class="well">
			<%= tinycms_content "start-video" %>
		</div>
		<div class="well">
			<%= tinycms_content "start-right" %>
		</div>
	</div>
	
</div>
<!-- row -->
<div class="row">
	<div class="span6">
		<div class="well">
			<h2><strong>Fair</strong> – Sache des Tages </h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing …
			</p>
			<a href="">Mehr lesen</a>
		</div>
	</div>
	<div class="span6">
		<div class="well">
			<h2><strong>Unfair</strong> – AdsASD </h2>
			<p>
				ADFGs lore afjhfsdfkjdsfhdsfjh …
			</p>
			<a href="">Mehr lesen</a>
		</div>
	</div>
</div>
<!-- row -->
<div class="row">
	<div class="span12">
		<div class="well">
			<h2> Fair founding Points <small>Kauf dir deinen eigenen Online Marktplatz</small></h2>
			<div class="row">
				<div class="progress span10">
					<div class="bar" style="width: 60%;"></div>
				</div>
				<div class="span1">
					<a class="btn btn-mini" href=""> Mach mit </a>
				</div>
			</div>
		</div>
		<!-- well -->
	</div>
</div>