<div class="row">
	<div class="span6">
		<div class="well">
			<h2> Willkommen bei Fairnopoly </h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<div class="actions">
				<a class="btn" href=""> Mehr Fragen? </a>
				<a class="btn btn-primary" href=""> Registrieren › </a>
			</div>
		</div>
	</div>
	<div class="span6">
		<div id="youtube">
			<iframe src="http://www.youtube.com/embed/ylwsOK35PTg?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="well">
			Like Tweet G+
		</div>
	</div>
</div>
<!-- row -->
<div class="row">
	<div class="span6">
		<div class="well">
			<h2><strong>Fair</strong> – Sache des Tages </h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing …
			</p>
			<a href="">Mehr lesen</a>
		</div>
	</div>
	<div class="span6">
		<div class="well">
			<h2><strong>Unfair</strong> – AdsASD </h2>
			<p>
				ADFGs lore afjhfsdfkjdsfhdsfjh …
			</p>
			<a href="">Mehr lesen</a>
		</div>
	</div>
</div>
<!-- row -->
<div class="row">
	<div class="span12">
		<div class="well">
			<h2> Fair founding Points <small>Kauf dir deinen eigenen Online Marktplatz</small></h2>
			<div class="row">
				<div class="progress span10">
					<div class="bar" style="width: 60%;"></div>
				</div>
				<div class="span1">
					<a class="btn btn-mini" href=""> Mach mit </a>
				</div>
			</div>
		</div>
		<!-- well -->
	</div>
</div>