/
/
/ == License:
/ Fairmondo - Fairmondo is an open-source online marketplace.
/ Copyright (C) 2013 Fairmondo eG
/
/ This file is part of Fairmondo.
/
/ Fairmondo is free software: you can redistribute it and/or modify
/ it under the terms of the GNU Affero General Public License as
/ published by the Free Software Foundation, either version 3 of the
/ License, or (at your option) any later version.
/
/ Fairmondo is distributed in the hope that it will be useful,
/ but WITHOUT ANY WARRANTY; without even the implied warranty of
/ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/ GNU Affero General Public License for more details.
/
/ You should have received a copy of the GNU Affero General Public License
/ along with Fairmondo.  If not, see <http://www.gnu.org/licenses/>.
/
/
/ The next line is for providing the proper title image to facebook
- provide(:title_image, image_path('fairmondo_social_media.png'))

- cache 'category-dropdown-welcome' do
  .category-dropdown
    = render 'categories/shared/category_tree'

- cache 'billboards' do
  = render 'billboards'

- cache 'startnext_widget' do
  = render 'startnext_widget'

- cache 'filter_boxes' do
  = render 'filter_boxes'

= render 'last_hearted_libraries', last_hearted_libraries: @last_hearted_libraries

= render 'article_queue', number: 1, side: :left, queue: @queue1

= render 'article_queue', number: 2, side: :right, queue: @queue2

= render 'trending_libraries', trending_libraries: @trending_libraries

- cache 'card_slides' do
  = render 'card_slides'

= render 'article_queue', number: 3, side: :right, queue: @donation_articles

- cache 'user_slides' do
  = render 'user_slides'

- cache 'coop_teaser' do
  = render 'coop_teaser'

- cache 'blog_teaser' do
  = render 'blog_teaser'

- cache 'known_from' do
  = render 'known_from'

- cache 'ngo_logos' do
  = render 'ngo_logos'
