<%#= stylesheet_link_tag 'wegreentest' %>
<%= stylesheet_link_tag 'wegreentest2' %>



  <div class="widget">
  <h3><a href="http://wegreen.de/#!/shopping?q=samsung+galaxy+tab">Alternative Produkte von WeGreen<sup>®</sup> für "samsung galaxy tab"</a></h3>
  <div class="products">
    <div class="item">
      <a href="http://www1.belboon.de/adtracking/03381f08bf9f023369003ebc.html/&amp;deeplink=http://www.alternate.de/html/product/1023651?partner=DeBelboon&amp;campaign=AF/DeBelboon/Samsung/Tablets bis 7 Zoll/product/1023651" target="_parent" onClick="ga('send', 'event', 'Shopping', 'WidgetProductClickToShop', 'ALTERNATE []::[belboon_16060_16060_144233_1023651]Galaxy Tab 2 7.0 WiFi, Tablet')">
        <div class="picture">
          <img src="http://static1.wegreen.de/200?image=http%3A%2F%2Fwww.alternate.de%2Fm%2F1%2F5%2F6%2FSamsung_Galaxy_Tab_2_7_0_%40%40230x-977484936.png"
               title="Galaxy Tab 2 7.0 WiFi, Tablet von Samsung bei ALTERNATE "/>
        </div>
        <div class="abstract">
          <div class="title" title="Galaxy Tab 2 7.0 WiFi, Tablet von Samsung">Galaxy Tab 2 7.0 WiFi, Tablet bei <span class="link">ALTERNATE <span>
          </div>
          <br>
          <div class="price-and-rating">
            139,90 €
            <a href="http://wegreen.de/de/shop/samsung/galaxy-tab-2-7-0-wifi-tablet/belboon_16060_16060_144233_1023651/nachhaltigkeit/" target="_parent" onClick="ga('send', 'event', 'Shopping', 'WidgetPoductClickToWeGreen', 'ALTERNATE []::[belboon_16060_16060_144233_1023651]Galaxy Tab 2 7.0 WiFi, Tablet')">
                <span class="tooltip">
                  <img src="http://test.wegreen.de/images/wg4/scores/numbers/87/3.7.png" title="Nachhaltigkeitsampel Note: 3.7 (schwach)(Bewertung der ökologischen und sozialen Produktionsbedingungen)" alt="Nachhaltigkeitsampel Note: 3.7 (schwach)(Bewertung der ökologischen und sozialen Produktionsbedingungen)"/>
                  <span class="info">Die <b>WeGreen® Nachhaltigkeitsampel</b> zeigt, wie sozial und ökologisch ein Produkt ist.<br><br><span class="link">Mehr Infos...</span></span>
                </span>
              </a>
          </div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="http://www1.belboon.de/adtracking/03381f08bf9f023369003ebc.html/&amp;deeplink=http://www.alternate.de/html/product/1097533?partner=DeBelboon&amp;campaign=AF/DeBelboon/Samsung/Tablets bis 10 Zoll/product/1097533" target="_parent" onClick="ga('send', 'event', 'Shopping', 'WidgetProductClickToShop', 'ALTERNATE []::[belboon_16060_16060_144233_1097533]Galaxy Tab 3 10.1 (GT-P5200) 3G + WiFi, Tablet')">
        <div class="picture">
          <img src="http://static1.wegreen.de/200?image=http%3A%2F%2Fwww.alternate.de%2Fm%2F3%2F3%2F5%2FSamsung_3_10_1%40%40230x-1147425481.png"
               title="Galaxy Tab 3 10.1 (GT-P5200) 3G + WiFi, Tablet von Samsung bei ALTERNATE "/>
        </div>
        <div class="abstract">
          <div class="title" title="Galaxy Tab 3 10.1 (GT-P5200) 3G + WiFi, Tablet von Samsung">Galaxy Tab 3 10.1 (GT-P5200) 3G + WiFi, Table... bei <span class="link">ALTERNATE <span>
          </div>
          <br>
          <div class="price-and-rating">
            409,00 €
            <a href="http://wegreen.de/de/shop/samsung/galaxy-tab-3-10-1-gt-p5200-3g-wifi-tablet/belboon_16060_16060_144233_1097533/nachhaltigkeit/" target="_parent" onClick="ga('send', 'event', 'Shopping', 'WidgetPoductClickToWeGreen', 'ALTERNATE []::[belboon_16060_16060_144233_1097533]Galaxy Tab 3 10.1 (GT-P5200) 3G + WiFi, Tablet')">
                <span class="tooltip">
                  <img src="http://test.wegreen.de/images/wg4/scores/numbers/87/3.7.png" title="Nachhaltigkeitsampel Note: 3.7 (schwach)(Bewertung der ökologischen und sozialen Produktionsbedingungen)" alt="Nachhaltigkeitsampel Note: 3.7 (schwach)(Bewertung der ökologischen und sozialen Produktionsbedingungen)"/>
                  <span class="info">Die <b>WeGreen® Nachhaltigkeitsampel</b> zeigt, wie sozial und ökologisch ein Produkt ist.<br><br><span class="link">Mehr Infos...</span></span>
                </span>
              </a>
          </div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="http://www1.belboon.de/adtracking/03381f08bf9f023369003ebc.html/&amp;deeplink=http://www.alternate.de/html/product/1097534?partner=DeBelboon&amp;campaign=AF/DeBelboon/Samsung/Tablets bis 10 Zoll/product/1097534" target="_parent" onClick="ga('send', 'event', 'Shopping', 'WidgetProductClickToShop', 'ALTERNATE []::[belboon_16060_16060_144233_1097534]Galaxy Tab 3 10.1 (GT-P5210) WiFi, Tablet')">
        <div class="picture">
          <img src="http://static1.wegreen.de/200?image=http%3A%2F%2Fwww.alternate.de%2Fm%2F4%2F3%2F5%2FSamsung_3_10_1%40%40230x-1307461716.png"
               title="Galaxy Tab 3 10.1 (GT-P5210) WiFi, Tablet von Samsung bei ALTERNATE "/>
        </div>
        <div class="abstract">
          <div class="title" title="Galaxy Tab 3 10.1 (GT-P5210) WiFi, Tablet von Samsung">Galaxy Tab 3 10.1 (GT-P5210) WiFi, Tablet bei <span class="link">ALTERNATE <span>
          </div>
          <br>
          <div class="price-and-rating">
            339,00 €
            <a href="http://wegreen.de/de/shop/samsung/galaxy-tab-3-10-1-gt-p5210-wifi-tablet/belboon_16060_16060_144233_1097534/nachhaltigkeit/" target="_parent" onClick="ga('send', 'event', 'Shopping', 'WidgetPoductClickToWeGreen', 'ALTERNATE []::[belboon_16060_16060_144233_1097534]Galaxy Tab 3 10.1 (GT-P5210) WiFi, Tablet')">
                <span class="tooltip">
                  <img src="http://test.wegreen.de/images/wg4/scores/numbers/87/3.7.png" title="Nachhaltigkeitsampel Note: 3.7 (schwach)(Bewertung der ökologischen und sozialen Produktionsbedingungen)" alt="Nachhaltigkeitsampel Note: 3.7 (schwach)(Bewertung der ökologischen und sozialen Produktionsbedingungen)"/>
                  <span class="info">Die <b>WeGreen® Nachhaltigkeitsampel</b> zeigt, wie sozial und ökologisch ein Produkt ist.<br><br><span class="link">Mehr Infos...</span></span>
                </span>
              </a>
          </div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="http://www1.belboon.de/adtracking/03381f08bf9f023369003ebc.html/&amp;deeplink=http://www.alternate.de/html/product/1012365?partner=DeBelboon&amp;campaign=AF/DeBelboon/Samsung/Tablets bis 10 Zoll/product/1012365" target="_parent" onClick="ga('send', 'event', 'Shopping', 'WidgetProductClickToShop', 'ALTERNATE []::[belboon_16060_16060_144233_1012365]Galaxy Tab 2 10.1 WiFi')">
        <div class="picture">
          <img src="http://static1.wegreen.de/200?image=http%3A%2F%2Fwww.alternate.de%2Fm%2F5%2F6%2F3%2FSamsung_Galaxy_Tab_2_10_1%40%40230x-738924237.png"
               title="Galaxy Tab 2 10.1 WiFi von Samsung bei ALTERNATE "/>
        </div>
        <div class="abstract">
          <div class="title" title="Galaxy Tab 2 10.1 WiFi von Samsung">Galaxy Tab 2 10.1 WiFi bei <span class="link">ALTERNATE <span>
          </div>
          <br>
          <div class="price-and-rating">
            299,00 €
            <a href="http://wegreen.de/de/shop/samsung/galaxy-tab-2-10-1-wifi/belboon_16060_16060_144233_1012365/nachhaltigkeit/" target="_parent" onClick="ga('send', 'event', 'Shopping', 'WidgetPoductClickToWeGreen', 'ALTERNATE []::[belboon_16060_16060_144233_1012365]Galaxy Tab 2 10.1 WiFi')">
                <span class="tooltip">
                  <img src="http://test.wegreen.de/images/wg4/scores/numbers/87/3.7.png" title="Nachhaltigkeitsampel Note: 3.7 (schwach)(Bewertung der ökologischen und sozialen Produktionsbedingungen)" alt="Nachhaltigkeitsampel Note: 3.7 (schwach)(Bewertung der ökologischen und sozialen Produktionsbedingungen)"/>
                  <span class="info">Die <b>WeGreen® Nachhaltigkeitsampel</b> zeigt, wie sozial und ökologisch ein Produkt ist.<br><br><span class="link">Mehr Infos...</span></span>
                </span>
              </a>
          </div>
        </div>
      </a>
    </div>    <div class="clearfix"></div>
    <a href="http://wegreen.de" class="powered-by" onClick="ga('send', 'event', 'Shopping', 'WidgetClickToWeGreenHomepage' , 'samsung galaxy tab')">powered by <img src="http://test.wegreen.de/images/wg4/logo/logo_head.png" /></a>
    <a class="more" href="http://wegreen.de/#!/shopping?q=samsung+galaxy+tab" onClick="ga('send', 'event', 'Shopping',  'WidgetClickToWeGreenSearch' , 'samsung galaxy tab')">Alle Produkte anzeigen &raquo;</a>
    <div class="clearfix"></div>
  </div>
</div>