<table class="table table-bordered">
		
		<tbody>
			<% categories.each do |category|%>
				<tr>
					<td <% if category.id==@category_id  %> class="selected category" <%else%> class="category"<%end%>> 
						<button type="submit" name="<%= raw 'category'+(category.id).to_s %>" class="category-button">
							<%=category_button_text category.name , category==active && show_child %>
						</button>
						
					</td>
				</tr>
			<%end%>
		</tbody>
</table>