<table class="table table-striped table-bordered table-condensed">
<% @auctions.each do |auction| %>
  <tr>
  	<td>
  	<div class="thumbnail">
     	<%= link_to image_tag(auction.imagePath), auction %>
    </div>
    </td>
    <td><%= link_to auction.title, auction %></td>
    <td><%= link_to t('common.action.edit'), edit_auction_path(auction) %></td>
  </tr>
<% end %>
</table>



