.euro2016 {
  margin-bottom: 1em;
}

.euro2016-inner {
  @include whitebox;
  padding: 0;
  width: auto;
  height: 410px;
  min-height: 410px;
  position: relative;
  color: $white;
  background-image: image-url('welcome/euro2016.png');
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 0.5em;  // Circumvent bug in Webkit browsers that would hide the rounded border
  height: 410px;

  h2, p {
    margin: 0;
    text-indent: -1000em;
  }

  a {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

/******************************** Breakpoints *********************************/

@include between-breakpoints($bp-mobile-horizontal, $bp-tablet) {
  .euro2016 {
    @include span(2 of 4);
    @include omega;
  }
}

@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  .euro2016 {
    @include span(2 of 6);
    @include omega;
  }
}

@include at-breakpoint($bp-tablet-horizontal) {
  .euro2016 {
    @include span(2 of 8);
    @include omega;
  }
}
