
.teaser.teaser--full.teaser--known_from
  .teaser-inner
    %h2 BEKANNT AUS
    - ['hochschulanzeiger','taz','tagesspiegel','sueddeutsche','arte','deutschlandfunk'].each do |element|
      = link_to 'http://info.fairnopoly.de/fairnopoly-in-der-presse/', target: '_blank' do
        %span{:class => "sprite_#{element}"}
