- names = { hochschulanzeiger: 'Hochschulanzeiger',
            taz: 'Taz',
            sueddeutsche: 'Süddeutsche Zeitung',
            arte: 'Arte',
            deutschlandfunk: 'Deutschlandfunk' }

.teaser.teaser--full.teaser--known_from
  .teaser-inner
    %h5 Bekannt aus
    %ul
      - names.each do |key, value|
        %li= link_to '', 'http://info.fairnopoly.de/fairnopoly-in-der-presse/',
        class: "sprite_#{key}", title: value, target: '_blank'
