// refs #109 and #154
.check_box_tree {
  .check_box_tree_contents {
    margin-left: -20px;
  }
  
  .choices {
    margin-left: 30px !important;
  }
  input {
     display: none
   }
   .choices label {
     width: 100% !important;
     text-align: left !important;
     display: inline!important;
    
   }
   .choices label:before {
      font-family: FontAwesome;
      content: '\f055\00a0\00a0';
      
   }
   
   
   input[type='checkbox'] ~ fieldset.choices {
     display: none;
   }
   
    input:checked ~ fieldset.choices {
     display: block;
     
   }
   
   input:checked ~ label:after {
      font-family: FontAwesome;
      content: '\00a0\00a0\f00c';
     
   }
   input:checked ~ label:before {
      font-family: FontAwesome;
      content: '\f056\00a0\00a0';
      
   }
   
   .leaf-item label:before {
     content: '\f02B\00a0\00a0' !important;
   }
    
  
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}
/*
.check_box_tree {

 .tree-label {
   label {
     width: 100% !important;
     text-align: left !important;
     padding-bottom: 10px;
     margin-left: 15px;
   }
   display: block;
 }

 ul {

   .controls {
     margin-left: 0px;
   }

   li {
     font-size: 18px;
   }

   label {
     font-size: 16px;
     margin-top: 4px;
   }

   li > span {
     border-bottom: 1px solid;
     border-bottom-color: #666666;
     background-color: #FFFFFF;
   }

   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;

   ul, li {
     padding: 0;
     margin: 20;
     list-style: none;
     list-style-type: none;
   }

   input {
     display: none
   }

   input[type='checkbox'] ~ ul,i {
     display: none;
   }

   label, label::before {
     cursor: pointer;
     padding-left: 0px;
     color: #666666;
     margin-left: -8px;
     margin-right: 5px;
   }

   i {
     margin-left: 5px;
   }

   input:checked ~ ul {
     display: block;
   }

   input:checked ~ i {
     display: inline-block;
   }

   label, label::before {
     display: inline-block;
     height: 16px;
     line-height: 16px;
     vertical-align: middle;
   }

   label::before {
     content: "";
     width: 16px;
     vertical-align: middle;
   }

   
 } */


/* webkit adjacent element selector bugfix */
   @media screen and (-webkit-min-device-pixel-ratio:0)
   {
     .css-treeview
     {
       -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
     }

     @-webkit-keyframes webkit-adjacent-element-selector-bugfix
     {
       from
       {
         padding: 0;
       }
       to
       {
         padding: 0;
       }
     }
   }