/*
 *  Formtastic Bootstrap Fixes
 */   
    
label.control-label {
  font-weight:bold;
}

span.help-block {
  font-size: 14px;
  font-style:italic;
  float: right;
  font-weight: normal; 
}

div.radio {
  padding-left: 0px;
}

span.help-inline {
  margin-left: 175px;
}