.plain_radio_buttons {
  .controls {
    margin-left: 20px;
  }
  label {
    display: inline;
    padding-left: 4px;
    padding-right: 20px;
    font-weight: bold;
  }
  input {
    display: inline;
    margin: 0px 0px 0px;
  }
  .help-inline {
    margin-left: 0px !important;
  }
}

