.Hearts-button
  - if disabled
    %span
      %i.fa.fa-heart{disabled: true}
  - else
    = link_to path, method: method, remote: true do
      %i.fa.fa-heart{disabled: disabled}>
      %i.fa{class: icon}>
  %span.Hearts-count= heartable_resource.hearts.count