<div class="container">
		<div class="row">
			<div class="span12">
				<h3><%= t('auction.titles.sunspot_failure') %></h3>
				<p><%= t('auction.hero.sunspot_failure') %></p>
			</div>
		</div>
</div>