Addresses:
  ArticleMailer:
    default_from: "test01@example.com"
    report: "test02@example.com"
    category_proposal: "test03@example.com"

  DeviseMailer:
    mailer_sender: "test04@example.com"

  FeedbackMailer:
    send_feedback:
      dealer: "test05@example.com"
      private: "test06@example.com"
      buyer: "test07@example.com"
      seller: "test08@example.com"
      technics: "test09@example.com"
      event: "test10@example.com"
      cooperative: "test11@example.com"
      hero: "test12@example.com"
      ngo: "test13@example.com"
      honor: "test14@example.com"
      other: "test15@example.com"
      trust_community: "test16@example.com"
    get_help:
      marketplace: "test17@example.com"
      comm_deal_fair: "test18@example.com"
      comm_deal: "test19@example.com"
      private_deal: "test20@example.com"
      buy: "test21@example.com"
      technics: "test22@example.com"
      cooperative: "test23@example.com"
      hero: "test24@example.com"
      ngo: "test25@example.com"
      honor: "test26@example.com"
      other: "test27@example.com"
      trust_community: "test28@example.com"
  	become_donation_partner: "test29@example.com"