Addresses:
  ArticleMailer:
    default_from: "test@example.com"
    report: "test@example.com"
    category_proposal: "test@example.com"

  DeviseMailer:
    mailer_sender: "test@example.com"

  FeedbackMailer:
    send_feedback:
      dealer: "test@example.com"
      private: "test@example.com"
      buyer: "test@example.com"
      seller: "test@example.com"
      technics: "test@example.com"
      event: "test@example.com"
      cooperative: "test@example.com"
      hero: "test@example.com"
      ngo: "test@example.com"
      honor: "test@example.com"
      other: "test@example.com"
      trust_community: "test@example.com"
    get_help:
      marketplace: "test@example.com"
      comm_deal_fair: "test@example.com"
      comm_deal: "test@example.com"
      private_deal: "test@example.com"
      buy: "test@example.com"
      technics: "test@example.com"
      cooperative: "test@example.com"
      hero: "test@example.com"
      ngo: "test@example.com"
      honor: "test@example.com"
      other: "test@example.com"
      trust_community: "test@example.com"