.l-ajax-spinner {
  // show only on Ajax event
  display: none;

  // set dimensions
  font-size: 50px;
  width: 43px;
  height: 51px;

  // center position
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -22px;
  margin-top: -26px;
  z-index: 99;

  // appearance
  color: $blue;
  opacity: 0.25;
}
