/*
basic typography

Styleguide Typography
*/

/*
basic link style

Styleguide Links
*/


html,body {
  height: 100%;
  min-width: 300px;
  font-family: $base-font-body;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
  color: $black;
  @include color-links($blue, $blue);
  @include clear-links-with-hover;
}

/*
h-tags

Styleguide Headings
*/

h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;

  /* We don't want the h1 to take up so much space on phones */
  @include till-breakpoint($bp-mobile-horizontal) {
    font-size: 1.3rem;
    margin: 0.75rem 0;
  }
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-weight: 700;
}


/*
allow you to handle sprite images
refer to gem `sprite_factory` for more information

Styleguide Sprites
*/

span[class^="sprite_"] {
  display: inline-block;
}
