


html,body {
  height: 100%;
  font-family: $base-font-body;
  font-size: $base-font-size;
  margin:0;
  padding:0;
  color: $black;
  @include color-links($blue,$blue);
  @include clear-links-with-hover;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-weight: 700;
}