.l-crowdfunding-summary-wrapper, .l-crowdfunding-full-text-inner, .l-crowdfunding-full-photo {
  @include container($screen-width);

  padding: 0.2em $screen-padding-mobile 0.2em;

  @include at-breakpoint($bp-tablet) {
    padding-left: $screen-padding;
    padding-right: $screen-padding;
  }
}

.l-crowdfunding-summary, .l-crowdfunding-full-text {
  background-color: #bee2e7;
  color: #454857;
}

.l-crowdfunding-summary {
  h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 0.2em 0;
  }

  p {
    font-size: 0.8em;
    margin: 0.5em 0;
  }
}

.l-crowdfunding-progressbar {
  background-color: $white;
  color: $light-gray;
  height: 30px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.l-crowdfunding-summary-button {
  margin-bottom: 0.3em;
  margin-top: 0.3em;

  a {
    background-color: #c00;
    &:hover {
      background-color: lighten(#c00, 5%);
    }
  }
}

.l-crowdfunding-progressbar-fill {
  height: 30px;
}

.l-crowdfunding-progressbar-amount {
  bottom: 0;
  color: $black;
  font-weight: normal;
  left: 0;
  padding-right: 1em;
  position: absolute;
  right: 0;
  text-align: right;
  top: 5px;
}

.l-crowdfunding-full-photo {
  padding-bottom: 0;
  padding-top: 0;

  img {
    display: block;
    max-width: 100%;
    width: 1200px;
  }
}

.l-crowdfunding-full-closebutton {
  position: relative;

  a {
    position: absolute;
    right: 1em;
    top: 1em;

    i {
      color: $black;
    }
  }
}

@include between-breakpoints($bp-mobile-horizontal, $bp-tablet) {
  .l-crowdfunding-summary-text {
    @include span(8 of 16);
  }

  .l-crowdfunding-progressbar {
    @include span(8 of 16);
    @include omega;
  }

  .l-crowdfunding-summary-button {
    @include span(16 of 16);
    @include omega;
  }
}

@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  .l-crowdfunding-summary-text {
    @include span(6 of 16);
  }

  .l-crowdfunding-progressbar {
    @include span(6 of 16);
  }

  .l-crowdfunding-summary-button {
    text-align: right;

    @include span(4 of 16);
    @include omega;
  }
}

@include at-breakpoint($bp-tablet-horizontal) {
  .l-crowdfunding-summary-text {
    @include span(4 of 16);
  }

  .l-crowdfunding-progressbar {
    @include span(9 of 16);
  }

  .l-crowdfunding-summary-button {
    text-align: right;

    @include span(3 of 16);
    @include omega;
  }
}
