
ul#l-feedback {
  @include transform(rotate(-90deg));
  @include transition(right 100ms ease-in);
  @include clear-links;
  @include color-links(white, $even-lighter-gray);
  display: none;

  @include at-breakpoint($bp-tablet) {
    display: inline-block;
    position: fixed;
    top: 50%;
    right: -11.8rem;
    z-index: 99;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

ul#l-feedback > li {
  @include bubbleize;
  @include buttonize;

  display: inline-block;

  background-color: $blue;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &:hover {
    margin-top: -2px;
    background-color: lighten($blue, 5%);
  }
  &:active {
    margin-top: 0;
  }
}

ul#l-feedback > li.l-feedback-button--green {
  background-color: $green;

  &:hover {
    background-color: lighten($green, 5%);
  }
}
