.l-footer {
  background-color: $dark-gray;
  clear: both;

  a, a:visited {
    color: $light-gray;
  }

  a:hover, a:focus, a:active {
    color: $blue;
  }
}

.l-footer-inner {
  @include container($screen-width);
  padding: 3rem 1rem 1rem;

  @include at-breakpoint($bp-tablet) {
    padding-left: $screen-padding;
    padding-right: $screen-padding;
  }
  //position: relative;
}


// Banner with logo and social media buttons
.l-footer-banner {
  clear: both;
}

// Hi-res logo
.l-footer-banner-logo {
  > img {
    width  : 120px;
    height : 23px;
  }
}

// Social media icons
.l-footer-banner-icon {
  margin-left: 1em;
}


// Font size
#l-footer-nav-main > section > ul,
.l-footer-copyright,
.l-footer-legal {
  font-size: 0.9em;
}

// Main navigation section
#l-footer-nav-main {
  width: 100%;
  overflow: hidden;
}

#l-footer-nav-main > section {
  margin: 0 0 2em;
}

#l-footer-nav-main > section > h4 {
  margin: 0;
  height: 2.4em;

  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  color: $light-gray;
}

// Remove list styles
#l-footer-nav-main > section > ul, .l-footer-banner-socialmedia {
  list-style: none;
  margin: 0;
  padding: 0;
}

#l-footer-nav-main > section > ul > li {
  line-height: 2em;
  margin-bottom: 0.15em;
}

.l-footer-copyright {
  color: $light-gray;
}



/**
 * Reduced layout
 */

.l-footer-reduced {
  background-color: $even-lighter-gray;
  clear: both;
}

.l-footer-reduced  > .l-footer-inner > ul#l-footer-nav-legal {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  font-size: 0.8em;

  li {
    display: inline-block;
    margin-left: 1em;
  }
}

.l-footer-reduced  > .l-footer-inner > p#l-footer-copyright {
  margin: 0;
}



/**
 * Responsiveness
 */

@include till-breakpoint($bp-mobile-horizontal) {
  #l-footer-nav-main > section {
    @include span(1 of 2);

    &#l-footer-nav-marketplace,
    &#l-footer-nav-cooperative,
    &#l-footer-nav-service {
      @include omega;
    }
  }
}

@include between-breakpoints($bp-mobile-horizontal, $bp-tablet-horizontal) {
  .l-footer-copyright {
    float: left;
  }

  .l-footer-legal {
    float: right;
  }
}

@include between-breakpoints($bp-mobile-horizontal, $bp-tablet-horizontal) {
  #l-footer-nav-main > section {
    @include span(1 of 3);

    &#l-footer-nav-subscription,
    &#l-footer-nav-service {
      @include omega;
    }
  }
}

@include at-breakpoint($bp-tablet-horizontal) {
  #l-footer-nav-main > section {
    @include span(1 of 6);

    &#l-footer-nav-service {
      @include omega;
    }
  }

  .l-footer-banner {
    float: left;
  }

  .l-footer-copyright,
  .l-footer-legal {
    float: right;
    margin-top: 1.45em;
    margin-left: 1.5em;
  }
}
