// Sticky Footer
.l-wrapper {
  min-height: 100%;
  margin-bottom: -($footer-height);
}

.l-footer {
  background-color: #333;
  min-height: $footer-height;
  margin-top: -$footer-height;
  padding-bottom: 1.5em;
  clear: both;

  // Set smaller font size for whole footer
  font-size: 0.9em;

  a, a:visited {
    color: $light-gray;
  }
}

.l-footer-inner {
  @include container($screen-width);
  padding: 4em 1em 1em 1em;
  position: relative;
}


// Banner with logo and social media buttons
.l-footer-banner {
  clear: both;
  text-align: left;
  float: left;
}

// Hi-res logo
.l-footer-banner-logo {
  > img {
    width  : 120px;
    height : 23px;
  }
}

.l-footer-banner-socialmedia {
  display: inline-block;

  li {
    display: inline-block;
    margin: 0 0.5em;

    a { color: $gray; }
  }
}

// Main navigation section
#l-footer-nav-main {
  width: 100%;
  overflow: hidden;
}

#l-footer-nav-main > section {
  margin: 0 0 1em;
}

#l-footer-nav-main > section > h4 {
  margin: 0;
  height: 2.4em;

  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: $light-gray;
}

// Remove list styles
#l-footer-nav-main > section > ul, .l-footer-banner-socialmedia {
  list-style: none;
  margin: 0;
  padding: 0;
}

#l-footer-nav-main > section > ul > li {
  line-height: 2em;
  margin-bottom: 0.15em;
}

.l-footer-copyright {
  float: right;
  margin: 0.25em 0 0;
  color: $light-gray;
}



/**
 * Reduced layout
 */

.l-footer-reduced {
  min-height: $footer-height-reduced;
  margin-top: $footer-height-reduced;
  background-color: $even-lighter-gray;
  clear: both;
}

.l-footer-reduced  > .l-footer-inner > ul#l-footer-nav-legal {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  font-size: 0.8em;

  li {
    display: inline-block;
    margin-left: 1em;
  }
}

.l-footer-reduced  > .l-footer-inner > p#l-footer-copyright {
  margin: 0;
}



/**
 * Responsiveness
 */

@include till-breakpoint($bp-mobile) {
  .l-wrapper {
    margin-bottom: 0;
  }

  .l-footer, .l-footer-reduced {
    height: auto;
    margin-top: 0;
    padding-bottom: 1em;
  }
}

@include till-breakpoint($bp-mobile-horizontal) {
  #l-footer-nav-main > section {
    @include span(1 of 2);

    &#l-footer-nav-fairmondo {
      @include omega;
    }

    &#l-footer-nav-legal {
      @include omega;
    }
  }
}

@include between-breakpoints($bp-mobile-horizontal, $bp-tablet) {
  #l-footer-nav-main > section {
    @include span(1 of 4);

    &#l-footer-nav-legal {
      @include omega;
    }
  }
}

@include till-breakpoint($bp-tablet) {
  #l-footer-nav-left {
    display: none;
  }

  #l-footer-nav-main > section > ul > li {
    margin-bottom: 0.5em;
  }
}


@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  #l-footer-nav-left {
    @include span(2 of 6);
  }

  #l-footer-nav-main > section {
    @include span(1 of 6);

    &#l-footer-nav-legal {
      @include omega;
    }
  }
}

@include at-breakpoint($bp-tablet-horizontal) {

  #l-footer-nav-main > section {
    @include span(1 of 6);

    &:last-child {
      @include omega;
    }
  }
}
