
.l-header-categories {
  @include container($screen-width);
  padding: 0 $screen-padding;
  @include till-breakpoint($bp-tablet-horizontal) {
    display: none;
  }
  margin-bottom: 0.5em;
}

.l-header-categories > ul {
  list-style:none;
  padding: 0em 0;
  margin:0;
  @include clear-links;
  @include color-links($blue,$blue)
}

.l-header-categories > ul > li {
  display: inline-block;
  text-align: center;
  padding: 0.5em 1em;
  position: relative;
  font-size: 0.9em;
  line-height: 0.9em;
  &:hover {
    background: white;
  }
  border-radius: 5px;
}



.l-header-categories-children {
  padding:0;
  list-style:none;
  position:absolute;
  left:-999em; /* Hides the drop down */
  z-index: 2;
  display:table;
  background: white;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: table;
  box-shadow: $lightest-gray 0px 0px 2px 2px;
}

.l-header-categories-children > li {
  display: table-row;
  margin:0;
  min-width: 16em;

  a {
    text-align:left;
    vertical-align: middle;
    padding: 1em;
    min-width: 6em;
    display: table-cell;
    &:hover {
      color:$black;
    }

  }

}

.l-header-categories > ul > li:hover .l-header-categories-children{
  left:0;
  top:1.8em;
}
