$header-highlight-color: $even-lighter-gray;
$header-nav-link-color-hover: $blue;

 .l-header ul {
  margin:0;
  padding:0;
  list-style: none;
}

// Peek fix
#peek .wrapper {
  width: $screen-width !important;
}

.l-header-top {
  @include container($screen-width);
  padding: 0.2em 1rem 0.1em;

  @include at-breakpoint($bp-tablet) {
    padding-left: $screen-padding;
    padding-right: $screen-padding;
  }
}

// Temporary rename message
.l-header-rename {
  float: left;
  margin-top: 0.8em;
  font-weight: normal;
}


.l-header-bottom {
  background: $header-highlight-color;
  padding: 0.5em 0;
}


.l-header-logo, .l-header-nav  {
  display: inline-block;
}

.l-header-logo {
  float: left;
  margin-right: 2em;
}

// Hi-res logo
.l-header-logo img {
  width  : 170px;
  height : 43px;
}


// Reduced layout

.l-reduced .l-header {
  padding: 0.7em 0 1em;
  background-color: $header-highlight-color;

  .l-header-logo span {
    margin: 0;
  }
}



// Mobile Nav

.l-header-mnav {
  clear: both;
  width: 100%;
}

.l-header-mnav-toggle {
  display: block;
  float: right;
  width: 43px;
  height: 43px;
  background-color: white;
  text-align: center;
}

.l-header-mnav-toggle::before {
  display: inline-block;
  content: "\f0c9";
  font: normal 28px/45px FontAwesome;
  color: $gray;
}

.l-header-mnav-toggle.l-header-mnav--active::before {
  content: "\f00d";
}

.l-header-mnav-menu {
  display: none;
}

.l-header-mnav-menu-item {
  border-top: thin dotted $gray;
  font-weight: bold;
}

.l-header-mnav-menu-item:first-child {
  border-top: none;
}

.l-header-mnav-menu a,
.l-header-mnav-menu a:visited {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: black;
}

.l-header-mnav-menu a:hover,
.l-header-mnav-menu a:active {
  color: black;
  text-decoration: none;
  background-color: $blue;;
}

.l-header-mnav--parent > em {
  display: block;
  padding: 1em 1em 0.5em;
  font-style: italic;
  color: $gray;
}



// Nav

.l-header-nav {
  margin-top: 0.2em;
  float: right;
  text-align: right;
}

.l-header-nav > ul {
  @include clear-links;
  > li {
    text-align: left;
    position: relative;
    display: inline-block;
    line-height: 2.5em;
    margin-left: 0.5em;
  }
}

.l-header-nav > ul > li > a,
.l-header-nav > ul > li > span {
  color: $black;
  padding: 0.5em;
  border-radius: 0.5em;
}

.l-header-nav > ul > li:hover > a,
.l-header-nav > ul > li:hover > span {
  background: $lighter-gray;
}

.l-header-nav > ul > li.TouchHover:hover > a,
.l-header-nav > ul > li.TouchHover:hover > span {
  border-radius: 0.5em 0.5em 0 0;
}


.l-header-nav-dropdown {
  @include color-links($black, $header-nav-link-color-hover);
  position: absolute;
  background: white;
  border: 3px solid $lighter-gray;
  z-index: 101;
  min-width: 11em;
  top: 2.3em;
  left: 0;
  padding: 0.4em 1.4em;
  border-radius: 0 0.4em 0.4em;
  line-height: 1.5em;
}

ul.l-header-nav-dropdown > li, ul#devise_links > li {
  margin: 0.5em 0;
  list-style-type: none;
}


.l-header-nav-dropdown--login {
  width: 17em;

  form {
      margin-bottom: 1.5em;
  }

  ul#devise_links {
    padding: 0;

    li {
      &#registration_link {
        font-weight: bold;
        margin-bottom: 1em
      }
    }
  }
}


/********************************* Breakpoints ********************************/

@include till-breakpoint($bp-tablet) {
  .l-header-rename,
  .l-header-nav {
    display: none;
  }
}

@include at-breakpoint($bp-tablet) {
  .l-header-mnav,
  .l-header-mnav-toggle {
    display: none;
  }
}
