$header-highlight-color: $even-lighter-gray;
$header-nav-link-color-hover: $blue;

// Peek fix
#peek .wrapper {
  width: $screen-width !important;
}

.l-header-top {
  @include container($screen-width);
  padding: 0.2em 1rem 0.1em;

  @include at-breakpoint($bp-tablet) {
    padding-left: $screen-padding;
    padding-right: $screen-padding;
  }
}

// Temporary rename message
p.l-header-rename {
  float: left;
  margin-top: 0.8em;
  font-weight: 300;

  @include till-breakpoint($bp-mobile-horizontal-big) {
    display: none;
  }
}


.l-header-bottom {
  background: $header-highlight-color;
  padding: 0.5em 0;
}


.l-header-logo,.l-header-nav  {
  display: inline-block;
  span.sprite_logo {
    display: block;
    margin-right:2em;
  }
}

.l-header-logo {
  float: left;
}

.l-header-nav {
  margin-top: 0.2em;
  float: right;
  text-align: right;
}

.l-header-nav > ul {
  list-style: none;
  margin:0;
  padding:0;
  @include clear-links;
  > li {
    text-align: left;
    position: relative;
    display: inline-block;
    line-height: 2.5em;
    margin-left: 0.5em;
  }
}

.l-header-nav > ul > li > a {
  @include till-breakpoint($bp-mobile) {
    font-size: 0.9em;
  }
  color: $black;
  padding: 0.5em;
  border-radius: 0.5em;
  &:hover, &.is-active {
    background: $lighter-gray;
  }
  &.is-active {
    border-radius: 0.5em 0.5em 0 0;
  }
}

.l-header-nav-dropdown {
  display: none;
  @include color-links($black, $header-nav-link-color-hover);
  position: absolute;
  background: white;
  border: 3px solid $lighter-gray;
  z-index: 101;
  min-width: 11em;
  top: 2.3em;
  right: 0;
  padding: 0.4em 1.4em;
  border-radius: 0 0.4em 0.4em;
  line-height: 1.5em;
}

ul.l-header-nav-dropdown > li, ul#devise_links > li {
  margin: 0.5em 0;
  list-style-type: none;
}


.l-header-nav-dropdown--login {
  width: 17em;

  form {
      margin-bottom: 1.5em;
  }

  ul#devise_links {
    padding: 0;

    li {
      &#registration_link {
        font-weight: bold;
        margin-bottom: 1em
      }
    }
  }
}


.l-header-nav-dropdown.is-active {
  display: block;
}


.l-header-cart {
  padding: 0.4em 0.5em;
  width: 180px;
  text-align: center;
}
.l-header-cart-list {
  list-style: none;
  padding: 0;
}
.l-header-cart-item {
  font-size: 11px;
  line-height: 14px;
  float: right;

  img {
    max-height: 40px;
    max-width: 58px;
    margin: 0 6px 6px 0;
    float: left;
  }

  .l-header-cart-item-title, .l-header-cart-item-quantity {
    display: inline-block;
    width: 116px;
    text-align: left;
    overflow: hidden;
  }

  .l-header-cart-item-title {
    height: 28px;
  }

  &:hover .l-header-cart-item-quantity, .l-header-cart-item-quantity {
    color: $gray;
    position: relative;
    top: -3px;
  }
}


// Reduced layout
.l-reduced .l-header {
  padding: 0.7em 0 1em;
  background-color: $header-highlight-color;

  .l-header-logo span {
    margin: 0;
  }
}
