// main container
.l-main {
  @include container($screen-width);
  padding: 1rem $screen-padding-mobile ($footer-height + 1rem);
  @include at-breakpoint($bp-tablet) {
    padding-left: $screen-padding;
    padding-right: $screen-padding;
  }
}

.l-reduced .l-main {
  background-color: $white;
  box-shadow: 3px 3px 0 $light-gray;
  padding-bottom: 1rem;
}
