// main container
.l-main {
  @include container($screen-width);
  padding: 1rem $screen-padding-mobile ($footer-height + 1rem);
  @include at-breakpoint($bp-tablet) {
    padding-left: $screen-padding;
    padding-right: $screen-padding;
  }
}
