.l-news-header {
  background-color: $yellow;
  box-shadow: 0 1px 1px $gray;
  position: relative;
}

.l-news-header-inner {
  @include container($screen-width);
  padding: 1em 0;
  color: $dark-gray;
  @include color-links($dark-gray,$black);
  text-align: center;
  p {
    margin:0;
    padding:0;
  }
}

.l-news-header-close {
  cursor: pointer;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: $dark-gray;
  @include clear-links;
  @include user-select(none);
}
