/   Copyright (c) 2012-2015, Fairmondo eG.  This file is
/   licensed under the GNU Affero General Public License version 3 or later.
/   See the COPYRIGHT file for details.

= "Die Nutzer*in " + @refund.business_transaction_seller_nickname + " hat eine Rückerstattung für die Transaktion #{@refund.business_transaction.id} beantragt"
= "Grund: #{@refund.reason}"
= "Begründung: #{@refund.description}"
