-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
%section.l-ArticleList



  - articles.each do |article|
    - if article.active?
      %Article{ class: 'Grid Article Article--teaser' }
        = render '/articles/shared/show_article' , article: article

-# it doesn' look like there is a better way to send an array with a form.
-# like this we have to split the array elements in the controller!

-# http://stackoverflow.com/questions/10197303/rails-form-how-to-send-in-the-input-an-array

-#= semantic_form_for :exhibit, url: create_multiple_exhibits_path, method: :post do |f|
-#  = f.inputs do
-#    = f.input :articles, as: :hidden, input_html: { value: articles.map{|a| a.id.to_s} }
-#    = f.input :queue, :as => :select, :collection => Exhibit.queue.options
-#  = f.actions do
-#    = f.action :submit, label: 'speichern' , button_html: {class: "Btn"}

= button_to 'Queue1', create_multiple_exhibits_path(articles: articles.map{|a| a.id.to_s}, queue: :queue3), class: "Btn Btn--redSmall", method: :post

