- if search_string = search_cache.wegreen_search_string
  #WeGreen-iframe

  javascript:
    document.Fairmondo.placeIframe("https://widget.wegreen.de/1.0/products.html?appId=2394&q=#{CGI::escape(search_string)}");
