//
// Accordions.scss
//

.Accordion-item {
	margin-bottom: 1em;
}

.Accordion-header {
	@include whitebox;
	display:block;
	outline: 0;
	background:none;
	&:hover {
		background-color: $lightest-gray;
	}
	
}

.Accordion-header.ui-state-active {
	background-color: $blue;
	color: white;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.Accordion-item--errors {
  .Accordion-header {
    background: $red;
		color: white;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
  }
	.Accordion-content {
		display:block !important; // show content anyways
	}
}


.Accordion-content {
	border-bottom-left-radius: 0.9em;
	border-bottom-right-radius: 0.9em;
	overflow: auto;
	background-color: white;
	border: 1px solid $lighter-gray;
	padding:2em;
}


.Accordion-step {
	border-bottom: solid 2px $lightest-gray;
	margin-bottom: 1em;
	overflow: auto;
}

// Remove the last border
.Accordion-content .Accordion-step:last-of-type {
	border-bottom: 0;
	margin-bottom: 0;
}




