/*
# Standard fairnopoly Button.
Buttons can contain sprites.
Sprites will float to the left.

Button--large    - Larger Button
Button--green    - Green Button
Button--red      - Red Button
Button--gray     - Gray Button
Button--disabled - Disable Button via css class

Styleguide Buttons
*/
.Button {

  @include buttonize;
  @include bubbleize;

  text-align:center;
  color: white !important; // we want it to be readable
  background-color: $blue;

  &:hover {
    background-color: lighten($blue, 5%);
  }

}

.Button--large {
  font-size: 1.2em;
}

a.Button {
  display: inline-block;
  text-decoration:none;
}

.Button--green {
  background-color: $green;
  &:hover {
    background-color: lighten($green, 5%);
  }
}

.Button--red {
  background-color: $red;
  &:hover {
    background-color: lighten($red, 5%);
  }
}

.Button--gray {
  background-color: $gray;
  &:hover {
    background-color: lighten($gray, 5%);
  }
}
.Button--inactive {
  background-color: $light-gray;
  &:hover {
    background-color: $light-gray;
    cursor: default;
  }
}

.Button span[class^="sprite_"] {
  float:left;
  margin-right:0.5em;
}

.Button--disabled {
  cursor: default;
  background-color: $gray;
}
