.Comment-single {
  min-height: 48px;
  margin-bottom: 1em;
  overflow: hidden;
  max-width: 55em;
}

.Comment-single > .author_image {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 5px;
}

.Comment-single > .meta {
  padding-left: 49px;
  background-color: #fff;
  font-size: 0.85em;
  > time {
    color: $gray;
  }
}

.Comment-single > .text {
  margin-top: 0.25em;
  margin-left: 48px;
  padding-left: 2px;
  padding-right: 10px;
  background-color: #FFF;
  min-height: 28px;
  > p {
    margin: 0;
  }
}

.Comment-single .delete {
  float: right;
  margin-right: 0.6em;
}

.Comments-section {
  margin: 2em 0 1em;
}

.Comments-section h2 {
  font-weight: 600;
  font-size: 1em;
}

.Comments-section form li.input {
  list-style: none;
  overflow: visible !important;
  margin-bottom: 0;
}

.Comments-section .next_link, .Comments-section .comment-info-text {
  padding-right: 0.7rem;
  margin-bottom: 0.3125rem;
}

.Comments-count {
  float: left;

  em {
    margin-left: 0.3em;
    color: $secondary-color;
    font-size: 1em;
    line-height: 2em;
  }
}

.Comments-report {
  font-size: $xsmall-font-size;
}
