.Comment-single {
  border: 1px solid $lighter-gray;
  border-radius:1em;
  min-height: 48px;
  margin-bottom: 0.7em;
  overflow: hidden;
  background-color: $lighter-gray;
}

.Comment-single > .author_image {
  height: 48px;
  width: 48px;
  float: left;
}

.Comment-single > .meta {
  padding-left: 58px;
  background-color: #fff;
}

.Comment-single > .text {
  margin-left: 48px;
  padding-left: 10px;
  background-color: #FFF;
  min-height: 28px;
  > p {
    margin: 0;
  }
}

.Comment-single .delete {
  float: right;
  margin-right: 0.6em;
}

.Comments-section form li.input {
  list-style: none;
  overflow: visible !important;
  margin-bottom: 0;
}

.Comments-section .next_link {
  padding-right: 0.7rem;
}

.Comments-section .login-to-comment {
  margin-bottom: 0.7em;
}

.Comments-count {
  margin-right: 0.5em;
  > i.fa {
    font-size: 1.2rem;
  }
}

.Comments-report {
  font-size: $xsmall-font-size;
}

