/*
Content module for all CMS-Contents (@mixin whitebox used for this)

Content--center  - Centered Content

Styleguide Contents
*/


.Content {
    @include whitebox;
}
.Content--center {
    text-align:center;
}

.Content--warning {
    background-color: $red;
    color: $white;
    margin-bottom: 1em;
    text-align: center;
}


// Style Devise links
.Content ul#devise_links {
  list-style-type: none;
  padding: 0;

  li {
    margin: 0.5em 0;
  }
}
