div[class$="-hearts"] {
  float: right;

  > i.fa-heart, i-fa-heart-o {
    font-size: 1.2rem;
  }

}

.Hearts-button {
  position: relative;
  i.fa-heart, i.fa-heart-o {
    font-size: 1.2rem;
  }

  .Hearts-count {
    margin-left: 0.2rem;
  }
}
