div[class$="-hearts"] {
  float: right;

  > i.fa-heart {
    font-size: 1.2rem;
  }

}

.Hearts-button {
  float: right;
  position: relative;

  > a > i.fa-heart {
    font-size: 1.4rem;
  }

  > a > i.fa-plus,
  > a > i.fa-minus {
    position: absolute;
    color: white;
    z-index: 101;
    font-size: 0.7rem;
    left: 0.4rem;
    top: 0.35rem;
  }

}