div[class$="-hearts"] {
  float: right;
  i.fa-heart {
    font-size: 1.2rem;
  }
}

.hearts-button {
  float: right;
  position: relative;
  i.fa-heart {
    font-size: 1.4rem;
  }
  i.fa-plus, i.fa-minus {
    position: absolute;
    color: white;
    z-index: 101;
    font-size: 0.7rem;
    left: 0.4rem;
    top: 0.35rem;
  }
}