/*
Libraries
Libraries elements on libraries index pages
 Use this class to mark the detail tags, the most outer tags of the library.
details.Library
  summary
  .details

Styleguide Library
*/

.Library {
  margin-bottom: 1em;
}

.Library-wrapper {
  position: relative;
  padding: 1em;
  overflow: hidden;

  background-color: $even-lighter-gray;
  transition: background-color 0.2s;

  &:hover, &:active {
    background-color: #dce8f0;
  }
}

.Library-wrapper > a {
  z-index: 10;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.Library h3 {
  font-size: 1em;
  font-weight: 700;
  margin: 0.25em 0 0.75em;
}

.Library p {
  margin: 0;
  color: $mid-dark-gray;
  font-size: 0.8em;
}

.Library-thumbnails {
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  // Min height for libraries without elements
  min-height: 2em;
}

.Library-thumbnails li {
  float: left;
  position: relative;
  width: percentage(1 / 3);
  height: 0;
  // Calc padding-bottom so that is has an aspect ratio of 13/9 like the
  // thumbnail images
  padding-bottom: percentage((1 / 3) / (13 / 9));
  overflow: hidden;

  img {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $light-gray;
    border-left: none;
  }
}

.Library-thumbnails li:first-child img {
  border-left: 1px solid $light-gray;
}

.Library-footer {
  margin-top: 0.5em;
}

.Library-footer-articles {
  float: left;
}

.Library-footer-heartsandcomments {
  float: right;
}

.Library-footer-auditing {
  clear: both;
}


/******************************** Breakpoints *********************************/

@include till-breakpoint($bp-mobile-horizontal) {
  // Show only 3 thumbnails here
  .Library-thumbnails li:nth-child(n+4)
  {
    display: none;
  }
}

@include at-breakpoint($bp-mobile-horizontal) {
  // Show 4 images in a row
  .Library-thumbnails li {
    width: percentage(1 / 4);
    padding-bottom: percentage((1 / 4) / (13 / 9));
  }
}

@include at-breakpoint($bp-tablet) {
  .Library {
    @include span(6 of 12);
  }

  .Library:nth-of-type(odd) {
    clear: both;
  }

  .Library:nth-of-type(even) {
    @include omega;
  }
}
