/*
Notices
Messages for the user

Notice--error   -  Error Messages
Notice--info    -  Information Message
Notice--confirmation - Confirmation Dialog

Styleguide Notice
*/

.Notice {
  color: white;
  background-color: $blue;
  box-shadow: 0 1px 1px $gray;
  position: relative;
}

.Notice-inner {
  @include container($screen-width);
  @include color-links(white,$lighter-gray);
  padding: 1em $screen-padding;
}

.Notice--info, .Notice--confirmation, .Notice--error {
  background-color: $green;

  // for JS manipulation
  position: relative;
  z-index: 15002; //tooltips have 15001
}

.Notice--error {
  background-color: $red;
}

// The close button
.Notice-close {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  @include clear-links;
  @include user-select(none);
}
