.Payment {
  margin-bottom: rem(20);
}
.Payment > h3, .Payment > table, .Payment .Payment-cell, .Payment .Payment-value {
  background:white;
  border: 1px solid $lighter-gray;
}
.Payment > h3 {
  display: inline;
  padding: rem(5);
  border-bottom: none;
  font-size: 13px;
  font-weight: bold;
}

.Payment > .Payment-table {
  display: table;
  width: 100%;
  border-spacing: 0px;
}

.Payment > .Payment-table > .Payment-row {
  display: table-row;
}

.Payment .Payment-cell, .Payment .Payment-value {
  position:relative;
  display: table-cell;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: rem(5);
  &.Payment-cell--business_transaction, &.Payment-value--prices { // almost; right can always use some space
    padding: 0 rem(5) 0 0;
  }
}

.Payment .Payment-cell .Payment-article-image {
  float: left;
  margin-right: rem(12);
  line-height: 0;
  & img {
    max-height: 73px;
  }

  display: none;
  @include at-breakpoint($bp-tablet) {
    display: block;
  }
}
.Payment .Payment-cell .Payment-article-title {
  word-break: break-all;
  display: table-cell;
  height: 64px;
  vertical-align: middle;
  width: 20%;  // Twilight zone! The wider this percentage, the smaller the element.
}

.Payment .Payment-value--total, .Payment .Payment-cell--total {
  font-weight: 600;
}
.Payment .Payment-value .Payment-value-info {
  font-size: 10px;
  &.Payment-value-info--left {
    font-weight: normal;
    @include at-breakpoint($bp-mobile-horizontal) {
      text-align: left;
      padding: rem(5) 0 0 rem(10);
    }
  }
  &.Payment-value-info--right {
    font-weight: normal;
    @include at-breakpoint($bp-mobile-horizontal) {
      text-align: right;
      padding: 0 rem(5) rem(5) 0;
    }
  }
}
.Payment .Payment-value--prices {
  font-weight: 600;
  @include at-breakpoint($bp-mobile-horizontal) {
    font-weight: normal;
  }
}

.Payment-refund {
  margin: 0.5em 0.5em;
  @include at-breakpoint($bp-tablet) {
   position:absolute;
   bottom:0;
   left:0;
  }
}
