/*
Search Result Layout
Search Filters, Categories and the results-page

cannot be in controller specific code because it is used by multiple controllers
*/

// Sidebar left / Results right in desktop
@include between-breakpoints($bp-tablet-horizontal,$bp-desktop) {
  .Search-sidebar {
    @include span(1 of 4 0.1);
  }
  .Search-results {
    @include span(3 of 4 0.1);
    @include omega;
  }
}

@include at-breakpoint($bp-desktop) {
  .Search-sidebar {
    @include span(1 of 5 0.1);
  }
  .Search-results {
    @include span(4 of 5 0.1);
    @include omega;
  }
}

// smartphone dropdowns

.Search-heading {
  margin:0;
  padding: em(8) em(18);
  &:hover {
    background: $lightest-gray;
  }
  //font-size: 1rem; would be an option
}

.Search-heading > .Search-arrow {
  float: right;
  &.sprite_down_arrow {
    display: inline-block;
    &.is-active {
      display: none;
    }
  }
  &.sprite_up_arrow {
    display:none;
    &.is-active {
      display: inline-block;
    }
  }
}


// Sidebar Categories

.Search-categories {
  @include whitebox;
  padding: 0; // counteract whitebox
  margin-bottom: 1em;
}

.Search-categories > .Search-heading {
  @include at-breakpoint($bp-tablet-horizontal) {
    display: none;
  }
}

.Search-categories > .Search-tree {
  margin:  0;
  padding: em(10) em(10);
  list-style-type: none;

  @include till-breakpoint($bp-tablet-horizontal) {
    padding:1em;
    display: none;
    &.is-active{
      display:block;
    }
  }
}

// List node

.Search-categories .Search-tree > li {
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:100%;
  @include till-breakpoint($bp-tablet-horizontal) {

    border-bottom: 1px dashed $lighter-gray;
    &:last-child {
      border-bottom: 0px;
    }
  }
}

.Search-categories .Search-tree > li > span {
  padding-left: em(10);
  padding-right: em(5);
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display:block;
}

// Ancestors

.Search-categories > .Search-tree > li > .Search-ancestor {
  margin: 0;// 0 1em;
  @include till-breakpoint($bp-tablet-horizontal) {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

// Second  level

.Search-categories > .Search-tree > li > .Search-tree {
  list-style-type: none;
  margin-left: 1em;
  padding:0;
}

.Search-categories-empty {
  color: $gray;
  @include color-links($gray,$light-gray);
}


// Search filters

.Search-filters {
  @include clearfix;
  clear: both;
}

.Search-filter-container {
  position: relative;
  margin-right: 2.5em;
}

.Search-filter-button {
  @include whitebox;
  padding:0;
  margin-bottom:1em;
}

.Search-filter-wrapper > .Search-filter-button {
  @include at-breakpoint($bp-mobile-horizontal) {
    display: none;
  }
}

.Search-filter-container {
  @include till-breakpoint($bp-mobile-horizontal) {
    display: none;
    &.is-active {
      display:block;
    }
  }
}

.Search-filters > .Search-filter {
  @include between-breakpoints($bp-mobile-horizontal,$bp-tablet) {
    @include grid-with-columns(3);
    &:nth-child(3) .is-active{
      right: 0em;
      left: inherit;

    }
  }
  @include at-breakpoint($bp-tablet) {
    @include span(1 of 5 0.05);
    &:nth-child(5) {
      @include omega;
      .is-active {
        right: 0em;
        left: inherit;
      }
    }

  }
}

.Search-filter {
  position: relative;
  margin-bottom: 1em;
}



.Search-additional {
  width: 2em;
  position: absolute;
  top:0;
  right:-2.5em;
}

.Search-dropdown {
  @include whitebox;
  padding: 0.3em;
  height: 1.3em;
  line-height:1.3em;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include user-select(none);
  &:hover {
    background: $lightest-gray;
  }
}

.Search-dropdown > ul, .Search-filter > form {
  display: none;
  width: auto;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background: white;
  box-shadow: $sand 0px 0px 2px 2px;

  &.is-active {
    top: 2.2em;
    left: 0em;
    display: block;
    position: absolute;
    z-index: 1;
  }
}
.Search-filter > form {
  padding: 1em;
}

.Search-dropdown > ul {
  list-style: none;
}

.Search-dropdown > ul > li {
  white-space:nowrap;
  padding: 0;
  &:hover {
    background: $blue;
    a {color:white;}
  }
}

.Search-additional > .Search-filter .is-active, {
    right: 0em;
    left: inherit;
}

a.Search-colored-link {
  padding: 0.5em;
  display:block;
  text-decoration:none !important;
  img {
    vertical-align: middle;
    margin-right: 0.5em;
  }

}

.Search-dropdown--commendation {
  color: white;
}
