.ui-tooltip {
  background-image: none !important;
  background-color: $light-gray !important;
  color: #000 !important;
  border-radius: 10px !important;
  font-size: 15px !important;
  font-family: sans-serif !important;
  box-shadow: fuzzy !important;
  shadow-color: black;
  border: 0 !important;
  border-color: $gray;
  width: 270px !important;
}
.ui-tooltip-content {
  position: relative;
  padding: 1em;
  background-color: #fff;
  border-radius: 8px !important;
}
.ui-tooltip-content::after {
  content: '';
  position: absolute;
  border-style: outset outset solid solid;
  display: block;
  width: 0;
}
.bottom .ui-tooltip-content::after {
  top: -20px;
  left: 50%;
  margin-left: -(em(20,$base-font-size-unitless));
  border-color: $light-gray transparent;
  border-width: 0 20px 20px;
}