-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#

%h1= t('common.actions.login')

#sessions_form
  = render "/devise/sessions/shared"
  = render "/devise/links"

- if devise_mapping.registerable? && controller_name != 'registrations'
  #sessions_marketing
    %h2 Noch kein Konto?
    %p Dein Zugang zu den schönsten & fairsten Produkten im Netz in weniger als einer Minute.
    = link_to 'Neu registrieren', new_registration_path(:user), class: 'Button Button--action'
