.l-header
  .l-header-left
    = link_to image_tag(attachments['logo.png'].url), 'https://www.fairnopoly.de'
  .l-header-right
    = link_to t('email.header.support_button'), 'https://fairnopoly.de', class: 'Button'
