/   Copyright (c) 2012-2016, Fairmondo eG.  This file is
/   licensed under the GNU Affero General Public License version 3 or later.
/   See the COPYRIGHT file for details.

h1= t('article_templates.titles.new')
= render 'form', form_path: article_templates_path, form_method: :post
