.Addresses
  .Grid
    - current_user.addresses.where.not(id: current_user.reload.standard_address_id).order(:id).each do |address|
      = render 'addresses/address', address: address, radio: radio, editable: true, checked: value == address.id
