:plain
  $("#address_#{params[:id]}").replaceWith("#{ j(render 'addresses/address', address: @address, radio: (params[:radio] == 'true' ? true : false), checked: @address.id)}");
  $.colorbox.close();
