- if article.seller.is_a?(LegalEntity) && article.basic_price_amount?
  %p
    %span.pull-right= humanized_money_with_symbol article.basic_price
    = t('formtastic.labels.article.basic_price')
  %p
    %span.pull-right= t('enumerize.article.basic_price_amount.'+article.basic_price_amount)
    = t('formtastic.labels.article.basic_price_amount')