/
/
/ == License:
/ Fairmondo - Fairmondo is an open-source online marketplace.
/ Copyright (C) 2013 Fairmondo eG
/
/ This file is part of Fairmondo.
/
/ Fairmondo is free software: you can redistribute it and/or modify
/ it under the terms of the GNU Affero General Public License as
/ published by the Free Software Foundation, either version 3 of the
/ License, or (at your option) any later version.
/
/ Fairmondo is distributed in the hope that it will be useful,
/ but WITHOUT ANY WARRANTY; without even the implied warranty of
/ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/ GNU Affero General Public License for more details.
/
/ You should have received a copy of the GNU Affero General Public License
/ along with Fairmondo.  If not, see <http://www.gnu.org/licenses/>.
/

- new_window = true
- if article_path(article) == request.path
  - link = "#commendation"
  - new_window = false

= render('articles/show/commendation_label', label: :fair, size: :small, link: link, new_window: new_window) if article.fair
= render('articles/show/commendation_label', label: :ecologic, size: :small, link: link, new_window: new_window) if article.ecologic
= render('articles/show/commendation_label', label: :small_and_precious, size: :small, link: link, new_window: new_window) if article.small_and_precious
= render('articles/show/commendation_label', label: :swappable, size: :small, link: link, new_window: new_window) if article.swappable
= render('articles/show/commendation_label', label: :borrowable, size: :small, link: link, new_window: new_window) if article.borrowable
= render('articles/show/commendation_label', label: :bike_courier, size: :small, link: content_path('courier', layout: false), new_window: false) if article.transport_bike_courier
