.fair_company
  h2= simple_format 'Mit Deinem Einkauf<br>auf Fairmondo<br>trägst Du zum Aufbau eines konsequent<br>fairen Unternehmens bei.'
  = link_to 'Mehr erfahren', 'https://info.fairmondo.de/about_us', class: 'Button'
  = image_tag 'infobox-artikel-bottom.png'
