.fair_company
  h2 Mit Deinem Einkauf<br>auf Fairmondo<br>unterstützt Du den Aufbau eines konsequent<br>fairen Unternehmens.
  = link_to 'Mehr erfahren', 'https://www.fairmondo.de/about_us', class: 'Button', target: '_self'
  = image_tag 'infobox-artikel-bottom.png', alt: 'Fairmondo wird von vielen getragen.'
