- articles.each_with_index do |article,index|
  %Article.Article.Article--teaser.Grid.Highlight-article{:class => "Highlight-article-#{index}"}
    = render "/articles/shared/show_article", item: article