.subscription
  = link_to 'https://www.startnext.com/rundesache', target: '_blank' do
    = image_tag 'cfk_abo_box.png', alt: 'Das Runde Sache Abo. Schöne und faire'\
      ' Dinge jeden Monat zu Dir nach Hause!'
