.imports
  .imports-inner
    %h2
      Beta-Funktion
    %p
      Du kannst jetzt Artikel testweise per CSV hochladen!
      -#Die CSV Schnittstelle ist aufgrund von Wartungsarbeiten zur Zeit leider ausser Betrieb.
    = link_to t('users.boxes.import'), new_mass_upload_path, :class => "Button"
