.Import-banner
  .Import-banner-inner
    %h2.Import-banner-title.Icon
      %i.icon-get-share
      Artikel per CSV importieren
    %p
      Du kannst jetzt Artikel massenweise per CSV hochladen
    = link_to "Artikel importieren", new_mass_upload_path, :class => "Btn Btn--blue"