.Import-banner
  .Import-banner-inner
    %h2.Import-banner-title.Icon
      Beta-Funktion: Artikel per CSV importieren
    %p
      Du kannst jetzt Artikel massenweise per CSV hochladen
    = link_to t('users.boxes.import'), new_mass_upload_path, :class => "Btn Btn--blue"