.banner
  .banner-inner
    %h2
      Werbematerialien
    %p
      Wir haben freie Werbematerialien für Euer Angebot auf dem Marktplatz wie Webbanner und Druckvorlagen zusammengestellt.
    %a{href: 'http://info.fairnopoly.de/fairnopoly-werbematerial/', target: 'blank', class: 'Button'}
      = t('footer.pr_material')
