//
// Accordions.scss
//

.Accordion {
	@include span-columns(4, 4);
}
.Accordion-header {
	@extend .Btn;
	@extend .Btn-accordion;
	@include pie-clearfix;
	margin-bottom: -0.2em;
	outline: 0;
	background: $btn--blue !important;
	border: 0px solid !important;
	&:hover {
	background-color: lighten($tag--blue, 5%) !important;
}
	.icon-arrow {
		float: left;
	}
	.content {
		display: inline-block;
		// height: auto;
		// white-space: normal;
		// margin-right: 2em;
	}
	.number {
		@include rem(font-size, $font-size-l);
		display: inline-block;
		padding: 0;
	}
}

.Accordion-content {
	@include border-bottom-radius(.9em);
	padding: ($gutter-width / 2);
	overflow: auto;
	background-color: $white;
	border: 0px solid !important;
	.Articles--list li {
		@include span-columns(2, 2);
	}
	.Article-info {
		padding: 1em 0em;
	}
}
.Accordion-box {
	@include span-columns(1, 2);
	&:last-child {
		@include span-columns(1 omega, 2);
	}
	.Accordion-box {
		@include span-columns(1, 2);
		&:last-child {
			@include span-columns(1 omega, 2);
		}
	}
}
.Accordion-item {
	margin-bottom: 25px;
	outline: 0;
}
.Accordion-step {
	border-bottom: solid .15em $beige;
	padding: ($gutter-width / 2);
}
.Accordion-step--image {
	@extend .Accordion-step;
	padding: 0em ($gutter-width / 2);
}


//
// Media Queries
//
@include at-breakpoint($layout-small) {
	.Accordion-content {
		.Articles--list li {
			@include span-columns(1, 2);
			&:nth-child(2n) { @include span-columns(1 omega, 2)}
		}
	}
}
@include at-breakpoint($layout-medium) {}
@include at-breakpoint($layout-large) {
	.Accordion {
		@include span-columns(2, 4);
	}
	.Accordion--full {
		width: 100%;
		margin-right: 0;
	}
	.Accordion-header {
		.content {
			white-space: normal;
			width: 12em;
		}
	}
}
