//
// Accordions.scss
//

.Accordion-header {
  @extend .Btn;
  @extend .Btn-accordion;
  margin-bottom: -.2em;
}

.Accordion-content {
  @include border-bottom-radius(.9em);
  padding: $gutter-width / 2;
  overflow: auto;
  background-color: $white;
}

.Accordion-item {
  margin-bottom: 25px;
}

