//
// Articles
//

.Article-info {
	border-bottom-left-radius: 0.9em;
	border-bottom-right-radius: 0.9em;
	.Article--teaser & {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}
.Article-image {
	border-top-left-radius: 0.9em;
	border-top-right-radius: 0.9em;
	
	img {
		width: 100%;
		height: auto;
	}
}
.Article-friendly {
	margin-top: 1em;
}
.l-ArticleList {
	@include pie-clearfix;
}
.Article--teaser .Article-tags {
	border-bottom-left-radius: 0.9em;
	border-bottom-right-radius: 0.9em;
}
.Article-info {
	@include pie-clearfix;
	padding: $gutter-width / 2;
	padding-bottom: .5em;
	min-height: 10em;
	background-color: $white;
	h2 {
		@include rem(font-size, $base-font-size);
	}
}

.Thumbnail {
		width: 50%;
		float: left;
		@include rem(padding-right, 7px);
		@include rem(padding-bottom, 7px);
}

.Article-info--right {
	@include span-columns(2, 2);
	.Article-vat,
	.Article-basicprice {
		@include span-columns(2, 2);
		margin-bottom: .3em;
	}
	.Btn {
		float: right;
	}
}
.Article-info--left {
	@include span-columns(2, 2);
	position: relative;
	min-height: 19.5em;
}
.Article-tags {
	@include pie-clearfix;
	padding: .5em .6em 0em;
	border-top: $beige 0.15em solid;
	background-color: $white;
}
.Articles-title {
	@include rem(font-size, $font-size-m);
	margin-bottom: 0;
}
p.Article-price,
span.Article-price {
	@include rem(font-size, $font-size-xl);
	@extend %Semibold;
	display: block;
	margin-bottom: 0em;
}
.Article-vat,
.Article-basicprice,
.Article-basicset {
	@include rem(font-size, $font-size-xs);
	line-height: 1;
	margin-bottom: .2em;
}
.Article-vat {
	@include span-columns(1 alpha, 2);
}
.Article-basicprice {
	@include span-columns(1 omega, 2);
}
.Article-basicset {
	@include span-columns(1, 2);
}
.Article-quantity {
	@include span-columns(2, 2);
}
.Article-accordion {
	margin-top: 2em;
}
// selling form
.Article-form {
	@include span-columns(4, 4);
}
.Article--related {
	border-radius: 0.9em;
	position: relative;
	margin-bottom: 1em;
	background-color: $white;
	overflow: hidden;
	.Helper-text {
		padding: $gutter-width / 2;
	}
	.icon-helper {
		display: inline-block;
		position: absolute;
		top: 1.1em;
		right: .8em;
		cursor: pointer;
	}
	.Article-title {
		@extend %Semibold;
		margin-bottom: 0;
		padding: $gutter-width / 2;
		font-size: $base-font-size;
		text-align: center;
	}
}


// Media queries
// -----------------------------------

@include at-breakpoint($layout-medium) {
	.Article--detail {
		@include span-columns(4, 4);
	}
	.User.User--teaser {
		@include span-columns(2, 4);
	}
	.Related {
		@include span-columns(2 omega, 4);
	}

	.Article-form {
		@include span-columns(3, 4);
	}
	.Article-info--right {
		@include span-columns(1 omega, 2);
	}
	.Article-info--left {
		@include span-columns(1 alpha, 2);
	}
}
@include at-breakpoint($layout-large) {
	.Article--detail {
		@include span-columns(2, 4);
	}
	.User.User--teaser {
		@include span-columns(1, 4);
	}
	.Related {
		@include span-columns(1 omega, 4);
	}
}
