//
// Articles
//

.Articles--detail {
	@include span-columns(4, 4);
	.Articles-info {
		@include border-bottom-radius(0.9em);
	}
	.Articles-image {
		@include border-top-radius(0.9em);
	}
	.Articles-box {
		@include span-columns(1, 2);
		&:last-child {
			@include span-columns(1 omega, 2);
		}
	}
}
.Articles--list {
	@include pie-clearfix;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	li {
		@include pie-clearfix;
		margin-bottom: $gutter-width;

		//
		// Article list layout
		//

		@include at-breakpoint($layout-small) {
			// apply 4col layout
			@include span-columns(2,4);
			&:nth-child(2n) { @include omega; }
			&:nth-child(2n+1) { clear: right;}
		}
		@include at-breakpoint($layout-medium) {
			// remove things from 2col layout
			&:nth-child(2n) { @include span-columns(1,4); }
			&:nth-child(2n+1) { clear: none;}
			// apply 4col layout
			@include span-columns(1,4);
			&:nth-child(4n) { @include omega; }
			&:nth-child(4n+1) { clear: right; }
		}
	}
	.Articles-tags {
		@include border-bottom-radius(0.9em);
	}
	.Articles-image {
		@include border-top-radius(0.9em);
	}
}
.Articles-image {
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
	}
}
.Articles--related {
	@include span-columns(4, 4);
	p {
		@include rem(font-size, $font-size-m);
	}
}
.Articles-related {
	@include border-radius(.9em);
	position: relative;
	margin-bottom: 1em;
	background-color: $white;
	overflow: hidden;
	.Helper-text {
		padding: $gutter-width / 2;
	}
	.icon-helper {
		display: inline-block;
		position: absolute;
		top: 1.1em;
		right: .8em;
		cursor: pointer;
	}
}
.Articles-info {
	@include pie-clearfix;
	padding: $gutter-width / 2;
	padding-bottom: 0;
	background-color: $white;
	h2 {
		@include rem(font-size, $base-font-size);
	}
}
.Articles-info--right {
	@include span-columns(2, 2);
	.Article-vat, .Article-basicprice {
		@include span-columns(2, 2);
		margin-bottom: 0;
	}
}
.Articles-info--left {
	@include span-columns(2, 2);
	position: relative;
	min-height: 19em;
}
.title_image {
	width: 50%;
	float: left;
	padding-right: 7px;
}

.Articles-tags {
	@include pie-clearfix;
	padding: .5em .6em 0em;
	border-top: $beige .15em solid;
	background-color: $white;
}
.Articles-title {
	@include rem(font-size, $font-size-m);
	margin-bottom: 0;
}
p.Articles-price,
span.Articles-price {
	@include rem(font-size, $font-size-xl);
	@extend %Semibold;
	display: block;
	margin-bottom: 0em;
}
.Article-vat,
.Article-basicprice {
	@include rem(font-size, $font-size-xs);
	line-height: 1;
}
.Article-vat {
	@include span-columns(1 alpha, 2);
}
.Article-basicprice {
	@include span-columns(1 omega, 2);
}
.Article-basicset {
	@include span-columns(1, 2);
}
.Articles-policy {
	@include span-columns(4, 4);
}
.Articles-related-title {
	@extend %Semibold;
	margin-bottom: 0;
	padding: $gutter-width / 2;
	font-size: $base-font-size;
	text-align: center;
}
.Article-user {
	@include span-columns(4, 4);
}
.pagination {
	text-align: center;
	li {
		list-style-type: none;
		display: inline-block;
		margin-right: 1em;
	}
}
.Article-accordion {
	margin-top: 2em;
}
// selling form
.Article-form {
	@include span-columns(4, 4);
}
.Article-tags {
	position: absolute;
	bottom: 0;
}
@include at-breakpoint($layout-medium) {
	.Articles--detail {
		@include span-columns(4, 4);
	}
	.Articles--related {
		@include span-columns(2 omega, 4);
	}
	.Articles-policy {
		@include span-columns(4, 4);
	}
	.Article-user {
		@include span-columns(2, 4);
	}
	.Article-form {
		@include span-columns(3, 4);
	}
	.Articles-info--right {
		@include span-columns(1 omega, 2);
	}
	.Articles-info--left {
		@include span-columns(1 alpha, 2);
	}
}
@include at-breakpoint($layout-large) {
	.Articles--detail {
		@include span-columns(2, 4);
	}
	.Articles--related {
		@include span-columns(1 omega, 4);
	}
	.Articles-policy {
		@include span-columns(4, 4);
	}
	.Article-user {
		@include span-columns(1, 4);
	}
}
