//
// Base
//


html {
  line-height: $base-line-height-unitless;
  font-size: $base-font-size;
  font-family: $font-body;
  color: #000;
}
input, textarea, select,button{font-family:inherit;}

body {
  padding: 0;
  margin: 0;
  background-color: $beige;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
dl {
  margin-top: auto;
  margin-bottom: $pBottomMargin;
}

h1,
h2,
h3,
h4 {
  color: $black;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  @include rem(font-size, 30px);
  @extend %Semibold;
  margin-bottom: em(13,30);
}
h2 {
  @include rem(font-size, 20px);
  @extend %Bold;
}
h3 {
  @include rem(font-size, 20px);
}
h4 {
  @extend %Bold;
}

.BodyText {
  @include rem(font-size, 14px);
  line-height: 1.4;
}

.SmallText {
  font-size: 13px;
  padding: 3px;
}

.RedText {
  color: $warningred;
}

// Links
a {
  text-decoration: none;
  color: $anchor-link;
}
a:hover {
  color: $anchor-hover;
  text-decoration: underline;
}

a:visited {
  color: $anchor-visited;
}

a.tooltip-link {
  color: $anchor-link;
}

// responsive
iframe,
img {
  max-width: 100%;
}
img {
  vertical-align: bottom;
}
// remove border in old ie
a img {
  border: 0;
}
// remove default margin
figure {
  margin: 0;
}
small {
  font-size: 80%;
}

.align-center {
  text-align: center;
}

// remove margin left on dd;
dd {
  -webkit-margin-start: 0px;
}


// Display Tables
th {
  text-align: left;
}