//
// Buttons
//

// Variables
// -----------------------------------

// colors

$btn--blue: $blue; // blue from _config
$btn--green: $green;
$btn--gray: $lightgray;

$tag--gray: $darkgray; //neu
$tag--blue: $lightblue; //fair
$tag--green: $lightgreen; // öko
$tag--orange: $orange; //klein&fein

$accordion--active: #717171; //gray
$accordion--inActive: $btn--blue;


// Base button (The)
// -----------------------------------

.Btn {
	@extend %bunputs;

	-webkit-appearance: none; /* 1 */

	cursor: pointer;
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none;
	background-color: $btn--blue;
	color: #fff;

	// user cannot select .Btn to copy/paste
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none; /* 6 */
	white-space: nowrap; /* 7 */

	//no border
	border: 0 solid;

	&:hover {
		color: #fff;
		border-color: rgba(#000,0.35);
	}
}


// Buttons' sizes
// -----------------------------------

.Btn--full {
	display: block;
	width: 100%;
}
// .Btn--large {
// 	@include rem(font-size, 16px);
// 	padding: em(5,16) em(32,16);
// }
// .Btn--huge {
// 	@include rem(font-size, 24px);
// }

.Btn--tag {
	text-transform: uppercase;
	@include rem(font-size, 13px);
	padding: em(5,16);
}

// Buttons' colors
// -----------------------------------

.Btn--blue,
.Btn-accordion--inActive {
	background-color: $btn--blue;
	&:hover {
		background-color: lighten($btn--blue, 10%);
	}
}
.Btn--green {
	background-color: $btn--green;
	&:hover {
		background-color: lighten($btn--green, 10%);
	}
}
.Btn--gray {
	background-color: $btn--gray;
	&:hover {
		background-color: lighten($btn--gray, 10%);
	}
}

.Btn-tag--gray {
	background-color: $btn-tag--gray;
	&:hover {
		background-color: lighten($btn-tag--gray, 10%);
	}
}
.Btn-tag--blue {
	background-color: $btn-tag--blue;
	&:hover {
		background-color: lighten($btn-tag--blue, 10%);
	}
}
.Btn-tag--green {
	background-color: $btn-tag--green;
	&:hover {
		background-color: lighten($btn-tag--green, 10%);
	}
}
.Btn-tag--orange {
	background-color: $btn-tag--orange;
	&:hover {
		background-color: lighten($btn-tag--orange, 10%);
	}
}

.Btn-accordion--active {
	background-color: $btn-tag--blue;
	&:hover {
		background-color: lighten($btn-tag--blue, 10%);
	}
}

// Icons inside Btns
// -----------------------------------
.Btn .Icon {
	display: inline-block;
}


// Ui State
// -----------------------------------

.Btn:hover,
.Btn:focus,
.Btn:active {
	text-decoration: none;
}
.Btn:disabled,
.Btn.is-disabled {
	cursor: default;
}