//
// Categories (???)
//

// not sure what this file is but it needs to be cleaned
// for now outcomment everything

/*
.Article-form {
  #article_categories_and_ancestors_input {
  .selectboxit-container,
    .selectboxit-options,
     {
    @include at-breakpoint($layout-large) {
        width: columns(1,4);
        
      }
      margin-right: 10px;
    }
    display: inline;
  }
  
  .Category-delete, #Category-selectbutton,.Category-selected {
     @include at-breakpoint($layout-large) {
       width: columns(1,4);
       margin-right: 10px;
       overflow: hidden;      
       text-overflow:    ellipsis;
        padding: em(10,17) em(15,17) em(9,17);
     }
     vertical-align: inherit;
     padding:3px;
     margin-right: 5px;
     margin: 0 0 $pBottomMargin;
  }
  
  #Category-selectbutton {
    @include at-breakpoint($layout-large) {
      margin-top:0px;
  }
  margin-top:10px;
  }
}




.Article-form #selected_categories_input > li > span.Category-selected {
  
  @include rem(font-size, 17px);
	line-height: normal;
	border-radius: 5px;
	text-decoration: none;
  text-align: center;
	background-color: #717171;
	color: $white;
	display: inline-block;

	
.select > label:first-child {
	margin-bottom: 0.2em;
}

.Article-form #selected_categories_input > li > span {
	@extend .Btn;
	background-color: $white;
	border: 1px solid;
	border-color: $lightgray;
	color: $black;
	&:hover {
		background-color: $darkgray;
	}
	
	
  
}
.Filter {
	.selectboxit-container,
	.selectboxit-options {
		.selectboxit {
			background-color: $white;
		}
	}
	.selectboxit-container:last-child {
		width: 100%;
		margin-right: 0;
	}
}
*/