#article_small_and_precious_edition,
#article_title,
#article_price,
#article_basic_price,
#article_article_template_attributes_name,
#article_category_proposal,
#Category-selectbutton,
.selectboxit-container,
.selectboxit-options {
	@include at-breakpoint($layout-large) {
		width: columns(1,3);
		margin-right: 20px;
	}
}
.select > label:first-child {
	margin-bottom: 0.2em;
}



// #article_categories_and_ancestors_input {
// 	.selectboxit-container,
// 	.selectboxit-options {
// 		width: 24%;
// 		margin-right: 1%;
// 	}
// 	#Category-selectbutton {
// 		 width: 25%;
// 	}
// }

// @media (max-width: 979px) {
// 	#article_categories_and_ancestors_input {
// 		#Category-selectbutton,
// 		.selectboxit-container,
// 		.selectboxit-options {
// 			width: 100%;
// 		}
// 		.selectboxit-container {
// 			margin-bottom: 1em;
// 		}
// 	}
// }





.Article-form {
	
	#selected_categories_input > li > span {
		 @extend .Btn;
		 background-color: $white;
		 border: 1px solid;
		 border-color: $lightgray;
		 color: $black;
		 &:hover {
			 background-color: $white;
		 }
	}
}
.Filter {
	.selectboxit-container,
	.selectboxit-options {
		.selectboxit {
			background-color: $white;
		}
	}
	.selectboxit-container:last-child {
		margin-right:0px;
	}
}
