//
// Masonry/Packery/Dynamid grid
//

// be sure to change the $gutter, $cols and media queries
$gutter: 3.6%;
$cols: 4;

.gutter-sizer {
	width: $gutter;
}
.grid-sizer {
	width: (100% - ($gutter*($cols - 1))) / $cols;
	// @media (min-width: em(1000)) {
	// 	$cols: 4;
	// 	width: (100 - ($gutter*$cols)) /$cols;
	// }
	// @media (min-width: em(1500)) {
	// 	$cols: 6;
	// 	width: (100 - ($gutter*$cols)) /$cols;
	// }
	@media (max-width: 48em) {
		width: 49% !important;
	}
	@media (max-width: 30em) {
		width: 100% !important;
	}
}
.Teaser--video,
.Teaser--text {
	width: 49%;
}

//
// Packery item styling
//
.Teaser {
	background: #fff;
}

.Teaser,
.Article--teaser {
	@extend .grid-sizer;
	@include pie-clearfix;
	float: left;
	position: relative;
	
	// we can't use % for this so imitate it like this
	margin-bottom: em(20);
	@media (max-width: em(900)) {
		margin-bottom: em(15);
	}
	@media (max-width: em(600)) {
		margin-bottom: em(10);
	}

	.lt-ie9 & {
		margin-bottom: em(20);
	}
}
