//
// Masonry
//

// When using Masonry with percentage widths, which is required to make it responsive, we need to work with the extra elements: .grid-sizer and .gutter-sizer. These are inserted with javascript and used to calculate the proper widths and avoid rounding errors as much as possible.

// The horizontal gutter in the grid comes from the .gutter-sizer alone so do not use any margin-left or right on the .grid-sizer nor on the items in the masonry grid. .gutter-sizer will be enough.
// The vertical gutter you can put on the items in the grid.

// More on masonry.desandro.com

// I've defined some variables for easier configuration. The grid goes from 1 -> 2 -> 3 -> 4 items in each row. The small/medium and medium/large are corrently outcommented but could be used if you need more.

// Small version
$small-columns: 2;
$small-from: 400px;

// // Small/Medium version
// $sm-columns: 3;
// $sm-from: 600px;

// Medium version
$medium-columns: 3;
$medium-from: 550px;

// // Medium/Large version
// $ml-columns: 5;
// $ml-from: 1200px;

// Large version
$large-columns: 4;
$large-from: 800px;


//
// Grid items
//
.grid-sizer,
.Teaser,
.Article--teaser,
.Highlight-article {
  @media (min-width: em($small-from)) {
    width: columns(1,$small-columns);
  }
  // @media (min-width: em($sm-from)) {
  //  width: columns(1,$sm-columns);
  // }
  @media (min-width: em($medium-from)) {
    width: columns(1,$medium-columns);
  }
  // @media (min-width: em($ml-from)) {
  //  width: columns(1,$ml-columns);
  // }
  @media (min-width: em($large-from)) {
    width: columns(1,$large-columns);
  }
}



//
// Items with double-size
//
.Teaser--video,
.Teaser--text {
  @media (min-width: em($small-from)) {
    width: columns(2,$small-columns);
  }
  // @media (min-width: em($sm-from)) {
  //  width: columns(1,$sm-columns);
  // }
  @media (min-width: em($medium-from)) {
    width: columns(2,$medium-columns);
  }
  // @media (min-width: em($ml-from)) {
  //  width: columns(1,$ml-columns);
  // }
  @media (min-width: em($large-from)) {
    width: columns(2,$large-columns);
  }
}

//
// Double Teaser
//
.DoubleTeaser {
   @media (min-width: em($small-from)) {
    width: columns(2,$small-columns);
  }
  // @media (min-width: em($sm-from)) {
  //  width: columns(1,$sm-columns);
  // }
  @media (min-width: em($medium-from)) {
    width: columns(1,$medium-columns);
  }
  // @media (min-width: em($ml-from)) {
  //  width: columns(1,$ml-columns);
  // }
  @media (min-width: em($large-from)) {
    width: columns(2,$large-columns);
  }
}

.DoubleTeaser--alwaysdouble {
  @media (min-width: em($medium-from)) {
    width: columns(2,$medium-columns);
  }
  @media (min-width: em($large-from)) {
    width: columns(2,$large-columns);
  }
}


//
// Grid horizontal gutter
//
.gutter-sizer {
  @media (min-width: em($small-from)) {
    width: gutter($small-columns);
  }
  // @media (min-width: em($sm-from)) {
  //  width: gutter($sm-columns);
  // }
  @media (min-width: em($medium-from)) {
    width: gutter($medium-columns);
  }
  // @media (min-width: em($ml-from)) {
  //  width: gutter($ml-columns);
  // }
  @media (min-width: em($large-from)) {
    width: gutter($large-columns);
  }
}

.Teaser {
  margin-bottom: em(38);
}

//
// Grid vertical gutter
//
.Article--teaser,.Highlight-article {
  margin-bottom: em(38);
  float:left;
  @media (min-width: em($small-from)) and  (max-width: em($medium-from - 1)) {
    margin-right:  gutter($small-columns);
    &:nth-child(2n) {
      @include omega;
    }
  }

  @media (min-width: em($medium-from)) and  (max-width: em($large-from - 1)) {
    margin-right:  gutter($medium-columns);
    &:nth-child(3n) {
      @include omega;
    }
  }
  @media (min-width: em($large-from)) {
    margin-right:  gutter($large-columns);
    &:nth-child(4n) {
      @include omega;
    }
  }

}

// Hiding articles that are more than we like
.Highlight-article-2 {
  display:none;
  @media (min-width: em($medium-from)) {
   display:block;
  }
}

.Highlight-article-3 {
  display:none;
  @media (min-width: em($large-from)) {
   display:block;
  }
}

