//
// Filter
//

.Filter {
	@include pie-clearfix;
	clear: both;
	position: relative;
	> .Filter-inner {
		max-height: 0px;
		overflow: hidden;
		background-color: $darkbeige;
		.Filter-btn {
      display:none;
    }
	}

	input { float: left; clear: left; }
	label { width: auto; color: $black; }
}
.Filter.is-active {
	> .Filter-inner {
		@include transition(max-height 1s);
		max-height: 999px;
		.Filter-btn {
			display:block;
		}
	}
	.Btn-accordion .icon-arrow-down {
		@include rotate(180deg);
	}
}


.Filter-title {
	@include rem(font-size, 17px);
	@extend %Semibold;
	position: relative;
	margin-top: 1em;
	@include rem(margin-bottom, 12px !important);
	.icon-helper {
		position: absolute;
		top: 0em;
		right: -2em;
	}
}
.Filter .Btn-accordion {
	margin-bottom: 0;
	border-radius: 0;
	background-color: $lightgray;
	color: #fff;
	text-align: center;
	.icon-arrow-down {
		display: block;
		margin: 0 auto;
		height: 8px;
		@include transition(all 200ms);
	}
}
.Filter-col {
  margin-bottom: 2em;

  label {
      @include rem(margin-top, 13px);
  }

	@include at-breakpoint($layout-small-to-large) {
		@include span-columns(3,6);
		&:nth-child(2n) {
			@include span-columns(3 omega,6);
		}
	}
	@include at-breakpoint($layout-large) {
		@include span-columns(1,6);

		&:nth-child(4n) {
		  @include span-columns(2,6);
		}
		&:nth-child(5n) {
      @include omega;
    }

	}
}

.Filter-btn {
  @include at-breakpoint($layout-large) {
    position: absolute;
      bottom: 0;
  }
}

