//
// Filter
//

.Filter {
  @include pie-clearfix;
  > .l-Inner {
    position: relative;
    height: 0;
    overflow: hidden !important;
    @include transition-timing-function(cubic-bezier(0.770, 0.000, 0.175, 1.000));
    @include transition(height 200ms)
  }

  input { float: left; clear: left; }
  label { width: auto; color: $black; }
}
.Filter.is-active {
  > .l-Inner {
    overflow: visible !important;
  }
}
.Filter-col {
  float: left;
  @include span-columns(1,6);
}

fieldset.Filter-col { 
  @include span-columns(4 omega,6);
}

.Filter-title {
  @include rem(font-size, 18px);
  @extend %Semibold;
  margin-bottom: em(10,18);
}
.Filter-btn {
  position: absolute;
  bottom: 40px;
  right: $gutter-width;
  margin-bottom: 0;
}
.Filter .Btn-accordion {
  margin-bottom: 0;
  border-radius: 0;
  background-color: $lightgray;
  color: #fff;
  text-align: center;
  .icon-arrow-down {
    display: block;
    margin: 0 auto;
    height: 8px;
    @include transition(all 200ms);
  }
}
.Filter.is-active {
  > .l-Inner { height: 200px; }
  .Btn-accordion .icon-arrow-down {
    @include rotate(180deg);
  }
}