//
// Forms
//

input[type='search'] {
	-webkit-appearance: none;
}
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='number'],
textarea {
	@include border-radius(.5em);
	@include rem(font-size, $base-font-size);
	padding: em(8);
	width: 100%;
	color: $black;
	border: .2em solid $lightgray;
	&:focus {
		outline: 0;
		color: $black;
	}
	&:hover {}
}

label {
	@extend %Semibold;
	@include rem(font-size, $font-size-m);
	width: 100%;
	display: block;
	color: $gray;
}
// CUSTOM SELECT
select {
	width: 100%;
}
.select {
	position: relative;
}
// Make sure the select is on top of the fake, custom one
.hasCustomSelect {
	position: absolute;
	top: 2em;
	z-index: 2;
	width: 100%
}
.customSelect { 
	@include border-radius(.5em);
	border: $lightgray solid .2em;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 100%;

}
.customSelectInner {
	background: url(asset_path("customSelect-arrow.gif", image)) no-repeat right center;
	width: 92% !important;
}
.customSelect.customSelectHover {}
.customSelect.customSelectOpen {}
.customSelect.customSelectFocus {}


// Article Form
fieldset.choices {
	display: block;
	border-bottom: solid $lightgray .1em;
	.leaf-item {
		@include pie-clearfix;
		padding: 1em;
		input {
			float: right;
		}
		label {
			width: 50;
		}
	}
}
.formtastic .boolean label {
	padding: 0;
}
.formtastic .choices-group {
	padding: 0;
}







