//
// Forms
//

input[type='search'] {
	-webkit-appearance: none;
}
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea {
	@include rem(font-size, $base-font-size);
	padding: em(8);
	width: 100%;
	color: $lightgray;
	border: 2px solid;
	border-radius: 5px;
	&:focus {
		outline: 0;
		color: $black;
	}
	&:hover {}
}

label {
	@extend %Semibold;
	@include rem(font-size, $font-size-m);
	width: 100%;
	display: block;
	color: $gray;
}


// Make sure the select is on top of the fake, custom one
.hasCustomSelect {
	z-index: 2;
	width: 100px;
}
.customSelect { 
	@include border-radius(.5em);
	border: $lightgray solid .2em;
	height: 40px;
	line-height: 35px;
	text-align: center;
}
.customSelectInner {
	background: url(asset_path("customSelect-arrow.gif", image)) no-repeat right center;
	width: 92% !important;
}
.customSelect.customSelectHover {}
.customSelect.customSelectOpen {}
.customSelect.customSelectFocus {}
