//
// index
//

/*

# Explantation of widths. We have a four-col grid.
1 cols = 23.5%
2 cols = 49%

*/

// General
// -----------------------------------
.Teaser {
	@include rem(padding, 10px 20px);
	text-align: center;
	color: #3c3c3c;
	border-radius: 8px;

	.Icon [class^="icon-"] {
		display: block;
		@include rem(margin, 20px auto);
	}
}

//
// Teaser variants
//

// Ribbon
.Teaser--welcome:before {
	content: '';
	display: block;
	width: 132px;
	height: 132px;
	background-image: url(asset-path("ribbon-pioneer.png", image));
	position: absolute;
	top: -5px;
	left: -5px;
}

.Teaser--text {
	@include rem(font-size, $base-font-size);
	@extend %Regular;
}
.Teaser-title {
	@include rem(font-size, 25px);
	@extend %Bold;
	color: black;
}
.Teaser--pioneer {
	padding-left: 0;
	padding-right: 0;
	.Teaser-title {
		@include rem(font-size, $base-font-size);
		margin-bottom: em(25,$base-font-size);
	}
}
.Teaser--pioneer-image {
	width: 100%;
	margin-bottom: 3px;
}
.Teaser--pioneer-1 { @include rem(font-size, 14px); text-align: left; margin: 0 20px; }
.Teaser--pioneer-2 { @include rem(font-size, 30px); text-align: left; margin: 0 20px; line-height: 1;}
.Teaser--pioneer-3 { @include rem(font-size, $font-size-xs); float: left; margin-left: 20px;}
.Teaser--pioneer-4 { @include rem(font-size, $font-size-xs); float: right; margin-right: 20px;}

.Profile {
	position: relative;
}
.Profile-name {
	@include rem(font-size, 14px);
	background-color: $green;
	color: #fff;
	padding: em(5,14) em(5,14) em(3,14) em(65,14);
	overflow: hidden;
	text-overflow: ellipsis;
}
.Profile-avatar {
	position: absolute;
	width: 72px;
	height: 72px;
	top: -18px;
	left: -8px;
}

.Teaser--total {
	// move padding from container to child els
	padding: 0;
	> .Teaser-title,
	> .Teaser-total--number {
		@include rem(padding, 10px 20px);
	}
	.Teaser-title {
		@include rem(font-size, $base-font-size);
		padding-bottom: 0;
	}
}
.Teaser--total-number {
	@include rem(font-size, 40px);
	@extend %Semibold;
	background-color: $green;
	color: #fff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}


// Icons 
// -----------------------------------

.icon-interrogation--green {
	@extend .icons-interrogation--green;
}
.icon-pionier--green {
	@extend .icons-pionier--green;
}
.icon-index-arrow--draw {
	@extend .icons-index-arrow--draw;
	position: absolute !important;
	top: -11px;
	left: -68px;
}
