//
// Known-From-Box
//

.Knownfrom {
  @include rem(padding, 10px 20px);
  padding-bottom: 0;
  background: #fff;
  @include rem(min-height, 50px);
}
.Knownfrom-element {
  float: left;
  @include rem(margin-left, 31px);
  @include rem(margin-bottom, 10px);
  @include rem(height, 30px);
}
.Knownfrom-icons {
  @include at-breakpoint($layout-small) {
    @include span-columns(17 omega, 18);
  }
}
.Knownfrom-element--title {
  @include rem(font-size, 11px);
  @include at-breakpoint($layout-small) {
    @include span-columns(1, 18);
  }
  color:$lightgray;
  margin-left: 0;

  // preventing overlap on really small screens
  position: relative;
  z-index: 1;
}