//
// Layout
//

body {
	background-color: $darkbeige;
}
.l-Inner {
	@include container;
}
.l-Header {
	padding-bottom: 1em;
	background-image: url(asset-path("back3.gif", image));
}
.l-Hero {
	background-color: $darkbeige;
	.l-Inner.first {
		padding-top: em(20);
		padding-bottom: em(20);
	}
}
.l-Main {
	background-color: $beige;
	& > .l-Inner {
		@include rem(padding-top, 40px);
		padding-bottom: 7em;
	}
}
.l-Footer {
	background-image: url(asset-path("back3.gif", image));
	.Footer--top {
		@media (min-width: 30em) {
			margin-bottom: em(103);
		}
	}
	.Footer--bottom {
		padding-bottom: em(20);
	}
}

.l-Feedback {
	display: inline-block;
	position: fixed;
	top: 50%;
	z-index: 99;
	@include rem(left, -119px);
	@include transform(rotate(-90deg));
}

.Feedback {
	&.Btn {
		margin: 0;
	}
}


// Media queries, mobile first
// -----------------------------------
