//
// Layout
//

// Out-commented because Susy adds it
// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

// // Grid
// .Grid {
// 	@extend %container;
// }
// .Grid--3 .Grid-cell {
// 	@include span-columns(1,3);
// }
// .Grid--4 .Grid-cell {
// 	@include span-columns(1,4);
// }
// .Grid-cell.last {
// 	margin-right: auto;
// 	float: right;
// }

// // Susy container
// // sets max-width and padding according to config.scss
// %container {
// 	@include container;
// 	@include box-sizing(content-box);
// }
