//
// Layout
//

body {
	background-color: $beige;
}
.l-Inner {
	@include container;
}
.l-Header {
	background-image: url(asset-path("back3.gif", image));
}
.l-Hero {
	background-color: $beige;
	.first {
		@include rem(margin-top, 18px);
		padding-bottom: em(20);
		@include pie-clearfix;
		background-color: $darkbeige;
	}
	.l-Inner {
		@include rem(margin-top, 16px);
	}
}
.l-Main {
	& > .l-Inner {
		@include rem(padding-top, 21px);
		padding-bottom: 7em;
	}
}
.l-Footer {
	background-image: url(asset-path("back3.gif", image));
	.Footer--top {
		@media (min-width: 30em) {
			margin-bottom: em(103);
		}
	}
	.Footer--bottom {
		padding-bottom: em(20);
	}
}
