//
// User libraries/"Sammlungen"
//

.Libraries {
	h3 {
		@extend %Semibold;
	}
	ul {
		list-style-type: none;
	}
	@include at-breakpoint($layout-medium) {
		@include span-columns(2,4);
	}
}
.Libraries-settings-left {
	float: left;
}
.Libraries-settings-right {
	float: right;
}
.Libraries-settings-clear {
	clear: both;
}
