//
// Mixins
//

// For fonts
%Regular {
	font-weight: 400;
}
%Semibold {
	font-weight: 600;
}
%Bold {
	font-weight: 700;
}

// Do not use extra bold. Use bold instead.
// %Extrabold {
// 	font-weight: 800;
// }