//
// Modules
//

.is-hidden {
	// hide while develpoing
	display: none;
}

.Logo {
	@include rem(padding-top, 27px);
}
.Logo,
.Copyright {
	float: left;
	@media (max-width: 30em) {
		float: none;
	}
}
.Copyright {
	@include rem(font-size, 15px);
	p {
		margin-top: .4em;
	}
}
.Meta {
	@include span-columns(4, 4);
	@include border-radius(.9em);
	background: #fff;
	p {
		@include rem(font-size, $font-size-m);
	}
}
.Meta--block {
	padding: $gutter-width / 2;
	border-bottom: solid $beige .15em;
}
.Meta--highlight {
	display: block;
	color: $gray;
}
.Breadcrumb {
	@include span-columns(4, 4);
	margin-bottom: $gutter-width / 3;
	ul {margin: 0; padding: 0}
	li {
		list-style-type: none;
	}
	a {
		color: $lightgray;
		text-decoration: none;
		text-transform: capitalize;
		&:hover {
			color: $gray;
		}
		&.last {
			color: black;
		}
		&.last:hover {
			color: $lightgray;
		}
	}
	&+.Breadcrumb {
		@include rem(margin-top, -13px);
	}
}
.Highlight {
	@include rem(font-size, $font-size-m);
	color: gray;
	margin-bottom: .5em;
}

.l-Hero {
	.l-Inner {
		h1 {
			@extend %Semibold;
			margin-top: 0.5em;
		}
	}
}
@include at-breakpoint($layout-small) {
	.Meta {
		@include span-columns(2, 4);
	}
}


//
// Feedback button
//
.l-Feedback {
	display: inline-block;
	position: fixed;
	top: 50%;
	z-index: 99;
	@include rem(left, -119px);
	@include transform(rotate(-90deg));
	@media (max-width: 30em) {
		display: none;
	}
}
.Feedback {
	&.Btn {
		margin: 0;
	}
}
