//
// Modules
//

.is-hidden {
	// hide while develpoing
	display: none;
}

.Logo {
	@include rem(padding-top, 27px);
}
.Logo,
.Copyright {
	float: left;
	@media (max-width: 30em) {
		float: none;
	}
}
.Copyright {
	@include rem(font-size, 15px);
	p {
		margin-top: .4em;
	}
}
.Meta {
	@include span-columns(4, 4);
	@include border-radius(.9em);
	background: $white;
	p {
		@include rem(font-size, $font-size-m);
	}
}
.Meta--block {
	padding: $gutter-width / 2;
	border-bottom: solid $beige .15em;
}
.Meta--highlight {
	display: block;
	color: $gray;
}
.Breadcrumb {
	@include span-columns(4, 4);
	margin-bottom: $gutter-width / 2;
	ul {margin: 0; padding: 0}
	li {
		list-style-type: none;
	}
	a {
		color: $lightgray;
		text-decoration: none;
		text-transform: capitalize;
		&:hover {
			color: $gray;
		}
		&.last {
			color: black;
		}
		&.last:hover {
			color: $lightgray;
		}

	}
}
.Highlight {
	color: gray;
	margin-bottom: 0;
}

// Hero search
#search-box-filter {display: none}


@include at-breakpoint($layout-small) {
	.Meta {
		@include span-columns(2, 4);
	}
}
