//
// Modules
//

.is-hidden {
	// hide while develpoing
	display: none;
}

.Logo {
	float: left;
	margin-top: 1em;
}
.Copyright {
	float: left;
	p {
		margin-top: .4em;
	}
}
.Meta {
	@include span-columns(4, 4);
	@include border-radius(.9em);
	background: $white;
	p {
		@include rem(font-size, $font-size-m);
	}
}
.Meta--block {
	padding: $gutter-width / 2;
	border-bottom: solid $beige .15em;
}
.Meta--highlight {
	display: block;
	color: $gray;
}
// needs to be rewritten when we find the layout datei
.fairnopoly-well {
	padding-top: 3em;
	padding-bottom: 7em;
}

// @include at-breakpoint() {
	
// }