//
// Navigation
//

.Nav {
	padding-left: 0;
	list-style: none;
	ul {
		@include clearfix;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		margin-right: em(15);
	}
	a {
		@extend %Semibold;
		display: block;
		text-decoration: none;
		
		&:hover,
		&.selected {
			@extend %Bold;
			color: #f1f1f1;
		}
	}
	.icon {
		display: inline-block;
	}
}

.Nav--primary {
	@include rem(font-size, $font-size-m);
	float: right;
	margin-top: 1em;
	text-align: center;

	li {
		margin-right: 1em;
		&:last-child { margin-right: 0; }
	}
	a {
		min-width: em(95,14); // room for bold on hover
		color: #000;
		&:hover {
			color: #000;
		}
	}
	.icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: icons-sprite-width(buy);
		height: icons-sprite-height(buy);
	}
}

.l-Footer a {
	color: #434343;
}
.Nav--meta {
	@include rem(font-size, 17px);
	margin-top: 1em;
}
.Nav--legal  {
	@include rem(font-size, 15px);
}

.Nav--meta,
.Nav--legal {
	@media (min-width: 30em) {
		float: right;
	}
}
