//
// Primary navigation 
//

.Navigation--primary {
	display: none;
	@include pie-clearfix;
	@extend %Semibold;
	
	li {
		display: inline-block;
	}
	a {
		display: inline-block;
		padding: 0.5em 1em;
		text-decoration: none;
		color: #000;
		
		&:hover,
		&.selected {
			color: #000;
			@extend %Extrabold;
		}
	}
}
