//
// Navigation
//

.Nav {
	padding-left: 0;
	list-style: none;
	ul {
		@include clearfix;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		@include rem(margin-right, 19px);
	}
	a {
		@extend %Semibold;
		display: block;
		text-decoration: none;
		
		&:hover,
		&.selected {
			color: #f1f1f1;
			text-decoration: underline;
		}
	}
	.icon {
		display: inline-block;
	}
}

.Nav--primary {
	clear: left;
	@include rem(margin, 22px auto 0);
	text-align: center;

	li {
		margin-right: 0;
		&.last { margin-right: 0; }
		@include at-breakpoint(50.7em lt-ie9) {
			@include rem(margin-right, 36px);
		}
	}
	a {
		@include rem(min-width, 70px); // prevent jump
		color: #000;
		&:hover {
			color: #000;
			@extend %Bold;
		}
	}
	.icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: icon-sprite-width(buy);
		height: icon-sprite-height(buy);
	}
	@include at-breakpoint(42.214em lt-ie9) {
		float: right;
		clear: none;
	}
}

.l-Footer a {
	color: #434343;
}
.Nav--meta {
	@include rem(font-size, 13px);
	@include rem(margin-top, 25px);
	li {
		@include rem(margin-right, 15px);
	}
}
.Nav--legal  {
	@include rem(font-size, 13px);
	@include rem(margin-top, 7px);
}

.Nav--meta,
.Nav--legal {
	@include at-breakpoint(30em lt-ie9) {
		float: right;
	}
	.last {
		margin-right: 0;
	}
}

