//
// Navigation
//

.Nav {
	// @include pie-clearfix;
	float: right;
	margin-top: 0;
	padding-left: 0;
	list-style: none;
	ul {
		@include clearfix;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
	}
	a {
		display: inline-block;
		padding: 0.5em 1em;
		text-decoration: none;
		
		&:last-child {padding-right: 0}
		&:hover,
		&.selected {
			color: #f1f1f1;
			border-color: #f1f1f1;
		}
		&:hover {}
		&.selected {}
	}
}

.Nav--primary {
	@include rem(font-size, $font-size-m);
	margin-top: 1em;
	li {
		padding-top: 1em;
		padding-right: 1em;
		margin-left: .6em;
		&:last-child {padding-right: 0.5em}
	}
	a {
		padding-top: 2.5em;
		//padding-right: 1em;
		&:last-child {padding-right: 0}
	}
}
.Nav--meta {
	@include rem(font-size, $base-font-size * .94);
	margin-top: 1em;
}
.Nav--legal  {
	@include rem(font-size, $base-font-size * .83);
}
.icons-buy, .icons-sell {
	background-position-x: 1.5em;
}
.icons-account {
	background-position-x: .5em;
}
.icons-logout {
	background-position-x: .74em;
}



