//
// Green/red notice bar
//

.Notice {
	color: #fff;
	overflow: auto;
	.l-Inner {
		//position: relative;
		padding-top: 1.5em;
		padding-bottom: 1em;
	}
	.Btn {
		margin-bottom: 0;
	}
	p {
		@include rem(font-size, $font-size-m);
		a {
		  text-decoration: underline;
		}
	}
	a {
		color: white;

	}

}
.Notice--info {
  background-color: $green;
}
.Notice--confirmation {
  background-color: $green;
}
.Notice--error {
  background-color: $red;
}

// The close button
.Notice-close {
  color: white;
  cursor: pointer;
  padding: 5px;
  @include rem(font-size, $font-size-l);
  //position: absolute;
  top: 0;
  left: 4px;
  float: right;
  &:hover {
    text-decoration: none;
    color: $white;
  }
}
