//
// Green/red notice bar
//

.Notice {
  display: none; // hidden for now
  position: relative;
  color: #fff;
  .l-Inner {
    padding-top: ($gutter-width /2);
    padding-bottom: ($gutter-width /2);
  }
  .Btn {
    margin-bottom: 0;
  }
}
.Notice--info {
  background-color: $green;
}
.Notice-error {
  background-color: $red;
}

// The close button
#alert-close-main {
  position: absolute;
  font-size: 22px;
  top: 10px;
  left: 10px;
  color: #fff;
  &:hover {
    text-decoration: none;
  }
}