// Progress bar change colors and background

.progress {
// Progress Bars
   border: 1px solid $gray !important;
    @include box-shadow(0 1px 2px rgba(0,0,0,.1));
    @include border-radius(.9em);
    overflow: hidden;
  }
.progress .bar {
	height: 1em;
    background-color: $blue;
 }

.progress-danger .bar, .progress .bar-danger {
  background-color: $red;
}

.progress-success .bar, .progress .bar-success {
  background-color: $green;
}