.User-rating{
  font-size: 13px;
  line-height: 2;
  margin-bottom: 0;
  padding-top: 15px;
  text-align: center;
  color: #959595;
}

.User-rating img{
  padding-left: 5px;
  /*padding-right: 2px;*/
  width: 30px;
  vertical-align: middle;
}

.User-rating span{
  vertical-align: middle;
}

.User-rating .text-right{
  float: right;
  padding-right: 10px;
}

.User-rating .text-left{
  float: left;
  padding-left: 10px;
}

.Rating-left{
  @include span-columns(4,14);
}
.Rating-middle{
  @include span-columns(7,14);
  /*border: 1px solid black;*/
  padding: 10px 40px;
}
.Rating-middle textarea{
  height: 170px;

}
.Rating-right{
  @include span-columns(3 omega,14);
}

.Rating-middle li.choice{
  @include span-columns(2,7);
}
.Rating-middle img{
  width: 25%;
}
.Rating-save{
  float: right;
}