//
// Search
//

.Search {
	position: relative;
	float: left;
	width: columns(4,4);
	max-width: 100%;
	input[type='text'] {
		margin: 0;
	}
	@include at-breakpoint($layout-small) {
		//@include span-columns(2, 4) !important;
		float: left;
		width: columns(2,4) !important;
	}
}
.Search .Search-input input { // extra specificity
	@include rem(font-size, 20px);
	width: 100%;
}
.Search-button {
	position: absolute;
	top: em(13);
	right: em(11);
}
.l-Hero .l-Right {
	float: right;
	position: relative;
	margin-top: em(6);
	.Btn--gray {
		width: auto;
		margin: 0;
		@include rem(font-size, 16px);
		@include rem(padding, 6px 18px 10px);
	}
	.icon-helper {
		position: relative;
		top: .5em;
		right: 0;
		margin-left: .6em;
		float: none !important;
	}
}
.Filter {
	.Filter-inner {
		padding-top: 1em;
	}
}


// .Search {
// 	@include at-breakpoint($layout-small) {
// 		@include span-columns(2, 4);
// 		float: left;
// 		//width: columns(2,4);
// 	}
// }
