//
// Search
//

.Search {
	position: relative;
	float: left;
	max-width: 100%;
	input[type='text'] {
		margin: 0;
	}
	&.inputs {
		float: left !important;
	}
	@include at-breakpoint($layout-small) {
		float: left;
		width: columns(2,4) !important;
	}
}
.Search .Search-input input { // extra specificity
	@include rem(font-size, 17px);
	width: 100%;
}
.Search-button {
	position: absolute;
	top: em(13);
	right: em(11);
}

.l-Hero {

  .Btn--gray {
    width: auto;
    margin: 1px;
    @include rem(font-size, 17px);
    @include rem(padding, 6px 18px 10px);
  }

  .l-Left {
    float: left;
    margin-top: em(6);
    margin-right: em(17);
    display: none;
    @include at-breakpoint(em(1166)) {
      display:block;
    }
    .Btn--gray {
      @include rem(padding, 7px 18px 11px); // Without the icon it is smaller
    }
  }

 .l-Right {
  float: right;
  position: relative;
  margin-top: em(6);

    .icon-helper {
      position: relative;
      top: .5em;
      right: 0;
      margin-left: .6em;
      float: none !important;
    }
  }



}


.Filter {
	.Filter-inner {
		padding-top: 1em;
	}
}


// .Search {
// 	@include at-breakpoint($layout-small) {
// 		@include span-columns(2, 4);
// 		float: left;
// 		//width: columns(2,4);
// 	}
// }
