.selectboxit-container,
.selectboxit-options,
.selectboxit-btn {
  width: 100%;
}
// Make it wider
.selectboxit-container ul.selectboxit-options {
  min-width: 300px;
}
.selectboxit-container .selectboxit-text,
.selectboxit-container .selectboxit-arrow-container {
  height: 36px;
  line-height: 36px;
  background: white;
}
.selectboxit-btn {
  border-radius: 0.5em;
  border: $lightgray solid .2em;
}
.selectboxit .selectboxit-text {
  max-width: 90% !important;
}
.selectboxit .selectboxit-arrow-container {
  width: 30px;
  max-width: 10%;
}
.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {}
.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus {
  text-decoration: none;
  background-position: 0 -15px;
}
.selectboxit-default-arrow {
  width: 0;
  height: 0;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.selectboxit-list {
  background-color: $white;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.selectboxit-list .selectboxit-option-anchor {
  color: #333;
}
.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
  background-color: $blue;
  color: $white;
}
.selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
  color: #999;
}