

.ui-tooltip {
  background-image: none !important;
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 10px !important; 
  font-size: 17px !important;
  font-family: sans-serif !important;
  box-shadow: none !important;
  border: 0 !important;
  width: 270px !important;
}
.ui-tooltip-content {
    position: relative;
    padding: 0.6em 0.8em 0.8em;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.right .ui-tooltip-content::after {
    top: 18px;
    left: -20px;
    border-color: transparent #000;
    border-width: 20px 20px 20px 0;
}
.left .ui-tooltip-content::after {
    top: 18px;
    right: -20px;
    border-color: transparent #000;
    border-width: 20px 0 20px 20px;
}
.top .ui-tooltip-content::after {
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    border-color: #000 transparent;
    border-width: 20px 20px 0;    
}
.bottom .ui-tooltip-content::after {
    top: -20px;
    left: 50%;
    margin-left: -20px;
    border-color: #000 transparent;
    border-width: 0 20px 20px;
}