

.ui-tooltip {
  background-image: none !important;
  background-color: $lightgray !important;
  color: #000 !important;
  border-radius: 10px !important;
  font-size: 15px !important;
  font-family: sans-serif !important;
  box-shadow: fuzzy !important;
  shadow-color: black;
  border: 0 !important;
  border-color: $darkgray;
  width: 270px !important;
}
.ui-tooltip-content {
    position: relative;
    padding: 0.6em 0.8em 0.8em;
    background-color: #fff;
    border-radius: 8px !important;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: outset outset solid solid;
    display: block;
    width: 0;
}
.right .ui-tooltip-content::after {
    top: 18px;
    left: -20px;
    border-color: transparent $lightgray;
    border-width: 20px 20px 20px 0;
}
.left .ui-tooltip-content::after {
    top: 18px;
    right: -20px;
    border-color: transparent $lightgray;
    border-width: 20px 0 20px 20px;
}
.top .ui-tooltip-content::after {
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    border-color: $lightgray transparent;
    border-width: 20px 20px 0;
}
.bottom .ui-tooltip-content::after {
    top: -20px;
    left: 50%;
    margin-left: -20px;
    border-color: $lightgray transparent;
    border-width: 0 20px 20px;
}