//
// User page
//

//
// User layout
//
.User {
	@include pie-clearfix;

	@include at-breakpoint($layout-large) {
		@include span-columns(2,4);
	}
}
.User-primary,
.User-secondary {
	@include at-breakpoint($layout-small) {
		@include span-columns(2,4);
		@include nth-omega(2n);
	}
	@include at-breakpoint($layout-medium) {
		@include span-columns(2,4);
		@include nth-omega(2n);
		@include rem(margin-bottom, 38px);
	}
	@include at-breakpoint($layout-large) {
		@include span-columns(1,2);
		@include nth-omega(2n);
	}
}

//
// User-info box
//
.User--detail {
	padding-top: 3em;
	@include rem(margin-bottom, 9px);
	@include at-breakpoint($layout-medium) {
		@include span-columns(2,4);
	}
}

.User-announcement {
  @include rem(margin-bottom, 9px);
  @include at-breakpoint($layout-medium) {
     padding-top: 3em;
    @include span-columns(1 omega,4);
  }
}

.User-announcement-inner {
  @include rem(padding, 10px 20px);
  padding-top: 1em;
  text-align: center;
  color: #3c3c3c;
  border-radius: 8px;
  background: #fff;

}

.User-announcement-title [class^="icon-"] {
    display: block;
    margin: 20px auto;
    margin: 1.42857rem auto;
}




.User-profile {
	@include span-columns(4, 4);
}
.User-title {
	@extend %Semibold;
	@include rem(font-size, 16px);
	text-align: center;
}
.User-secondary {
	@include rem(font-size, 13px);

	.User-collection {
		margin-top: 3em;
	}
	img {
		width: 100%;
		height: auto;
	}
}
.User-info {
	@include border-radius(.9em);
	@include rem(margin-bottom, 21px);
	@include rem(padding, 14px);
	background: $white;
	text-align: center;
}
.User-image {
	width: $column-width / 1.5;
	height: $column-width / 1.5;
	@include rem(margin, 0 auto 20px);
	@include rem(margin-top, 16px);
	img {
		width: 100%;
		height: 100%;
	}
}
.User-articles {
	li {
		@include span-columns(2, 2);
	}
}
.User-additional {
	.private-links ul, .private-links ol {
		padding: 0;
		list-style-type: none;
	}
}
.User-primary {
	@include rem(font-size, $font-size-m);
	@include clearfix;
	/*	text-transform: capitalize; */
	font-weight: 700;
	.User-image {
		@include rem(margin-top, 17px);
	}
}
.User-name {
	line-height: 1.1;
	@include rem(margin-bottom, 16px);
}
.User-legal {
	@include rem(margin-bottom, 8px);
	a {
		color: $gray;
	}
}
.User-primary .icon-pencil {
	top: 2px;
}

.User-accordion {
	@include span-columns(4, 4);

	.lt-ie9 & {
		width: 100%;
	}
}

.User-articles {
	@include at-breakpoint($layout-medium) {
		@include span-columns(4, 4);
		li {
			@include span-columns(1, 2);
			&:nth-child(2n) {
				@include omega;
			}
		}
	}
	@include at-breakpoint($layout-large) {
		@include span-columns(4, 4);
		li {
			@include span-columns(1, 4);
			&:nth-child(2n) {
				@include span-columns(1, 4);
			}
			&:nth-child(4n) {
				@include omega;
			}
		}
	}
}


//
// User/profile edit
//
.User-edit {
	p {
		@include pie-clearfix;
	}
	h3 {
		@extend %Semibold;
	}
	#user_password_input,
	#user_password_confirmation_input {
		@include at-breakpoint($layout-small) {
			@include span-columns(1,2);
			@include nth-omega(2n);
		}
	}
	#user_current_password_input {
		clear: both;
	}

	#user_current_password,
	#user_email {
		@include at-breakpoint($layout-small) {
			max-width: columns(1,2);
		}
	}
}
.User-edit-pw {
	.controls {
		clear: both;
	}
}
.User--rightside {
	@include rem(font-size, $font-size-m);
	@extend %Semibold;
	color: $lightgray;
	float: right;
}
.User--step {
	border-bottom: 1px solid $beige;
	padding: ($gutter-width / 2);
	@media (max-width: 30em) {
		padding-left: 0;
		padding-right: 0;
	}
}
.User-registration {
	@include span-columns(4, 4);
	.stringish {
		@include span-columns(4, 4);
		position: relative;
		//overflow: ;
	}
	.icon-helper {
		position: absolute;
		top: 2.2em;
		right: -.6em;
	}
	.User-registration-input {
		@include span-columns(4, 4);
		margin-bottom: 2em;
		padding: $gutter-width / 2;
		border-radius: 0.9em;
		background: $white;
		@include at-breakpoint($layout-medium) {
			@include span-columns(2, 3);
		}
	}
	.User-registration-checkbox {
		@include span-columns(4, 4);
		@include at-breakpoint($layout-medium) {
			@include span-columns(2, 3);
		}
	}
	@include at-breakpoint($layout-small) {
		.stringish {
			@include span-columns(2, 4);
		}
		.email {@include omega;}
		#user_password_input {
			float: left !important;

		}
		#user_password_confirmation_input {@include omega;}
	}
	@include at-breakpoint($layout-medium) {
		@include span-columns(3, 4);
	}

}
.User-registration-checkbox .input {
	margin-bottom: em(10);
}

// Login in a color box
#cboxLoadedContent .User-login {
	width:100%;
}
.User-login {
	.password {
		float: none !important;
		clear: both;
	}
	@include at-breakpoint($layout-small) {
		@include span-columns(2, 4);
	}
	@include at-breakpoint($layout-medium) {
		@include span-columns(1, 4);
	}
}
.User-library {
	.User-library--title,
	.User-library--user {
		text-align: center;
	}
	@include at-breakpoint($layout-small) {
		@include span-columns(1, 2);
		&:nth-child(2) {
			@include span-columns(1 omega, 2);
		}
	}
}

.User-library-test {
	.User-library--title,
	.User-library--user {
		text-align: center;
	}

	text-align: center;
	clear: both;
	float: left;
	border-radius: .8em;
	border-style: solid;
	border-color: $darkgray;
	border-width: 1px;
	width: 98%;
	margin-bottom: .5em;
}

