//
// User page
//



//
// User layout
//
.User {
	@include pie-clearfix;

	@include at-breakpoint($layout-large) {
		@include span-columns(2,4);
	}
}
.User-primary,
.User-secondary {
	@include at-breakpoint($layout-medium) {
		@include span-columns(2,4);
		@include nth-omega(2n);
	}
	@include at-breakpoint($layout-large) {
		@include span-columns(1,2);
	}
}

//
// User-info box
//
.User-detail {
	@include span-columns(4, 4);
	padding-top: 3em;
}
.User-profile {
	@include span-columns(4, 4);
}
.User-edit {
	p {
		@include pie-clearfix;
	}
	h3 {
		@extend %Semibold;
	}
}

.User-secondary {
	@include rem(font-size, $font-size-m);
	@include rem(margin-bottom, 76px);
	.User-collection {
		margin-top: 3em;
	}
}
.User-info {
	@include border-radius(.9em);
	margin-bottom: 1em;
	padding: $gutter-width / 4;
	background: $white;
	text-align: center;
}
.User-image {
	@include border-radius(50%);
	width: $column-width / 1.5;
	height: $column-width / 1.5;
	@include rem(margin, 30px auto);
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
	}
}
.User-articles {
	@include span-columns(4, 4);
	li {
		@include span-columns(2, 2);
	}
}
.User-additional {
	@include span-columns(4, 4);
}
.User-primary {
	@include rem(font-size, $font-size-m);
	@include clearfix;
	text-transform: capitalize;
	font-weight: 700;
}
.User-name {
	line-height: 1.1;
}
.User-legal a {
	color: $gray;
}
.User-primary .icon-pencil {
	top: 2px;
}

.User-accordion {
	@include span-columns(4, 4);
}

.User-articles {
	@include at-breakpoint($layout-medium) {
		@include span-columns(4, 4);
		li {
			@include span-columns(1, 2);
			&:nth-child(2n) {
				@include span-columns(1 omega, 2);
			}
		}
	}
	@include at-breakpoint($layout-large) {
		@include span-columns(4, 4);
		li {
			@include span-columns(1, 4);
			&:nth-child(2n) {
				@include span-columns(1, 4);
			}
			&:nth-child(4n) {
				@include span-columns(1 omega, 4);
			}
		}
	}
}
@include at-breakpoint($layout-large) {
	.User-additional {
		@include span-columns(2, 4);
	}
}


//
// User/profile edit
//
#user_password_input,
#user_password_confirmation_input {
	@include at-breakpoint($layout-small) {
		@include span-columns(1,2);
		@include nth-omega(2n);
	}
}
#user_current_password_input {
	clear: both;
}

#user_current_password,
#user_email {
	@include at-breakpoint($layout-small) {
		max-width: columns(1,2);
	}
}
.User-edit-pw {
	.controls {
		clear: both;
	}
}
.User--rightside {
	@include rem(font-size, $font-size-m);
	@extend %Semibold;
	color: red;
	float: right;
}
.User--step {
	border-bottom: 1px solid $beige;
	padding: ($gutter-width / 2);
}