// refs #109 and #154
/*
 *  Fairnopoly Step-Based Boxes
 * 
 */



.box {
  
  .box-legend {
    
    border: 1px solid #C8C8C8;
    font-family: Helvetica;
    
    h3 {
      line-height: 100% !important;
      margin-left: 35px;
    }
    
    a {
      text-decoration: none;
    }
    
    i {
      margin-right: 10px;
    }
    -webkit-transition:all 1.4s ease-in-out;
    -moz-transition:all 1.4s ease-in-out;
    -o-transition:all 1.4s ease-in-out;
    transition:all 1.4s ease-in-out; 
  }
  
}

.box:not(:target) {
  .box-legend {
    background: #DDDDDD url("box/box-closed.png") no-repeat left center;
    
    a:link, a:visited, a:hover, a:active {
      color: #666666;
    }    
  }
  
  
  .box-content {
     opacity: 0;
     display: none;
  }
}

.box:target {
  .box-legend {
    a:link, a:visited, a:hover, a:active {
      color: #FFFFFF; 
    }
    background: #0088CC url("box/box-open.png") no-repeat left center;
  }
}

.box {
  .box-legend-inside-well {
    border: 1px solid @wellBackground;
  }
}
