// refs #109 and #154
/*
 *  Fairnopoly Step-Based Boxes
 *
 */



.box, .box-open{
  margin-bottom: 25px;

  .box-legend {
    position:relative;
    border: 1px solid #C8C8C8;
    font-family: Helvetica;

    h3 {
      margin-top:auto;
      margin-bottom:auto;
      margin-left: 15px;
      display: block;
      a {
        padding-left: 45px;
        display: block;
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        text-decoration: none;
      }
    }
    h6 {
      margin-left: 15px;
      
      a {
        
        text-decoration: none;
      }
    }

    

    a.input-tooltip {
      margin: 7px 15px;
      span{
        left: 90%;
      }

      span:before, span:after{
        left: 90%;
      }
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    a.input-tooltip:hover span, a.input-tooltip.open-tooltip span{
      top: 50px !important;
    }

    -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;

    a:link, a:visited, a:hover, a:active {
      color: #FFFFFF;
    }
    background-color: $fairnopolyBlue;
    h6:before,h3:before {
      font-family: FontAwesome;
      content: '\f078\00a0\00a0';
      color: #FFFFFF;
    }
  }

  .box-content {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }

}

.box:not(:target) {
  .box-legend {
    background-color: $inactiveElement;

    a:link, a:visited, a:hover, a:active {
      color: #666666;
    }
    
    h6:before,h3:before {
    font-family: FontAwesome;
    content: '\f054\00a0\00a0';
    color: inherit;
  }
  }
  
}

.box:not(:target):not(.error-box) {

  // alternative to display: none - fixes chrome rendering issues for #165
  .box-content {
    position: fixed;
    top: -3000;
    transition-property: opacity, top;
    -moz-transition-property: opacity, top;
    -o-transition-property: opacity, top;
    -webkit-transition-property: opacity, top;
    transition-duration: 1s, 0s;
    -webkit-transition-duration: 1s, 0s;
    transition-delay: 0s, 1s;
    -webkit-transition-delay: 0s, 1s;
    z-index: -2; // presumably due to the delay, there may be half second when you cannot klick the content beyond
    opacity: 0;
  }
}

.box:target, .box-open {
  .box-legend {
    a:link, a:visited, a:hover, a:active {
      color: #FFFFFF;
    }
    background-color: $fairnopolyBlue;
    h6:before,h3:before {
      font-family: FontAwesome;
      content: '\f078\00a0\00a0';
      color: #FFFFFF;
    }
  }
  .box-content {
    transition-property: opacity, top;
     -webkit-transition-property: opacity, top;
    transition-duration: 1s, 0s;
     -webkit-transition-duration: 1s, 0s;
    transition-delay: 0s, 1s;
     -webkit-transition-delay: 0s, 1s;
  }
}

.box, .box-open {
  .box-legend-inside-well {
    border: 1px solid $wellBackground;
  }
}

// Error Ledgends

.error-box:not(:target), .error-box-visited:not(:target){
  .box-legend {

    a:link, a:visited, a:hover, a:active {
      color: $fairnopolyRed !important;
    }
  }
}

.error-box:target, .error-box-visited:target {
  .box-legend {
     background-color: $fairnopolyRed;
  }
}
