// refs #109 and #154
/*
 *  Fairnopoly Step-Based Boxes
 * 
 */



.box {
  margin-bottom: 25px;
  
  .box-legend {
    
    border: 1px solid #C8C8C8;
    font-family: Helvetica;
    
    h3 {
      line-height: 100% !important;
      margin-left: 35px;
      display: block;
    }
    h6 {
      line-height: 100% !important;
      margin-left: 35px;
      display: block;
    }
    
    a {
      text-decoration: none;
    }
    
    a.input-tooltip {
      margin: 7px 15px;
      span{
        left: 90%;
      }
       
      span:before, span:after{
        left: 90%;
      }
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    
    a.input-tooltip:hover span, a.input-tooltip.open-tooltip span{
      top: 50px !important;
    }
    
    -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
    
    a:link, a:visited, a:hover, a:active {
      color: #FFFFFF; 
    }
    background: @fairnopolyBlue url("input-step-open.png") no-repeat left center;
  }
 
  .box-content {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
    
}

.box:not(:target) {
  .box-legend {
    background: @inactiveElement url("box/box-closed.png") no-repeat left center;
    
    a:link, a:visited, a:hover, a:active {
      color: #666666;
    }
  }
}

.box:not(:target):not(.error-box) {
  
  // alternative to display: none - fixes chrome rendering issues for #165
  .box-content {
    position: absolute;
    top: -3000;
    transition-property: opacity, top;
    transition-duration: 1s, 0s;
    transition-delay: 0s, 1s;
    z-index: -2; // presumably due to the delay, there may be half second when you cannot klick the content beyond 
    opacity: 0;
  }
}

.box:target {
  .box-legend {
    a:link, a:visited, a:hover, a:active {
      color: #FFFFFF; 
    }
    background: @fairnopolyBlue url("box/box-open.png") no-repeat left center;
  }
  .box-content {
    transition-property: opacity, top;
    transition-duration: 1s, 0s;
    transition-delay: 0s, 1s;
  }
}

.box {
  .box-legend-inside-well {
    border: 1px solid @wellBackground;
  }
}

// Error Ledgends

.error-box:not(:target), .error-box-visited:not(:target){ 
  .box-legend {
    
    a:link, a:visited, a:hover, a:active {
      color: @fairnopolyRed !important;
    }
  }
}

.error-box:target, .error-box-visited:target { 
  .box-legend {
     background-color: @fairnopolyRed;
  }
}
