

/*
 *  Fairnopoly Colors
 */

@fairnopolyBlue:  #3C81C3;

@inactiveElement: #f0ebe5;
@inactiveElementText: #767573;

@mainBackground: #e0d6ca;

@darkGrayElement: #969696;

/*
 * Buttons
 */

@buttonBackgroundGreen: #78914f;