
/*
* Common Element that looks like a well
*/

div.element-in-box{
  background-color: @wellBackground;
  border: 1px solid darken(@wellBackground, 17%);
  padding: 20px 20px 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*
 *  Fill a Button to fit column size 
 */

.btn-fill {
  width:100%;
   border-radius: 0; 
   padding: 4px 0px;
}
