/*
 *  General use helpers
 * 
 */






/*
 *  Fill a Button to fit column size 
 */

.btn-fill {
  width:100%;
   border-radius: 0; 
   padding: 4px 0px;
}

/*
 *  A white button
 */

.btn-white {
  background-image: none;
  background-color: @white;
}





/*
 * Add a border to element
 */
.border-box{
  border: 1px solid darken(@wellBackground, 17%);
}

/*
 * clear padding
 */
.clear-padding{
  padding: 0px !important;
}

.clear-margin-bottom {
  margin-bottom:0px; 
}

/*
 * small-margin right and left - 4px
 */
.small-margin-side{
  margin-right: 4px;
  margin-left: 4px;
}

.middle-padding-left{
  padding-left:10px;
}

/*
 * middle-margin right and left - 10px
 */
.middle-margin{
  margin: 10px;
}

/*
 * middle-padding
 */
.middle-padding{
  padding: 10px;
}

/*
 * middle-margin top -10px
 */
.middle-margin-top{
  margin-top: 10px;
}
