/*
 *  General use helpers
 * 
 */



/*
* Common Element that looks like a well
*/

div.element-in-box{
  background-color: @white;
  border: 1px solid darken(@wellBackground, 17%);
  padding: 20px 20px 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*
 *  Fill a Button to fit column size 
 */

.btn-fill {
  width:100%;
   border-radius: 0; 
   padding: 4px 0px;
}

/*
 *  A white button
 */

.btn-white {
  background-image: none;
  background-color: @white;
}



/**
 *   Use a column border for divs inside a span
 */

div.well-column{
  background-color: @wellBackground;
  border: 1px solid darken(@wellBackground, 17%);
  padding:10px;
  
}

/**
 *   Use a column border for divs inside a span
 */
div.well-column-small-padding{
  background-color: @wellBackground;
  border: 1px solid darken(@wellBackground, 17%);
  padding:5px;
  
}

/**
 *   Use a column border for divs inside a span without padding
 */

div.well-column-no-padding{
  background-color: @wellBackground;
  border: 1px solid darken(@wellBackground, 17%);
  padding:0px;
  
}

/*
 * Use a white well
 */

.white-well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: @white;
}

/*
 * USe a dark gray well
 */
.dark-gray-well {
   padding: 20px;
   margin-bottom: 20px;
  background-color: @darkGrayElement;
  color: @white;
}

/*
 * Add a border to element
 */
.border-box{
  border: 1px solid darken(@wellBackground, 17%);
}

/*
 * clear padding
 */
.clear-padding{
  padding: 0px;
}

/*
 * small-margin right and left - 4px
 */
.small-margin-side{
  margin-right: 4px;
  margin-left: 4px;
}

/*
 * middle-margin right and left - 10px
 */
.middle-margin{
  margin: 10px;
}

/*
 * middle-margin top -10px
 */
.middle-margin-top{
  margin-top: 10px;
}
