/*
 * General Layout
 */


body {
  background: #d2c7b8 url('back1.png');
  min-width:340px;
}

header {
  padding: 20px 0;
  .left-nav {
      float:left;
      margin-right:20px;
      }
  h1#title a {
      display: block;
      width: 279px;
      height: 74px;
      background-image: url('logo.png');
      background-color: transparent;
      @include border-radius(3px);
      &:hover {
        opacity: 0.7
      }
      span {
        display: none;
      }
  }
  ul#main-nav {
    margin: 0px;
    li.main-nav-item {
      float:left;
      list-style: none;
      position: relative;
      min-width:80px;
      z-index: 200;
        &:hover:before {
          position: absolute;
          top: 10px;
          left: 50%;
          margin-left: -24px;
          z-index: 1;
          content: "";
          @include border-radius(50px);
          background: white;
          display: block;
          //position: absolute;
          width: 48px;
          height: 48px;
        }
      }

     li.main-nav-item > a {
        position: relative;
        color: black;

        display: block;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 65px;
        //border: 1px solid red;
        background-repeat:no-repeat;
        background-position: center 10px;
        z-index: 200;
        &:hover {
          text-decoration: none;

        }
      }
      li.main-nav-item#buy > a {   background-image: url('buy.png');}
      li.main-nav-item#sell > a {   background-image: url('sell.png');}
      li.main-nav-item#login > a {   background-image: url('login.png');}
      li.main-nav-item#service > a {   background-image: url('service.png');}
      li.main-nav-item#logout > a {   background-image: url('logout.png');}
      li.main-nav-item#login, li.main-nav-item#logout {
        float: right;
        a {margin-right: 0;}
      }
  }

}




#main {
  background-color : $mainBackground;
  border-bottom: 6px solid $white;
  padding-top: 20px;
  padding-bottom:10px;
}



#hero {
  padding: 15px 0;
  background-color: $fairnopolyGrey;
  background-image: none;


}




footer {
  text-align: center;
  h3 {
    font-weight: normal;
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 0;
  }
  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
  #sub-footer {
    border-top: 1px dashed #999;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
  }
}


/*
 *  Rules 4 header compression
 *  Responsive
 *
 */
@media (max-width: 480px) {

  ul#main-nav {
     li {
       min-width:60px !important;
       a{
           padding-right: 5px !important;
           padding-left: 5px !important;
       }
     }

  }
}

@media (max-width: 767px) {
  #hero {
    @include box-sizing(border-box);
    margin: 0 -20px 10px;
    padding: 10px 20px;
  }

  #main {
    @include box-sizing(border-box);
    margin: 0 -20px;
    padding: 20px 20px;
  }

}

li#login

  .popover-hidden {
    display: none;
  }

/*
 * Let Popovers in main nav be bigger and come from top right
 */

.main-nav-item .popover-content {
  min-width:200px;
}

.main-nav-item .popover{
  left: -160px !important;
  .arrow {
    left: 85% !important;
  }
}

