.l-header
  .l-header-left
    = link_to image_tag('sprites/logo.png'), 'https://www.fairnopoly.de'
  .l-header-right
    = link_to 'Fairnopoly unterstützen', 'https://fairnopoly.de', class: 'Button'
