.l-sidebar-help
  %h4
    Probleme mit der Bestellung?
  Lies unsere
  = link_to 'FAQ.', 'https://www.fairnopoly.de/faq'
  %br
  %br
  = mail_to $email_addresses['default'], 'Kontaktiere unseren Kundenservice.'
