.l-signature
  .l-signature-left
    %h4
      Kontakt
    Fairnopoly eG
    %br
    Glogauer Str. 21
    %br
    10999 Berlin
    %br
    = mail_to 'email@fairnopoly.de'
  .l-signature-middle
    %h4
      Registergericht
    Amtsgericht Berlin-Charlottenburg
    %br
    GnR 738 B
    %br
    USt-IdNr: DE 290376380
  .l-signature-right
    %h4
      Vorstand
    Anna Kress, Felix Weth, Bastian Neumann
    %br
    Vostandsvorsitzender:
    %br
    Felix Weth
