.l-signature
  .l-signature-left
    %h4
      Kontakt
    Fairnopoly eG
    %br
    Glogauer Str. 21
    %br
    10999 Berlin
    %br
    = mail_to 'email@fairnopoly.de'
  .l-signature-middle
    asdfas
  .l-signature-right
    asdfas
