.l-sidebar-social-buttons
  = link_to t('email.social_button', network: 'Facebook'), 'https://facebook.de/fairnopoly', class: 'Button'
  = link_to t('email.social_button', network: 'Pinterest'), 'https://pinterest.com/fairnopoly', class: 'Button'
  = link_to t('email.social_button', network: 'twitter'), 'https://twitter.com/fairnopoly', class: 'Button'
  = link_to t('email.social_button', network: 'Instagram'), 'https://instagram.com/fairnopoly', class: 'Button'
