.l-sidebar-social-buttons
  = link_to 'Wir auf Facebook', 'https://facebook.com/fairnopoly', class: 'Button'
  = link_to 'Wir auf Pinterest', 'https://pinterest.com/fairnopoly', class: 'Button'
  = link_to 'Wir auf twitter', 'https://twitter.com/fairnopoly', class: 'Button'
  = link_to 'Wir auf Instagram', 'https://instagram.com/fairnopoly', class: 'Button'
