.ListItem {
  @include border-radius(0.9em);
  border: 1px solid $darkbeige;
  padding: 0.5em;
  margin-bottom:1em;
  @include pie-clearfix;
}

.ListItem-image {
  position:relative;
  float:left;
  max-width:10em;
  margin-bottom: $pBottomMargin;
  @include at-breakpoint($layout-small-to-medium) {
    max-width:auto;
    @include span-columns(2,6);
  }
  @include at-breakpoint($layout-medium-to-large) {
    max-width:auto;
    margin-bottom:0;
    @include span-columns(2,7);
  }
  @include at-breakpoint($layout-large) {
    max-width:auto;
    @include span-columns(2,10);
    margin-bottom:0;
  }
  margin-right: 1em;
  img {
    @include border-radius(0.9em);
  }
}

.ListItem-rating {
  position:absolute;
  left:0.5em;
  bottom:0.5em;
  width:2em;
}

.ListItem-info{
  @include at-breakpoint($layout-small-to-medium) {
    display:block;
    @include span-columns(4 omega ,6);
  }
  @include at-breakpoint($layout-medium-to-large) {
    @include span-columns(3 ,7);
  }
  @include at-breakpoint($layout-large) {
    @include span-columns(6 ,10);
  }
}

.ListItem-actions {
  > .Btn {
     margin-bottom: 0em;
  }
  @include at-breakpoint($layout-small-to-medium) {
    clear:both;
    margin-top:0.5em;
  }
  @include at-breakpoint($layout-medium) {
    > .Btn {
       display:block;
        margin-bottom: 0.3em;
        &:last-child {
          margin-bottom: 0em;
        }
     }

  }

  @include at-breakpoint($layout-medium-to-large) {
     @include span-columns(2 omega ,7);
  }
  @include at-breakpoint($layout-large) {
     @include span-columns(2 omega ,10);
  }

}


.ListItem-title {
   @include at-breakpoint($layout-large) {
      @include span-columns(2 ,4);
   }
}

.ListItem-detail {
   display:none;
   @include at-breakpoint($layout-large) {
      display:block;
      @include span-columns(2 omega  ,4);
   }
}
.ListItem-tags {
   margin-bottom:0.5em;
   .Btn-tag {
     margin-bottom:0em;
   }
   @include at-breakpoint($layout-large) {
   clear:both;
   }
}
