@import "compass/css3/border-radius";


.Article-form {
  #article_categories_and_ancestors_input {
  .selectboxit-container,
    .selectboxit-options,
     {
    @include at-breakpoint($layout-large) {
        width: columns(1,4);

      }
      margin-right: 10px;
    }

  }

  .Category-delete, #Category-selectbutton,.Category-selected {

    color: $white !important;
    @include at-breakpoint($layout-large) {
      margin-right: 10px;
      width: columns(1,4);
    }

    overflow: hidden;
    text-overflow:    ellipsis;
    vertical-align: inherit;
    padding: em(10,17) em(15,17) em(9,17);
    margin-right: 5px;
    margin: 0 0 $pBottomMargin;
  }


  #Category-selectbutton {
    @include at-breakpoint($layout-large) {
      @include rem(max-width, 44px);
      font-weight: bold;
    }
  }
}




.Article-form #selected_categories_input > li > span.Category-selected {

  @include rem(font-size, 17px);
  line-height: normal;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  background-color: #717171;
  color: $white;
  display: inline-block;
  &:hover {
    background-color: $darkgray;
  }



}
.Filter {
  .selectboxit-container,
  .selectboxit-options {
    .selectboxit {
      background-color: $white;
    }
  }
  .selectboxit-container {
    width: 100%;
    margin-right: 0;
    @include rem(margin-bottom, 13px);

  }
}

.Hero-category {
  float:left;
  text-align:center;
  padding:0.5em 1em;
  margin-bottom: 0.5em;
  a {
    @include colorlink($darkgray);
  }
  position:relative;
  &:hover {
    background: white;
  }
  border-radius: 5px;
}

.Hero-categories {
  list-style:none;
  //overflow-y:hidden;
  height:2em;
  margin:0;
  padding:0;
  @include at-breakpoint($layout-small-to-medium) {
    @include span-columns(2,3);
  }
  @include at-breakpoint($layout-medium-to-large) {
    @include span-columns(3,4);
  }
  @include at-breakpoint($layout-large-to-huge) {
    @include span-columns(5,6);
  }
  @include at-breakpoint($layout-huge) {
    @include span-columns(7,8);
  }

}

.Hero-morecategories {
  padding:0.5em 0em;
  a {
    @include colorlink($darkgray);
  }
  @include at-breakpoint($layout-small-to-medium) {
    @include span-columns(1 omega,3);
  }
  @include at-breakpoint($layout-medium-to-large) {
    @include span-columns(1 omega,4);
  }
  @include at-breakpoint($layout-large-to-huge) {
    @include span-columns(1 omega,6);
  }
  @include at-breakpoint($layout-huge) {
    @include span-columns(1 omega,8);
  }
}

.Category-dropdown {
  //padding: 1em;
  position:absolute;
  width:12em;
  left:-999em; /* Hides the drop down */
  text-align:left;
  background: white;
  z-index:2;
  @include border-bottom-radius(5px);
  @include border-top-right-radius(5px);
  @include single-box-shadow($gray,1px,1px,3px,0px)
}

.Category-dropdown-children {
   list-style:none;
    padding:0;
    margin:0;
    li {
      display:block;
      word-wrap: break-word;
      a {
        padding: 1em;
        display:block;
      }
      &:hover {
        background: $blue;
        a {
          color:white;
        }
      }
      &:last-child{
        @include border-bottom-radius(5px);
      }
    }
}

.Hero-category:hover .Category-dropdown{
  left:0px;
  top:2em;
}

.Hero-presearch {
  padding:0.75em 0 0;
  display:none;
  @include container;
  @media (max-width: 25em) {
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
  }
  @include at-breakpoint($layout-medium) {
    display:block;
  }
}

.Hero-search { // Ensure our dropdown is over the other things
  position: relative;
}


//________________________________
//
// Index
//
//________________________________

.Category-index-parent {
  background:white;
  @include rem(padding, 10px 20px);
  @include border-radius(8px);
}
.Category-index-parent ul {
  padding-left: 15px;
}
.Category-index-parent li {
  list-style-type: none;
  word-wrap:break-word;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
