

.Content {
  padding-top: 3em;
  @include at-breakpoint($layout-medium) {
    @include span-columns(3, 4);
  }
  margin-bottom:1em;
}

.Content--wide {
  @include at-breakpoint($layout-medium) {
    @include span-columns(4, 4);
  }
}

.Content-navigation {

  @include rem(padding, 10px 20px);
  color: #3c3c3c;
  border-radius: 8px;
  background: #fff;
  margin-top: 1em;
  @include at-breakpoint($layout-medium) {
   @include span-columns(1 omega, 4);
   clear:right;
  }
  text-align:center;
  ul {
    padding-left:0px;
    list-style: none;
  }

}

.Content-inner {
  @include rem(padding, 10px 20px);
  color: #3c3c3c;
  border-radius: 8px;
  background: #fff;
  padding-top: 1em;

}
