//
// ----- ARTICLE GRID -----
//

.Search-GridContainer {
  max-width: 750px;
  margin: 0 auto;

  @include at-breakpoint($layout-large) {
    max-width: $breakpoint-large;
  }
  @include at-breakpoint($layout-huge) {
    max-width: $breakpoint-huge;
  }
}


//
// Search grid separation
//
.Search-Leftbar {
  margin-bottom: $gutter-width;

  @include at-breakpoint($layout-large) {
    @include span-columns(1, $medium-columns);
  }
  @include at-breakpoint($layout-huge) {
    @include span-columns(1, $large-columns);
  }
}
.Search-ArticleContainer {
  @include at-breakpoint($layout-large) {
    @include span-columns(($medium-columns - 1) omega, $medium-columns);
  }
  @include at-breakpoint($layout-huge) {
    @include span-columns(($large-columns - 1) omega, $large-columns);
  }
}

//////////// <REFACTOR> /////////////
.Search-Leftbar {
  .Search-CategorySidelist {
    @include at-breakpoint($layout-zero-to-large) {
      border: 1px solid $lightergray;
      width: 95%; // because sidebar would hide the down arrow
      overflow: hidden;
    }
    @include at-breakpoint($layout-large) {
      display: inherit;
      .Icon {
        display: none;
      }
    }
  }
  .Search-CategoryTreeHeading {
    @include at-breakpoint($layout-zero-to-large) {
      padding: 10px 20px;
      margin: 0px;
      font-size: 15px;
      &:hover {
        background: $lightestgray;
        cursor: pointer;
      }
      a:hover {
        text-decoration: initial;
      }
      .Icon {
        display: inline-block;
        float: right;
      }
      .icon-up_arrow {
        display: none;
        &.is-active {
          display: inherit;
        }
      }
      .icon-down_arrow {
        &.is-active {
          display: none;
        }
      }
    }
  }
  .Search-CategoryTreeLevel1 {
    @include at-breakpoint($layout-zero-to-large) {
      display: none;
      margin: 0;
      padding:0;
      li {
        padding: 11px 20px 10px 20px;
        border-bottom: 1px dashed $lightergray;
        margin: -1px; // to hide the lowest dotted lines
      }
      &.is-active {
        display: inherit;
      }
    }
    @include at-breakpoint($layout-medium-to-large) {
      li {
        display: inline-block;
        width:49.66%;
      }
    }
  }
  .Category-index-parent ul.Search-CategoryTreeLevel1 {
    padding-left: 0;
  }
  .Search-CategoryTreeLevel2 {
    @include at-breakpoint($layout-zero-to-large) {
      display: none;
    }
  }
}
//////////// </REFACTOR> /////////////

.Search-GridSizer,
.Search-Grid
{
  width: columns(1,$tiny-columns);

  @include at-breakpoint($layout-small) {
    width: columns(1,$small-columns);
  }
  @include at-breakpoint($layout-large) {
    width: columns(1,$medium-columns - 1);
  }
  @include at-breakpoint($layout-huge) {
    width: columns(1,$large-columns - 1);
  }
}


//
// Grid horizontal gutter
//
.Search-GutterSizer {
  width: gutter($tiny-columns);

  @include at-breakpoint($layout-small) {
    width: gutter($small-columns);
  }
  @include at-breakpoint($layout-large) {
    width: gutter($medium-columns - 1);
  }
  @include at-breakpoint($layout-huge) {
    width: gutter($large-columns - 1);
  }
}


//
// Grid vertical gutter
//
.Search-Grid {
  margin-bottom: em(8);
  margin-right: gutter($tiny-columns);
  &:nth-child(2n) {
    @include omega;
  }

  @include at-breakpoint($layout-small) {
    margin-right: gutter($small-columns);
    &:nth-child(3n) {
      @include omega;
    }
  }

  @include at-breakpoint($layout-large) {
    margin-right: gutter($medium-columns - 1);
    &:nth-child(4n) {
      @include omega;
    }
  }
  @include at-breakpoint($layout-huge) {
    margin-right: gutter($large-columns - 1);
    &:nth-child(5n) {
      @include omega;
    }
  }
}


//
// ----- CATEGORY GRID -----
//

.Category-GridSizer,
.Category-Grid
{
  // float:left;
  width: columns(1,$tiny-columns);

  @include at-breakpoint($layout-small) {
    width: columns(1,$small-columns);
  }
  @include at-breakpoint($layout-large) {
    width: columns(1,$medium-columns);
  }
  @include at-breakpoint($layout-huge) {
    width: columns(1,$large-columns);
  }
}


//
// Grid horizontal gutter
//
.Category-GutterSizer {
  width: gutter($tiny-columns);

  @include at-breakpoint($layout-small) {
    width: gutter($small-columns);
  }
  @include at-breakpoint($layout-large) {
    width: gutter($medium-columns);
  }
  @include at-breakpoint($layout-huge) {
    width: gutter($large-columns);
  }
}


//
// Grid vertical gutter
//
.Category-Grid {
  margin-bottom: em(8);
  margin-right: gutter($tiny-columns);
  &:nth-child(2n) {
    @include omega;
  }

  @include at-breakpoint($layout-small) {
    margin-right:  gutter($small-columns);
    &:nth-child(3n) {
      @include omega;
    }
  }

  @include at-breakpoint($layout-large) {
    margin-right:  gutter($medium-columns);
    &:nth-child(4n) {
      @include omega;
    }
  }
  @include at-breakpoint($layout-huge) {
    margin-right:  gutter($large-columns);
    &:nth-child(5n) {
      @include omega;
    }
  }
}

//
// Grid vertical gutter
//
.Category-Grid {
  margin-bottom: em(8);
  margin-right: gutter($tiny-columns);
  &:nth-child(2n) {
    @include omega;
  }

  @include at-breakpoint($layout-small) {
    margin-right:  gutter($small-columns);
    &:nth-child(3n) {
      @include omega;
    }
  }

  @include at-breakpoint($layout-large) {
    margin-right:  gutter($medium-columns);
    &:nth-child(4n) {
      @include omega;
    }
  }
  @include at-breakpoint($layout-huge) {
    margin-right:  gutter($large-columns);
    &:nth-child(5n) {
      @include omega;
    }
  }
}