//
// Fees
//

// it is the right column in detail view (for now)

.Fees {
	@include span-columns(4,4);
	@include border-radius(7px);
	text-align: center;
	@extend %Semibold;
	background-color: white;

	h3 {
		@include rem(font-size, 18px);
		position: relative;
		@include rem(padding-top, 17px);
		@include rem(padding-left, 36px);
		@include rem(padding-right, 36px);
	}
	dl {
		padding-top: 1px;
	}
	dt {
		color: $gray;
		position: relative;
		@include rem(font-size, 13px);
		@include rem(margin-top, 10px);
		@include rem(padding-top, 10px);
		border-top: 1px solid $beige;
		font-weight: 400;
		&.is-green {
			@include rem(padding-top, 18px);
		}
	}

	dd {
		padding-left: 0;
		@include rem(font-size, 24px);
		@include rem(padding-bottom, 8px);
		margin-left: 0;
		&.is-green {
			@include rem(padding-bottom, 16px);
		}
	}

	dt,
	dd {
		@include rem(padding-left, 36px);
		@include rem(padding-right, 36px);
		width: 100%;
	}
	.is-green {
		background-color: $green;
		color: white;
	}
	.icon-helper{
		position: absolute;
		top: 3px;
		right: 5px;
	}
	@include at-breakpoint($layout-small) {
		@include span-columns(2,4);
	}
	@include at-breakpoint($layout-large) {
		@include span-columns(1,4);
	}
}
