//
// Forms
//

.formtastic .inputs,
.formtastic .actions {
  @include pie-clearfix;
  float: none;
  width: 100%;
  overflow: visible;
  .action {
    float:none;
  }
}
.formtastic .input {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: visible;
  fieldset.inputs > ol > li.input {
    margin-left: em(15);
  }
}
.formtastic .icon-helper {
  position: relative;
  right: 2px;
  float: right;
}
.formtastic .icon-helper.no-float {
  right: 0;
  top: 4px;
  float: none;
}

input[type='search'] {
  -webkit-appearance: none;
}
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='number'],
textarea {
  border-radius: 0.5em;
  @include rem(font-size, $base-font-size);
  padding: em(9) em(10) em(10);
  width: 100%;
  color: $black;
  border: 2px solid $lightgray;
  &:focus {
    outline: 0;
    color: $black;
  }
  &:hover {}


  // Fix for the firefox placeholders not coloring correctly
  // refs #168

  &:-moz-placeholder { /* Firefox 18- */
    color: #888;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: #888;
  }

}

input[type='file'] {
	width: 100%;
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='number'],
input[type='file'],
textarea,
.selectboxit-container {
  margin-bottom: em(20);
}
.formtastic .text textarea {
  width: 100%;
  // max-width: em(500); // remove if really not needed. articles/new looks fine
}
label,
.formtastic .label {
  @include rem(font-size, $font-size-s);
  @include pie-clearfix;
  width: 100%;
  display: block;
  color: $gray;
}
.formtastic .input .label {
  float: none !important;
  padding-top: 0;
  margin-bottom: em(3,13);
}


//
// Radio buttons
//
.formtastic {
  .input legend.label {
    position: static;
    margin-bottom: em(17);
  }
  .plain_check_box,
  .choice {
    margin-top: 0;
    margin-bottom: em(10);
    label {
      @include rem(font-size, $base-font-size);
      color: $black;
    }
  }
  .choices-group {
    width: 100%;
    padding: 0;
    margin-bottom: em(10);

  }
  .choices .label label {
  position: static;
  }
}

fieldset.choices {
  display: block;
  .leaf-item {
    @include pie-clearfix;
    padding: 1em;
    input {
      float: right;
    }
    label {
      width: 50;
    }
  }
  legend {
    position: static !important;
    margin-bottom: 2em;
  }
}

.inline-hints {
	@extend %Semibold;
	@include rem(font-size, 14px);
	color: #2e2e2e;
}
.formtastic .inline-errors {
  margin: -1em 0 .5em 0;
}
.formtastic li.boolean.error p.inline-errors {
  margin-top: 0em;
}
.controls {
  @extend %Semibold;
  color: $gray;
  margin-bottom: 1em;
  clear: both;
}
.controls .help-inline {
  color: $warningred;
  font-weight: 400;
}
.formtastic li.check_boxes .choices-group .choice label {
  position:relative;
  margin-left: 1.5em;
  line-height: 100%;
  input{
    position: absolute;
    left: -1.5em;
  }
}
.formtastic .boolean label {
  padding: 0;
}
.formtastic .actions {
  padding-left: 0;
}
.formtastic .input fieldset.inputs > ol > li.input {
  margin-left: 0;
}

// WYSIWYG
.formtastic .Accordion-step .mce-container {
  margin-top: 0;
  margin-bottom: 0;
}
.formtastic li.text div.mce-tinymce{
  margin-bottom: 1em;
}


.mce-tinymce.mce-container {
  clear: both;
}

// Article form
.Article-form {
  .Accordion-content {
    padding: ($gutter-width / 2) 0 0;
  }
  .Accordion-step {
    padding-left: ($gutter-width / 2);
    padding-right: ($gutter-width / 2);
  }
}

.Article-form .formtastic .input input,
#Category-selectbutton,
.selectboxit-container,
.selectboxit-options {
  max-width: 225px;
  margin-right: 20px;
  @include at-breakpoint($layout-large) {
    max-width: none;
    width: columns(1,3);
  }
}

.Image-upload-extend-columns {
  width: columns(2,3) !important;
}

.formtastic .input fieldset.inputs > ol > li.input {
  margin-left: 0;
}
.formtastic ul.errors {
  margin-left: 2em;
  margin-bottom: 1em;
  @include pie-clearfix;
}
.formtastic .input fieldset.inputs > ol > li.other-checkbox {
  margin-left: 50px;
  input { width: 100%; max-width: none; }
}

// fonts
.formtastic strong {
  font-style: normal;
  font-weight: bold;
}

