.Highlight {
  @include rem(padding, 10px 20px);
  color: #3c3c3c;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 2em;
  h2 {
    @include rem(font-size, 25px);
    color:$lightgray;
    font-weight: normal;
  }
}

.Highlight:after {
  content: " ";
  display: block;
  clear: both;
}

.Highlight-article {
  @include at-breakpoint($layout-small-to-medium) {
    width: columns(1,$small-columns);
  }
  @include at-breakpoint($layout-medium-to-large) {
    width: columns(1,$medium-columns);
  }
  @include at-breakpoint($layout-large) {
    width: columns(1,$large-columns);
  }
}

.Highlight > .Highlight-article {
  margin-bottom: 1em;
}

// Hiding articles that are more than we like
.Highlight-article-2 {
  display:none;
  @include at-breakpoint($layout-medium) {
   display:block;
  }
}

.Highlight-article-3 {
  display:none;
  @include at-breakpoint($layout-large) {
   display:block;
  }
}





