//
// index
//

// General
// -----------------------------------
.Teaser {
	@include rem(padding, 10px 20px);
	color: #3c3c3c;
	border-radius: 8px;
	background: #fff;
  margin-bottom: em(38);
	.Icon [class^="icon-"] {
		display: block;
		@include rem(margin, 20px auto);
	}
  @include clearfix;
}

.Teaser--text {
  text-align:center;
}

.Teaser-counter {
	// move padding from container to child els
	padding: 0;
	> .Teaser-title,
	> .Teaser-total--number {
		@include rem(padding, 10px 20px);
	}
	.Teaser-title {
		// @include rem(font-size, $base-font-size);
		@include rem(padding, 17px 36px);
	}
}

.Teaser-total {
  @include rem(font-size, 40px);
  @include rem(padding, 8px);
  @extend %Semibold;
  background-color: $green;
  color: #fff;
}


.Teaser-total--articles {
	margin-bottom: 30px;
}

.Teaser-total--user {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}


.Teaser .Btn {
	@include rem(margin-top, 4px);
}

.Teaser-header {
  @include rem(font-size, 25px);
  color:$lightgray;
  @include rem(padding, 10px 0px);
  font-weight: normal;
}

.Teaser-news {
  p {
    text-align:left;
  }
  h2 {
    margin-bottom: em(10);
  }
}

.Teaser-hide {
  background: none ;
}

// Layouts
// -----------------------------------

// Generic Double View
.l-Teaser--double{
  @include at-breakpoint($layout-medium-to-large) {
    @include span-columns(2,3);
  }
  @include at-breakpoint($layout-large) {
    @include span-columns(2,4);
  }
  @include at-breakpoint($layout-small) {
    Article{
      @include span-columns(1,2);
      @include nth-omega(2n);
    }
  }
}

.l-Teaser--collapsible {
   @include at-breakpoint($layout-medium-to-large) {
    @include span-columns(1,3);
    @include omega;
    Article {
      width:100%;
    }
  }

}

.l-Teaser--single {
  @include at-breakpoint($layout-small) {
    @include span-columns(1,2);
  }
  @include at-breakpoint($layout-medium-to-large) {
    @include span-columns(1,3);
  }
  @include at-breakpoint($layout-large) {
    @include span-columns(1,4);
  }
}

// Specific

.l-Teaser--queues {
  @include at-breakpoint($layout-medium-to-large) {
    @include span-columns(2,3);
  }
  .Teaser--withlink {
      @include at-breakpoint($layout-small-to-large) {
        @include span-columns(1,2);
        @include nth-omega(2n);
      }

      @include at-breakpoint($layout-large){
        @include span-columns(1,4);
        @include nth-omega(4n);
      }
      > a.Btn {
        margin-top:1em;
      }
  }
}

.l-Teaser--counters{
  @include at-breakpoint($layout-small-to-medium) {
    @include omega;
  }
}

.l-Teaser--participate {
  @include at-breakpoint($layout-small-to-medium) {
    clear:both;
  }
  @include at-breakpoint($layout-large) {
    clear:both;
  }
}

.l-Teaser--ecologic,.l-Teaser--counters,.l-Teaser--news {
  @include at-breakpoint($layout-large) {
    @include omega;
  }
}

