//
// index
//

// General
// -----------------------------------
.Teaser {
  @include rem(padding, 10px 20px);
  color: #3c3c3c;
  border-radius: 8px;
  background: #fff;
  margin-bottom: em(38);
  .Icon [class^="icon-"] {
    display: block;
    @include rem(margin, 20px auto);
  }
  @include clearfix;

  .Article {
    margin-bottom: 1em;
  }

}

.Teaser-header {
  @include at-breakpoint($layout-huge) {
    @include rem(font-size, 25px);
  }
  .Btn-tag--medium {
    font-size: 0.9em;
    margin:0px;
  }
  color:$lightgray;
  @include rem(padding, 10px 0px);
  font-weight: normal;
}

// Layouts
// -----------------------------------

// Generic Double View
.l-Teaser--double{
  @include at-breakpoint($layout-large-to-huge) {
    @include span-columns(2,3);
  }
  @include at-breakpoint($layout-huge) {
    @include span-columns(2,4);
  }
  @include at-breakpoint($layout-small) {
    Article {
      @include span-columns(1,2);
      @include nth-omega(2n);
    }
  }
}

.l-Teaser--collapsible {
  @include at-breakpoint($layout-large-to-huge) {
    @include span-columns(1,3);
    @include omega;
    Article {
      width:100%;
    }
  }

}

.l-Teaser--single {
  @include at-breakpoint($layout-small) {
    @include span-columns(1,1);
  }
  @include at-breakpoint($layout-large-to-huge) {
    @include span-columns(1,1);
  }
  @include at-breakpoint($layout-huge) {
    @include span-columns(1,1);
  }
}



// Specific Layouts
//------------------------------------------------
.l-Teaser--queue {
  @include at-breakpoint($layout-large-to-huge) {
    @include span-columns(2,3);
  }
  @include at-breakpoint($layout-huge) {
    @include span-columns(2,4);
  }
  @include at-breakpoint($layout-small) {
    .Teaser-queue {
      @include span-columns(1,2);
      @include nth-omega(2n);
    }
  }
}

.l-Teaser--collapsiblequeue, .l-Teaser--collapsiblebox {
  @include at-breakpoint($layout-large-to-huge) {
    @include span-columns(1,3);
    @include omega;
    .Teaser-queue {
      width:100%;
    }
  }
  @include at-breakpoint($layout-huge) {
    @include omega;
  }
}

.l-Teaser--collapsiblebox p {
  @include at-breakpoint($layout-large-to-huge) {
    margin: 41px 0;
  }
}


.l-Teaser--counters{
  @include at-breakpoint($layout-small-to-large) {
    @include omega;
  }
}

.l-Teaser--participate {
  @include at-breakpoint($layout-small-to-large) {
    clear:both;
  }
  @include at-breakpoint($layout-huge) {
    clear:both;
  }
}

.l-Teaser--ecologic, .l-Teaser--counters,.l-Teaser--news, .l-Teaser--cfk {
  @include at-breakpoint($layout-huge) {
    @include omega;
  }
}

.l-Teaser--cfk img, .l-Teaser--cfk iframe {
  @include rem(margin, 8px 0 8px);
  @include at-breakpoint($layout-huge) {
    @include rem(margin, 14px 0 33px);
  }
}

.l-Teaser--cfk iframe {
  @include at-breakpoint($layout-large-to-huge) {
    height: 100%;
  }
  @include at-breakpoint($layout-huge) {
    height: 276px;
  }
}

.l-Teaser--socialshare {
  @include container;
}

// Text teasers
// ------------------------------------

.Teaser--text {
  text-align:center;
}

.Teaser .Btn {
  @include rem(margin-top, 4px);
}

// Counters --------------------------------------
//

.Teaser--counter {
  // move padding from container to child els
  padding: 0;
  p {
    @include rem(padding, 0px 20px);
  }
}

.Teaser-total {
  @include rem(font-size, 40px);
  @include rem(padding, 8px);
  @extend %Semibold;
  background-color: $green;
  color: #fff;
}

.Teaser-total--number {
    @include rem(padding, 10px 20px);
    @include rem(margin-bottom,10px)
}

.Teaser-total--articles {
  margin-bottom: 30px;
}

.Teaser-total--user {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


// News Teaser
//-------------------------------------------------

.Teaser-news {
  p {
    text-align:left;
  }
  h2 {
    margin-bottom: em(10);
  }


}

.News-rss {
  img {
    float:left;
    @include border-radius(0.9em);
    width:5em;
    margin-right: 1em;
    margin-bottom: 1em;

  }
  @include pie-clearfix;
}


.Teaser-hide {
  background: none ;
}

// Top Queue Teaser
//----------------------------------



.Teaser-more {
  margin-top: 0.5em;
  margin-bottom: 1.1em;
  text-align: center;
  > a.Btn {
    width:90%;
    font-size: 1.1em;
  }
}

// Welcome Teaser
// -------------------------------------

.l-Teaser--slides #slides {
  display: none; /* Prevents slides from flashing */
  position: relative;
  max-width: 490px;
  width: 100%;
  margin: auto;
  overflow: visible !important; /* overwrite js settings so arrows are visible */
}

.l-Teaser--slides i {
  display: block;
  position: absolute;
  top: 45%;
  @include at-breakpoint($layout-small) {
    top: 46%;
  }
  @include at-breakpoint(em(620px) lt-ie9) { // custom breakpoint for actual slide width
    top: 231px;
  }
}
.l-Teaser--slides i.icon-left_arrow {
  right: -13px;
}
.l-Teaser--slides i.icon-right_arrow {
  left: -13px;
}

.Teaser-image {
  margin-bottom: 1.5em;
  width: 80%;
}

// User Quote Teaser
// -------------------------------------
.Teaser--user-slides {
  @include span-columns(1,1);
  @include rem(margin-bottom, 38px);
}

 #UserSlides {
  display: none; /* Prevents slides from flashing */
  position: relative;
  margin: auto;
  text-align: center;
}

#UserSlides p {
  margin-right: 2px; // to prevent italic edges from being cut off
  text-align: justify;
}

#UserSlides i.icon-right_arrow {
  position: absolute;
  left: 20px;
  top: 60px;
  display: inline-block;
}

#UserSlides i.icon-left_arrow {
  position: absolute;
  right: 15px;
  top: 60px;
  display: inline-block;
}

.User-slides-container {
  @include rem(padding, 15px 60px);
}

.Teaser--user-slides .Teaser {
  color: $lightgray;
}

.Teaser--user-slides img {
  @include border-radius(0.5em);
  margin-bottom: 20px;

  @include at-breakpoint($layout-small) {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
  }
}

.Teaser--quote {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}

.Teaser--fatquote {
  font-size: 30px;
  font-weight: 800;
  font-style: italic;
  line-height: 10px;
  margin-right: 3px;
}
.Teaser--fatquote-lower {
  position: relative;
  top: 8px;
  margin-left: 3px;
  margin-right: 0;
}

.Teaser--quotesource {
  font-size: 12px;
  font-weight: 600;
  text-align: right;
}

#UserSlides .slidesjs-container, #UserSlides .slidesjs-control {
  height: auto !important;
}
