//
// index
//

/*

# Explantation of widths. We have a four-col grid.
1 cols = 23.5%
2 cols = 49%

*/


//
// Items with double-size
//
.Teaser-left {
  @include at-breakpoint($layout-medium-to-large) {
    @include span-columns (2,$medium-columns);
  }
  @include at-breakpoint($layout-large) {
    @include span-columns (2,$large-columns);
  }
}
.Teaser-right {
  @include at-breakpoint($layout-medium-to-large) {
    @include span-columns (1,$medium-columns);
    @include omega;
  }
  @include at-breakpoint($layout-large) {
    @include span-columns (2,$large-columns);
    @include omega;
  }
}

.Teaser-last {
   @include at-breakpoint($layout-small-to-large) {
    width: 100%;
   }
}


// General
// -----------------------------------
.Teaser {
	@include rem(padding, 10px 20px);
	text-align: center;
	color: #3c3c3c;
	border-radius: 8px;
	background: #fff;
  margin-bottom: em(38);
	.Icon [class^="icon-"] {
		display: block;
		@include rem(margin, 20px auto);
	}
  @include clearfix;
}

.Teaser--single {
  @include at-breakpoint($layout-small) {
    @include span-columns(1,2);
    &:nth-child(2n) {
      @include omega;
    }
  }
}

//
// Teaser variants
//

.Teaser--topbar,
.Teaser--bottombar,
.Teaser--welcomeimage {
  width: 100%;
}


.Teaser--bottombar {
  margin-bottom: 2em;
}


.Teaser-welcome {
  color: $blue;
  @include rem(font-size, 18px);
  @include rem(font-size, $font-size-m);
  padding-top: 2em;
}


.Teaser-counter {
	// move padding from container to child els
	padding: 0;
	> .Teaser-title,
	> .Teaser-total--number {
		@include rem(padding, 10px 20px);
	}
	.Teaser-title {
		// @include rem(font-size, $base-font-size);
		@include rem(padding, 17px 36px);
	}
}
.Teaser--total-number {
	@include rem(font-size, 40px);
	@include rem(padding, 8px);
	@extend %Semibold;
	background-color: $green;
	color: #fff;
	margin-bottom: 30px;
}

.Teaser--total-user {
	@include rem(font-size, 40px);
	@include rem(padding, 8px);
	@extend %Semibold;
	background-color: $green;
	color: #fff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}



// Btn
// -----------------------------------

.Teaser .Btn {
	@include rem(margin-top, 4px);
}

.Teaser-goal {
	background-color: white;
	margin-bottom: .4em;
	border-style: solid;
	border-width: 1px;
	border-color: $lightgray;
	width: 100%;
	height: 50px;
}

.Teaser-goal--reached {
	background-color: $green;
	height: 48px;
}



.Teaser-article {
   @include at-breakpoint($layout-small) {
      @include span-columns(1,2);
   }
}

.Teaser-article--right {
   @include at-breakpoint($layout-small) {
     @include omega;
   }
}

.Teaser-right {
  .Teaser-article {
    @include at-breakpoint($layout-medium-to-large) {
      @include span-columns(2,2);
    }
  }
}


.Teaser-header {
    @include rem(font-size, 25px);
    color:$lightgray;
    margin-bottom: 0;
    font-weight: normal;
}

.Teaser-header--nacked {
 @include rem(padding, 10px 20px);
}


.Teaser-image {
  img{width:100%;}
}



.Teaser-news {
  p {
    text-align:left;
  }
  h2 {
    margin-bottom: em(10);
  }
}

.Teaser-hide {
  background: none ;
}

