//
// Layout
//

html, body {
	background-color: $beige;
  height: 100%;
}
.l-Inner {
	@include container;
	@media (max-width: 25em) {
		padding-left: $gutter-width / 2;
		padding-right: $gutter-width / 2;
	}
}
.l-Header {
	background-image: url(asset-path("back3.gif", image));
}
.l-Hero {
	 background-color: $darkbeige;

	.first {
		@include pie-clearfix;
		padding: .2em 0;
	}
	.l-Inner {
		@include rem(padding-top, 0px);
	}
	.Hero-search, .l-User {
		background-color: $darkbeige;
		padding-top:0.75em;
	}
	.Filter-inner {
		@include container;
		position: relative;
	}
}
.l-Wrap {
  min-height: 100%;
}
.l-Main {
	& > .l-Inner {
		@include rem(padding-top, 21px);
		@include rem(padding-bottom, 21px);
	}
  @include at-breakpoint($layout-large) {
    padding-bottom: 16em;
  }
	padding-bottom: 22em;
  overflow: auto;
}
.l-Footer {
	background-image: url(asset-path("back3.gif", image));
	.Footer--top {
		@include at-breakpoint(30em lt-ie9) {
			margin-bottom: em(103);
		}
	}
	.Footer--bottom {
		// padding-bottom: em(20);
	}
  @include at-breakpoint($layout-large){
    margin-top: -16em;
    height: 16em;
  }
  position: relative;
  margin-top: -22em;
  height: 22em;
  clear: both;
}
