//
// Layout
//

html, body {
	background-color: $beige;
  height: 100%;
}
.l-Inner {
	@include container;
	@media (max-width: 25em) {
		padding-left: $gutter-width;
		padding-right: $gutter-width;
	};

  //@include rem(max-width, $breakpoint-huge);
}
.l-Header {
	background-color: $beige;
}
.l-Hero {
	 background-color: $darkbeige;

	.first {
		@include pie-clearfix;
		padding: .2em 0;
	}
	.l-Inner {
		@include rem(padding-top, 0px);
	}
	.Hero-search, .l-User {
		background-color: $darkbeige;
	}
	.Hero-search {
	  padding: 0.75em 0em;
	}
}
.l-Wrap {
  min-height: 100%;
}
.l-Main {
	& > .l-Inner {
		@include rem(padding-top, 21px);
		@include rem(padding-bottom, 21px);
	}
  @include at-breakpoint($layout-large) {
    padding-bottom: 16em;
  }
	padding-bottom: 22em;
  overflow: auto;
  position:relative;
  background-color: $beige;
}
.l-Footer {
	background-color: $darkbeige;
	.Footer--top {
		@include at-breakpoint(30em lt-ie9) {
			margin-bottom: em(103);
		}
	}
	.Footer--bottom {
		// padding-bottom: em(20);
	}
  @include at-breakpoint($layout-large) {
    margin-top: -16em;
    height: 16em;
  }
  position: relative;
  margin-top: -22em;
  height: 22em;
  clear: both;
}
