//
// User libraries/"Sammlungen"
//

.Libraries {
	h3 {
		@extend %Semibold;
	}
	ul {
		list-style-type: none;
	}
}
.Libraries-settings-right {
	float: right;
}
.Libraries-settings-clear {
	clear: both;
}

#library_public_input {
  margin-bottom: 10px;
}

// shared/library_header

.Library-userimage {
  display:none;
  float:left;
  margin-right:1em;
  img {
    height:7em;
    width:7em;
  }
  @include at-breakpoint($layout-small) {
    display:block;
  }

}

.Library-text {
  margin-bottom:0.5em;
}

.Library-title {
  @include rem(font-size, 20px);
}
.Library-user {
  @extend %Bold;
}

.Library-thumbnails {
  height: 5em;
  overflow: hidden;
}

.Library-thumb {
 width: 5em;
}
