.Message-row-background {
  @include at-breakpoint($layout-medium) {
    height: 4em;
  }
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  height: auto;
  background-color: #ffcc00;
  margin-bottom: 1em;
}

.Message-row-foreground {
  @include container;
  color: $darkgray;
  padding-top: 0.9em;
  text-align: center;
  .Cfk-header {
    float: right;
    position: relative;
    bottom: 1.65em;
    right: 0.2em;
    color: $darkgray;
    @include rem(font-size, $font-size-l);
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  a {
    @include rem(font-size, 25px);
    color: $darkgray;
    &:active, &:hover, &:focus {
      color: $darkgray;
      text-decoration: underline;
    }
    &:visited {
      color: $darkgray;
    }
  }
}



