.Message-row-background {
<<<<<<< HEAD
  @include at-breakpoint($layout-medium) {
    height: 4em;
  }
=======
>>>>>>> c65c97a27430ed83921a6cc3646007307c0abfa3
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  height: auto;
  background-color: #ffcc00;
  margin-bottom: 1em;
}

.Message-row-foreground {
  position: relative;
  @include container;
  color: $darkgray;
  padding-top: 0.9em;
  text-align: center;
  .Cfk-header-close {
    float: right;
    cursor: pointer;
    position: absolute;
    @include rem(top, 15px);
    right: 0.5em;
    color: $darkgray;
    @include rem(font-size, $font-size-l);
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  a {
    @include rem(font-size, 25px);
    color: $darkgray;
    &:active, &:hover, &:focus {
      color: $darkgray;
<<<<<<< HEAD
      text-decoration: underline;
=======
>>>>>>> c65c97a27430ed83921a6cc3646007307c0abfa3
    }
    &:visited {
      color: $darkgray;
    }
  }
}



