.Message-row-background {
  @include at-breakpoint($layout-medium) {
    height: 2em;
  }
  height: auto;
  background-color: $darkgray;
}
.Message-row-foreground {
  @include container;
  color: $beige;
  padding-top: 0.3em;
  a {
    color: $beige;
    &:active, &:hover, &:focus {
      color: $white;
      text-decoration: underline;
    }
    &:visited {
      color: $darkbeige;
    }
  }
}
