//
// Modules
//

.is-hidden {
	// hide while developing
	display: none;
}

.Logo {
	@include rem(padding-top, 10px);
}
.Logo,
.Copyright {
	float: left;
	@media (max-width: 30em) {
		float: none;
	}
}
.Copyright {
	@include rem(font-size, 13px);
	p {
		margin-top: .4em;
	}
}

//
// Meta
//
.Meta {
	@include span-columns(4, 4);
	@include border-radius(.9em);
	background: #fff;
	p {
		@include rem(font-size, 13px);
		@include rem(margin-bottom, 21px);
	}
	@include at-breakpoint($layout-small) {
		@include span-columns(2, 4);
	}
}
.Meta--block {
	padding: $gutter-width / 2;
	border-bottom: solid $beige .15em;
}
.Meta--highlight {
	@extend %Semibold;
	display: block;
	color: $gray;
}


//
// Breadcrumb
//
.Breadcrumb {
	@include span-columns(4, 4);
	@include rem(margin-bottom, 27px);

	ul {margin: 0; padding: 0}
	li {
		list-style-type: none;
	}
	a {
		color: $lightgray;
		text-decoration: none;
		text-transform: capitalize;
		&:hover {
			color: $gray;
		}
		&.last {
			color: black;
		}
		&.last:hover {
			color: $lightgray;
		}
	}
	&+.Breadcrumb {
		@include rem(margin-top, -13px);
	}
}


//
// A module to seperate paragraphs
//
.TextSection {
	padding-bottom: 1em;
	border-bottom: 1px solid $gray;
	margin-bottom: 1em;
	max-width: em(540);
}

.l-Hero .l-Inner h1 {
	padding-top: 0.5em;
}


.Whitebox {
  @include whitebox;
}
