//
// Navigation
//

.Nav {
	padding-left: 0;
	list-style: none;
	ul {
		@include clearfix;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		@include rem(margin-right, 19px);
	}
	a {
		// @extend %Semibold;
		// display: block;
		text-decoration: none;

		&:hover,
		&.selected {
			color: #f1f1f1;
			text-decoration: underline;
		}
	}
	.icon {
		display: inline-block;
	}
}

.Nav--primary {
	clear: left;
	margin: em(15px) auto em(5px);
  padding-top: 0.7em;
	text-align: center;

	li {
		// all margins moved to the icon to avoid
		// the jump on hover
	}
	a {
		@include rem(min-width, 70px); // prevent jump
		color: $darkgray;
		&:hover {
			color: $lightgray;
      text-decoration: none;
			// @extend %Bold;
		}
	}
	.icon {
		display: block;
		margin-left: em(5,14);
		margin-right: em(5,14);
		width: icon-sprite-width(buy);
		height: icon-sprite-height(buy);

		@include at-breakpoint(40em) {
			margin-left: em(10,14);
			margin-right: em(10,14);
		}
		@include at-breakpoint(50.7em lt-ie9) {
			margin-left: em(18,14);
			margin-right: em(18,14);
		}
	}
	@include at-breakpoint(40em lt-ie9) {
		float: right;
		clear: none;
		.last { margin-right: 0; }
	}
}

.l-Footer a {
	color: #434343;
}
.Nav--meta {
	@include rem(margin-top, 25px);
	li {
		@include rem(margin-right, 15px);
	}
}
.Nav--legal  {
	@include rem(margin-top, 7px);
}

.Nav--meta,
.Nav--legal {
	@include rem(font-size, 14px);
	@include at-breakpoint(30em lt-ie9) {
		float: right;
	}
	.last {
		margin-right: 0;
	}
}

