//
// Re-captcha responsive
//


#recaptcha_response_field {
	width: 200px !important;
}

#recaptcha_table td {
	width: auto;
}

#recaptcha_image {
	width: auto !important;
	height: 61px !important;
}

#recaptcha_reload,
#recaptcha_switch_audio,
#recaptcha_whatsthis,
#recaptcha_switch_img {
	width: 45px;
	@include at-breakpoint ($layout-large) {
		width: auto;
	}
}
