//
// Search
//


.l-Left {
  display:none;
  @include at-breakpoint($layout-large) {
    display:block;
    @include span-columns(2,12);
  }
}

.l-Right {
  @include at-breakpoint($layout-small-to-large) {
     @include span-columns(1 omega,4);
  }

  @include at-breakpoint($layout-large) {
   @include span-columns(2 omega,12);
   }
}

.l-Left,.l-Right  {
  .Btn {
    width:100%;
    @include rem(padding, 0.6em 4px 0.8em);
    height: em(40);
  }
}

.l-Middle {
  @include at-breakpoint($layout-large) {
    @include span-columns(6,12);
  }
   @include at-breakpoint($layout-small-to-large) {
     @include span-columns(3,4);
  }
}

.Search {
	position: relative;
	input[type='text'] {
		margin: 0;
	}
	&.inputs {
		float: left !important;
	}

}
.Search .Search-input input { // extra specificity
	@include rem(font-size, 17px);
	width: 100%;
}

.Search-button {
	position: absolute;
	top: em(13);
	right: em(11);
}






// .Search {
// 	@include at-breakpoint($layout-small) {
// 		@include span-columns(2, 4);
// 		float: left;
// 		//width: columns(2,4);
// 	}
// }
