/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require formtastic-bootstrap
 *= require_tree .
 * 
*/
/* LOGIn Style*/


ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

/*
 * Bootstrap Changes
 */

body {
  padding-top: 60px;
}

.navbar img {
	float:left;
	margin-right: 20px;
}
	/*
	 * Labels in the Navbar (Rememberme)
	 */
.navbar-form label { 
    display: inline; 
    color: #FFF;
    padding-bottom : 5px;
	padding-top : 0px !important;
} 

.navbar-form .input-small {
	margin-top:0px !important;
}


	/*
	 * Categorie View
	 */
.category-button {  
	background-color: transparent !important; 
	border: 0 !important; 
	width: 100% !important; 
	height: 100% !important;
	margin: 2px !important;
	text-align:left !important;
	color: #048adc;
	
}

div.category-button {
	margin-right:20px;
	padding: 2px !important
	
}


	
a.no_decoration:hover   {
  		
  	text-decoration:  none !important;
}
  
td.selected {
	background-color: #DFF0D8 !important;
}

td.category {
	color: #005580;
	background-color: #FFFFFF;
	padding: 0px !important;
}
	
/*
 *  Formtastic Bootstrap
 */  	
  	
label.control-label {
	font-weight:bold;
}

span.help-block {
	font-style:italic;
}

div.radio {
	padding-left: 0px;
}

/*
 *  Auctions list
 */
span.in-image {
	position: absolute;top: 160px; left: 20px;
}
	

/*
 * Auctions show
 */

hr.spacer {
	visibility: hidden;
	height: 1px;
	border-top: 0px ; 
}

/*
 * Userevents
 */


div.userevent {
	-webkit-border-radius: 4px;
	padding: 2px 2px 2px 6px ;
	margin-bottom: 3px ;
	border: 1px solid #FBEED5;
	background-color: #C9DDE7;
	border-color: #ACD8E1;
	color: #3A87AD;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin-left: 10px;

}

div.userevent a {
	color: #db7e27;
}

p.clear-margin {
	margin-bottom: 0px
}


/* Facebook Style Timeline
 * 
 */

time,.time{
    font-size: 10px; color:gray; border-bottom: 1px solid #E7EBF2; min-width:350px; height:20px; padding-bottom: 5px;
}
#timeline{
    width:800px; list-style-type: none; background: url(timeline.png) top center repeat-y; margin: 0 auto; padding:20px; margin-bottom:10px;
}

#timeline li{
    width:375px; -moz-border-radius:2px; border-radius:2px; -webkit-border-radius:2px; border:1px solid #c3ccdf; padding:5px;background-color:#FFF;
}

#timeline li:nth-of-type(odd){
    clear: both;float:right;
}

#timeline li:nth-of-type(odd), #timeline li:nth-of-type(even){
    margin:-10px 0 20px 0;
}
#timeline li:nth-of-type(even) .corner{
	position:absolute; display:block; margin-left:380px;width:20px;	height:15px;background:url(timeline-right.png);
}
#timeline li:nth-of-type(odd) .corner{
	position:absolute;display:block;margin-left:-25px;width:20px;height:15px;background:url(timeline-left.png);
}

.fixed-element {
    position: fixed;
 }
 