  /*
   * Categorie View
   */
.category-button {  
  background-color: transparent !important; 
  border: 0 !important; 
  width: 100% !important; 
  height: 100% !important;
  margin: 2px !important;
  text-align:left !important;
  color: @linkColor;
  
}

div.category-button {
  margin-right:20px;
  padding: 2px !important
}


  
a.no_decoration:hover   {
    text-decoration:  none !important;
}
  
td.selected {
  background-color: #DFF0D8 !important;
}

td.category {
  color: @linkColor;
  background-color: #FFFFFF;
  padding: 0px !important;
}
  