.plain_radio_buttons {
  .controls {
    margin-left: 20px;
  }
  label {
    display: inline;
    padding-left: 4px;
    padding-right: 20px;
    font-weight: bold;
  }
  input {
    display: inline;
    margin: 0px 0px 0px;
  }
}

.plain_check_box {
  .controls {
    margin-left: 20px;
  }
  label {
    display: inline;
    font-weight: bold;
  }
  span  {
    display: inline;
  }
}


.questionnaire {
  
  textarea {
    width: 100%;
    height: 150px;
  }
  
  .text {
      label {
      width: 100px !important;
    }
  }
  .controls {
    margin-left: 120px;
  }
  li {
    margin-top: 20px;
  }
  
  .optional {
    .question {
      label {
        font-weight: normal !important;
      }
    }
  }
  
  .question {
    margin-top: -20px;
    display: block !important;
    width: 100% !important;
    label {
      width: 100% !important;
      text-align: left !important;
    }
  }
  
}
