// Handy EM function
@import "_em.scss";

// Config
@import "_config.scss";
@import "compass/reset";

// Susy (for robust layout math)
// also applies * { box-sizing: border-box; }
@import "susy";
@import "_colorbox.scss";
@import "_colorbox_changes.scss";
@import "compass/css3/user-interface";

body {
  background-image: url(asset-path("landing/back.png"));
}

.Landing {

  @include user-select("none");
  text-align: center;
  max-width: 1200px;
  margin-left:auto;
  margin-right:auto;
}

.Landing-title {
  margin-top: 3em;
  img {
    min-width:630px;
    max-width: 883px;
    width:100%;
  }
}

.Landing-questions {
  max-width: 630px;
  margin-left:auto;
  margin-right:auto;
}

.Landing-option {
  margin-top: 2em;
  @include pie-clearfix;
}

.Landing-checkbox {
  @include span-columns(1,4);
  text-align: right;
    a {
        @include reset-focus;
    }

}

.Landing-label {
  @include span-columns(3 omega,4);
  text-align: left;
}

.Landing-logo {
  margin-top: 4em;
  text-align: right;
}

#cboxCurrent,#cboxPrevious,#cboxNext {
  display:none !important;
}

#cboxLoadedContent{
  overflow: visible !important;
}

.Landing-checkbox {
  position:relative;
}

.Landing-cross {
  position:absolute;
  right:-20px;
  top:-40px;
}
