

@import "susy";

/*
.Grid {
  @include at-breakpoint($layout-small-to-medium) {
    margin-right: gutter($small-columns);
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }

  @include at-breakpoint($layout-medium-to-large) {
    margin-right: gutter($medium-columns);
    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
  @include at-breakpoint($layout-large) {
    margin-right: gutter($large-columns);
    &:nth-child(4n) {
      margin-right: 0px;
    }
  }
}
*/