/*

        Creating a sprite from following images:
        
        app/assets/images/sprites/logo.png (229x46)
        app/assets/images/sprites/neutral.png (60x60)
        app/assets/images/sprites/positive.png (60x60)
        app/assets/images/sprites/negative.png (60x60)
        app/assets/images/sprites/left_arrow.png (21x28)
        app/assets/images/sprites/left_arrow_hover.png (21x28)
        app/assets/images/sprites/right_arrow.png (21x28)
        app/assets/images/sprites/right_arrow_hover.png (21x28)

        Output files:
          app/assets/images/sprites.png
          app/assets/stylesheets/sprites.css.scss

        Output size:
          229x106


*/
span.sprite_logo { width: 229px; height: 46px; background: image-url('sprites.png') 0px 0px no-repeat; }
span.sprite_neutral { width: 60px; height: 60px; background: image-url('sprites.png') 0px -46px no-repeat; }
span.sprite_positive { width: 60px; height: 60px; background: image-url('sprites.png') -60px -46px no-repeat; }
span.sprite_negative { width: 60px; height: 60px; background: image-url('sprites.png') -120px -46px no-repeat; }
span.sprite_left_arrow { width: 21px; height: 28px; background: image-url('sprites.png') -180px -46px no-repeat; }
span.sprite_left_arrow_hover { width: 21px; height: 28px; background: image-url('sprites.png') -201px -46px no-repeat; }
span.sprite_right_arrow { width: 21px; height: 28px; background: image-url('sprites.png') -180px -74px no-repeat; }
span.sprite_right_arrow_hover { width: 21px; height: 28px; background: image-url('sprites.png') -201px -74px no-repeat; }
