
.sg-body  .sg-example > h3 a{
  display:inline;
  width:auto;
  height:auto;
  margin:0;
  font-size: 1.3em;
  float:none;
  border: 0px;

}

.sg-body pre code {
  border:1px dashed #E1E1E1;
  color:#333344;
  background:#FAFAFA;
  font-family:monospace;
  overflow:auto;
  font-size:11px;
  padding:0.5em;

}

.sg-body pre {
  margin:2em !important;
}

.sg-canvas > div > * {
  margin-bottom: 1em !important;
}

.sg-body .markdown-beautify h2 {
  color: #0f58ce;
}

.sg-body .markdown-beautify code {
  background: #eeeeee;
  padding: 4px 4px;
  border-radius: 2px;
  margin: 0 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  line-height:2em;
}

.sg-body .markdown-beautify ul > li {
   line-height:2em;
}