// colors
@color-green: #529521;
@color-background-green-opaque: rgb(82, 149, 33,0.8);
@color-light-green: @color-green + #444;
@color-yellow:#ffce00;
@color-light-yellow: @color-yellow + #444;
@color-red:#ff1300;
@color-light-red: @color-red + #444;
@color-blue:#336699;

@color-text:#333;
@color-text-grey:#333 + #444;
@color-link:#525252;
@color-link-hover:#3a80c2;

@color-light-grey:#7e7e7e;
@color-background:#f7f6ef;
@color-background-opaque:rgba(247, 246, 239, 0.8);
@color-background-left-box:#f3f3f3;
@color-main-navigation:#36332f;
@color-border-box:#d8d8d8;
@color-border-box-light:#eaeaea;

// fonts
@font-base: "Open Sans", Helvetica, sans-serif;

body {
  font-family: @font-base;
  margin: 0px;
  padding: 0px;
}

a, span.link {
  text-decoration: none;
}
span.link {
  color:@color-link-hover;
}

h3 {
  font-weight: 400;
  margin:10px 0 15px 0;
  font-size: 16px;
}

h3 a, a.more {
  color:@color-link;
}
a.more {
  float:right;
  height:30px;
  margin-right:15px;
  font-size: 16px;
}
a:hover, a.more:hover {
  color:@color-link-hover;
}


.powered-by {
  float:left;
  color:#ccc;
  margin:4px 0 0 5px;

  img {
    width:90px;
    vertical-align: middle;
  }
}


.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.products {
  width:100%;
  height:348px;
  font-family: @font-base;
  font-size: 12px;
  //padding:0 0 0 5px;

  //border: solid 1px #e1e9df;

  .item {
    border:1px solid transparent;
    float:left;
    margin-right: 0px;
    margin-bottom: 10px;
    width: 243px;
    position:relative;
    margin-right: 40px;
    border-radius: 0.9em;
    overflow: hidden;

    &:nth-child(5) {
      margin-right: 0;
    }

    a {
      color:@color-text;
    }

    a:hover {
      color:@color-link-hover;
    }

    .picture {
      background-color: #fff;
      width: 243px;
      height: 169px;
      padding: 0px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      position:relative;

      img {
        height: 169px;
      }
    }

    .abstract {
      background: white;

      div.title {
        height:70px;
        padding: 20px 30px;
        font-size: 14px;
      }

      div.price-and-rating {
        font-size:20px;
        line-height: 24px;
        font-weight: 700;
        border-top: 2px solid #ede8e2;
        padding: 0 8px;
        img {
          width:26px;
          vertical-align: middle;
          margin:-3px 0 0 5px;
        }
      }
    }
  }

  .item:hover {
    border:1px solid @color-border-box;

    a {
      color:@color-link-hover;
    }
  }

}

.tooltip {
  position: relative;
}

.tooltip span.info{
  display:none;
}
.tooltip:hover {
  img {
    border-radius: 16px;
    box-shadow: 0 3px 10px rgba(51, 102, 153, 1);
  }

  span.info{
    display: block;
    padding: 10px;
    color: @color-text;
    background: #fff;
    border: 1px solid @color-border-box;
    border-radius: 5px;
    z-index: 500;

    margin-top:-155px;
    margin-left:-68px;
    display:block;
    position:absolute;
    width:150px;
    height:95px;
    font-size:12px;
    font-weight:normal;
    color:@color-text;
    line-height:16px;
  }

  span.info:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #666 transparent transparent transparent;
    top: 115px;
    left: 75px;
  }
}