// font-faces
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

// colors
@color-green: #529521;
@color-background-green-opaque: rgb(82, 149, 33,0.8);
@color-light-green: @color-green + #444;
@color-yellow:#ffce00;
@color-light-yellow: @color-yellow + #444;
@color-red:#ff1300;
@color-light-red: @color-red + #444;
@color-blue:#336699;

@color-text:#333;
@color-text-grey:#333 + #444;
@color-link:#525252;
@color-link-hover:#3a80c2;

@color-light-grey:#7e7e7e;
@color-background:#f7f6ef;
@color-background-opaque:rgba(247, 246, 239, 0.8);
@color-background-left-box:#f3f3f3;
@color-main-navigation:#36332f;
@color-border-box:#d8d8d8;
@color-border-box-light:#eaeaea;

// fonts
@font-base: "Open Sans", Helvetica, sans-serif;

// breakpoints
@breaksmall: 365px;
@breakmedium: 585px;
@breaklarge: 885px;

// functions
.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip:padding-box;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}

// styles
body {
  font-family: @font-base;
  margin: 0px;
  padding: 0px;
  background-color: #ede8e2;
}

a, span.link {
  text-decoration: none;
}
span.link {
  color:@color-link-hover;
}

h3 {
  font-weight: 400;
  margin:10px 0 15px 0;
  font-size: 20px;
}

h3 a, a.more {
  color:@color-link;
}

a.more {
  float:right;
  height:30px;
  margin-right:15px;
  font-size: 15px;
}
a:hover, a.more:hover {
  color:@color-link-hover;
}


.powered-by {
  float:left;
  color:#ccc;
  margin:4px 0 0 5px;

  img {
    width:90px;
    vertical-align: middle;
  }
}


.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.widget {
  max-width: 1100px;
  height:450px;
}

.products {
  width:100%;
  font-family: @font-base;
  font-size: 12px;
  //padding:0 0 0 5px;

  //border: solid 1px #e1e9df;

  .item {
    border:1px solid transparent;
    float:left;
    margin-bottom:10px;
    position:relative;
    .border-radius(0.9em);
    overflow: hidden;

    a {
      color:@color-text;
    }

    a:hover {
      color:@color-link-hover;
    }

    .picture {
      background-color: #fff;
      height: 184px;
      padding: 0px;
      text-align: center;
      vertical-align: middle;
      position:relative;

      img {
        margin-top:15px;
        height: 169px;
      }
    }

    .abstract {
      background: white;

      div.title {
        height:60px;
        padding: 20px 30px;
        font-size: 14px;
      }

      div.price-and-rating {
        height:37px;
        font-size:20px;
        line-height: 24px;
        font-weight: 700;
        border-top: 2px solid #ede8e2;
        padding: 7px 30px 0 30px;
        img {
          width:26px;
          vertical-align: middle;
          margin:-3px 0 0 5px;
        }
      }
    }
  }
}

@media (min-width: @breaksmall) and (max-width: @breakmedium) {
  .item {
    margin-right: 1.4%;
    width: 48%;

    &:nth-child(2) {
      margin-right: 0;
    }
  }
}

@media (min-width: @breakmedium) and (max-width: @breaklarge) {
  .item {
    margin-right: 4%;
    width: 30%;

    &:nth-child(3) {
      margin-right: 0;
    }
  }
}

@media (min-width: @breaklarge) {
  .item {
    width: 22%;
    margin-right: 3.7%;

    &:nth-child(4) {
      margin-right: 0;
    }
  }
}

.item:hover {
  border:1px solid @color-border-box;

  a {
    color:@color-link-hover;
  }
}

.tooltip {
  position: relative;

  span.info{
    display:none;
  }
}

.tooltip:hover {
  img {
    .border-radius(16px);
    box-shadow: 0 3px 10px rgba(51, 102, 153, 1);
  }

  span.info{
    display: block;
    padding: 10px;
    color: @color-text;
    background: #fff;
    border: 1px solid @color-border-box;
    .border-radius(5px);
    z-index: 500;

    margin-top:-170px;
    margin-left:-67px;
    display:block;
    position:absolute;
    width:149px;
    height:110px;
    font-size:13px;
    font-weight:normal;
    color:@color-text;
    line-height:16px;
  }

  span.info:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #666 transparent transparent transparent;
    top: 130px;
    left: 75px;
  }
}