%ul#selected_categories_input{:data => {:object_name => sanitized_object_name(f)}}
  - f.object.categories.each do |category|
    = render "/categories/selected_category", :category => category, :object_name => sanitized_object_name(f)
