%h1
  Ids für die Auszeichnung von Kategorien im Rahmen des CSV-Uploads
%p
  Gibt man in der CSV eine der eingerückten Unterkategorien an, so werden
  automatisch auch die in der Hierachie darüber liegenden Kategorien ergänzt.
  Gibt man also z.B. die Kategorie mit der ID 2 (Elektronik) an, so wir der Artikel
  auch unter der Kategorie mit der ID 1 (Technik) zu finden sein. Wählt man die Kategorie
  mit der ID 24 (DVD), so wird der Artikel auch unter der Kategorien mit der ID
  21 (Filme) sowie der Kategorie mit der ID 4 (Medien) zu finden sein.
%ul
  - @categories.each do |root|
    - root.self_and_descendants.each do |category|
      %li
        - category.level.times do
          = "--"
        ID: #{category.id}, Name: #{category.name}

