.Category-index.Grid-mansory
  - collection.each do |category|
    .Category-index-parent.Grid
      %h2
        %a{href: articles_path(article: {categories: category.id })}
          = category.name
      %ul
        -category.children.each do |child1|
          %li
            %a{href: articles_path(article: {categories: child1.id })}
              = child1.name
            %ul
              -child1.children.each do |child2|
                %li
                  %a{href: articles_path(article: {categories: child2.id })}
                    = child2.name
                  %ul
                    -child2.children.each do |child3|
                      %li
                        %a{href: articles_path(article: {categories: child3.id })}
                          = child3.name
