- begin
  = render "categories/show/#{resource.slug}" if resource.slug
- rescue ActionView::MissingTemplate
  - # insert elements that should only appear when there is nothing specific here

- # Elements that always get displayed
= render '/shared/search_view'