%h3 Artikel
%p
  = link_to resource.article_title, resource.article
%p
  = t 'transaction.edit.sold_by'
  = link_to resource.article_seller.fullname, resource.article_seller
%p
  = display_preliminary_price