- selected_payment = resource.selected_payment
- selected_transport = resource.selected_transport
- quantity = resource.quantity_bought

%p
  = button_to t('transaction.actions.paypal_process'), payments_path(resource), method: :POST, class: "Btn"

%p
  Sollte die Zahlungsabwicklung über den obigen Knopf nicht funktionieren, gehe bitte folgendermaßen vor:
  %ol
    %li
      Logge Dich bei
      %a{:href => "http://www.paypal.de", target: '_blank'}PayPal.de
      in Deinen Account ein.
    %li Klicke auf "Geld senden".
    %li
      Gib dort die Empfänger-Adresse
      %strong= resource.article_seller_paypal_account
      sowie den Geldbetrag von
      %strong= humanized_money_with_symbol resource.article_total_price selected_transport, selected_payment, quantity
      ein und wickle den Geld-Versand-Vorgang ab.