- cache_if search_cache.fresh?, 'article_search_form' do
  = semantic_form_for search_cache, :url => articles_path, :html => { :method => 'get', :class => ".l-header-search-form" }, :builder => ::Fairtastic::FormBuilder do |f|
    #js-hidden-search-params
    .l-header-search-libraries
      %a.Button.Button--gray{:href => libraries_path, :title => "Andere Nutzer*innen haben bereits Sammlungen zu bestimmten Themen erstellt. Beim Durchstöbern dieser Sammlungen kannst auch Du weitere spannende Artikel entdecken." }
        Sammlungen
    .l-header-search-query
      = f.inputs do

        = f.input :q, :label => false, :tooltip => false ,:input_html => { :id => "search_input", :placeholder =>  t('welcome.search_fair'),  "data-autocomplete" => autocomplete_articles_path }
        = f.input :category_id, :label => false, :as => :select, :collection => Category.other_category_last.sorted.roots, :include_blank => "Alle Kategorien"
    .l-header-search-button
      %button.Button Suche starten