%form.form-inline{:action => "search_users"}
  %input.search-query.span3{:name => "q", :placeholder => t('dashboard.search_users.head'), :type => "text", :value => params["q"]}/
  %button.btn{:type => "submit"}
    %i.icon-user
    = t("common.text.search")
