- abacus = Abacus.new(lig)

.total
  %table
    %tr
      %td
        Gesamtwarenwert:
      %td
        = humanized_money_with_symbol abacus.business_transaction_listing.total_retail_price
    %tr
      %td
        Gesamtversandkosten:
      %td
        = humanized_money_with_symbol abacus.transport_listing.total_transport
    %tr
      %td
        %strong
          Gesamt:
      %td
        %strong
          = humanized_money_with_symbol abacus.total
