/**
 * toys billboard
 */


// General stuff
#billboard-toys > article h2 {
  font-weight    : 600;
  text-transform : uppercase;
  color          : #060;
}

#billboard-toys-link1 > p {
  font-weight : 600;
  font-size   : 18px;
  color       : $white;
}


// Responsive code: small version
@include till-breakpoint($bp-tablet) {
  #billboard-toys {
    background-image: image-url('welcome/billboard_toys_small.jpg');
  }

  #billboard-toys > article h2 {
    @include static-position($top: 115px, $left: 20px, $width: 175px);
    font-size  : 18px;
    text-align : center;
  }

  #billboard-toys-link1 > p {
    @include static-position($top: 371px, $left: 24px, $height: 28px,
      $width: 144px);
    padding: 4px 0 0 16px;
  }

  #billboard-toys-link1 > div {
    @include static-position($top: 153px, $left: 2px, $height: 218px,
      $width: 193px);
  }
}


// Responsive code: medium version
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  #billboard-toys {
    background-image: image-url('welcome/billboard_toys_medium.jpg');
  }

  #billboard-toys > article h2 {
    @include static-position($top: 25px, $left: 2px, $width: 190px);
    font-size  : 30px;
    text-align : left;
  }

  #billboard-toys-link1 > p {
    @include static-position($top: 368px, $left: 266px, $height: 28px,
      $width: 143px);
    padding: 4px 0 0 16px;
  }

  #billboard-toys-link1 > div {
    @include static-position($top: 141px, $left: 0, $height: 264px,
      $width: 438px);
  }
}


// Responsive code: big version
@include at-breakpoint($bp-tablet-horizontal) {
  #billboard-toys {
    background-image: image-url('welcome/billboard_toys_big.jpg');
  }

  #billboard-toys > article h2 {
    visibility: hidden;
  }

  #billboard-toys-link1 > p {
    @include static-position($top: 360px, $left: 519px, $height: 29px,
      $width: 143px);
    padding: 4px 0 0 17px;
  }

  #billboard-toys-link1 > div {
    @include static-position($top: 130px, $left: 5px, $height: 273px,
      $width: 686px);
  }
}
