/**
 * Ecobookstore billboard
 */


// General stuff
#billboard-ecobookstore > article h3 {
  font-weight    : 600;
  text-transform : none;
  color          : #2b4b5e;
  text-align     : left;
}

#billboard-ecobookstore > article h3 span {
  display  : block;
  position : absolute;
}

#billboard-ecobookstore > article h2,
#billboard-ecobookstore > article h3 span,
#billboard-ecobookstore-link2 {
  text-indent : -1000em;
}

#billboard-ecobookstore > article > p {
  font-weight : 600;
  line-height : 1.2em;
  color       : $white;
}

#billboard-ecobookstore > article > p > span {
  color : #e57a61;
}

#billboard-ecobookstore-link1 {
  font-weight : 600;
  color       : $white;
}


// Responsive code: small version
@include till-breakpoint($bp-tablet) {
  #billboard-ecobookstore {
    background-image: image-url('welcome/billboard_ecobookstore_small.jpg');
  }

  #billboard-ecobookstore > article h2 {
    @include static-position($top: 0, $left: 54px, $height: 191px,
      $width: 94px);
  }

  #billboard-ecobookstore > article h3,
  #billboard-ecobookstore > article > p:nth-of-type(1),
  #billboard-ecobookstore > article > p:nth-of-type(2) {
    display: none;
  }

  #billboard-ecobookstore > article > p.alternative-text {
    @include static-position($top: 202px, $left: 5px, $width: 200px);
    font-size: 17px;
    text-align: center;
  }

  #billboard-ecobookstore-link1 {
    @include static-position($top: 276px, $left: 40px, $height: 27px,
      $width: 131px);
    font-size: 16px;
    padding: 4px 0 0 13px;
  }

  #billboard-ecobookstore-link2 {
    @include static-position($top: 334px, $left: 12px, $height: 66px,
      $width: 195px);
  }
}


// Responsive code: medium version
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  #billboard-ecobookstore {
    background-image: image-url('welcome/billboard_ecobookstore_medium.jpg');
  }

  #billboard-ecobookstore > article h2 {
    @include static-position($top: 0, $left: 11px, $height: 258px,
      $width: 121px);
  }

  #billboard-ecobookstore > article h3 {
    text-indent: -1000em;
  }

  #billboard-ecobookstore > article h3 span {
    @include static-position($top: 326px, $left: 31px, $height: 65px,
      $width: 172px);
  }


  #billboard-ecobookstore > article > p:nth-of-type(1) {
    @include static-position($top: 132px, $left: 155px, $width: 300px);
    font-size: 17px;
  }

  #billboard-ecobookstore > article > p:nth-of-type(2),
  #billboard-ecobookstore > article > p.alternative-text {
    display: none;
  }

  #billboard-ecobookstore-link1 {
    @include static-position($top: 258px, $left: 116px, $height: 27px,
      $width: 131px);
    font-size: 16px;
    padding: 4px 0 0 13px;
  }

  #billboard-ecobookstore-link2 {
    @include static-position($top: 323px, $left: 221px, $height: 71px,
      $width: 214px);
  }
}


// Responsive code: big version
@include at-breakpoint($bp-tablet-horizontal) {
  #billboard-ecobookstore {
    background-image: image-url('welcome/billboard_ecobookstore_big.jpg');
  }

  #billboard-ecobookstore > article h2 {
    @include static-position($top: 0, $left: 28px, $width: 153px,
      $height: 291px);
  }

  #billboard-ecobookstore > article h3 {
    @include static-position($top: 341px, $left: 29px, $width: 175px);
  }

  #billboard-ecobookstore > article h3 span {
    @include static-position($top: -11px, $left: 220px, $height: 50px,
      $width: 154px);
  }

  #billboard-ecobookstore > article > p:nth-of-type(1) {
    @include static-position($top: 125px, $left: 215px, $width: 470px);
    font-size: 18px;
  }

  #billboard-ecobookstore > article > p:nth-of-type(2) {
    @include static-position($top: 190px, $left: 215px, $width: 470px);
    font-size: 18px;
  }

  #billboard-ecobookstore > article > p.alternative-text {
    display: none;
  }

  #billboard-ecobookstore-link1 {
    @include static-position($top: 256px, $left: 212px, $height: 31px,
      $width: 149px);
    font-size: 18px;
    padding: 4px 0 0 17px;
  }

  #billboard-ecobookstore-link2 {
    @include static-position($top: 321px, $left: 458px, $height: 77px,
      $width: 227px);
  }
}
