/**
 * Books billboard
 */


// General stuff
#billboard-books > article > section > a.billboard-textlink {
  display: block;
  width: 100%;
  text-align: center;
}


// Responsive code: small version
@include till-breakpoint($bp-tablet) {
  #billboard-books {
    background-image: image-url('welcome/billboard_books_small.jpg');
  }

  #billboard-books > article > h2 {
    @include static-position($top: 14px, $left: 2px);
  }

  #billboard-books > article > section {
    @include static-position($top: 130px, $width: 91px);
  }

  #billboard-books > article > section.section1 {
    @include static-position($left: 6px);
  }

  #billboard-books > article > section.section2 {
    @include static-position($left: 114px);
  }

  #billboard-books > article > section.section3 {
    display: none;
  }

  #billboard-books > article > section.section4 {
    display: none;
  }

  #billboard-books > article > section > h3 {
    font-size: 1em;
  }

  #billboard-books > article > section > a.billboard-imagelink {
    @include static-position($top: 38px, $height: 142px, $width: 89px);
  }

  #billboard-books > article > section > a.billboard-textlink {
    @include static-position($top: 199px);
    font-size: 0.8em;
  }
}


// Responsive code: medium version
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  #billboard-books {
    background-image: image-url('welcome/billboard_books_medium.jpg');
  }

  #billboard-books > article > h2 {
    @include static-position($top: 14px, $left: 33px);
  }

  #billboard-books > article > section {
    @include static-position($top: 110px, $width: 113px);
  }

  #billboard-books > article > section.section1 {
    @include static-position($left: 36px);
  }

  #billboard-books > article > section.section2 {
    @include static-position($left: 170px);
  }

  #billboard-books > article > section.section3 {
    @include static-position($left: 302px);
  }

  #billboard-books > article > section.section4 {
    display: none;
  }

  #billboard-books > article > section > a.billboard-imagelink {
    @include static-position($top: 48px, $height: 178px, $width: 112px);
  }

  #billboard-books > article > section > a.billboard-textlink {
    @include static-position($top: 235px);
    font-size: 0.9em;
  }
}


// Responsive code: big version
@include at-breakpoint($bp-tablet-horizontal) {
  #billboard-books {
    background-image: image-url('welcome/billboard_books_big.jpg');
  }

  #billboard-books > article > h2 {
    @include static-position($top: 14px, $left: 20px);
  }

  #billboard-books > article > section {
    @include static-position($top: 125px, $width: 113px);
  }

  #billboard-books > article > section.section1 {
    @include static-position($left: 114px);
  }

  #billboard-books > article > section.section2 {
    @include static-position($left: 268px);
  }

  #billboard-books > article > section.section3 {
    @include static-position($left: 421px);
  }

  #billboard-books > article > section.section4 {
    @include static-position($left: 574px);
  }

  #billboard-books > article > section > a.billboard-imagelink {
    @include static-position($top: 47px, $height: 178px, $width: 112px);
  }

  #billboard-books > article > section > a.billboard-textlink {
    @include static-position($top: 234px);
    font-size: 0.9em;
  }
}
