/**
 * Gifts billboard
 */


// General stuff
#billboard-gifts > article h2 {
  text-transform : uppercase;
  color          : $white;
  text-align     : left;
}

#billboard-gifts-gifts {
  color : #0a744d;
}

#billboard-gifts-price {
  position : absolute;
  color    : #d23727;
}

#billboard-gifts > article > ul > li p {
  font-size   : 18px;
  font-weight : 600;
  color       : $white;
}


// Responsive code: small version
@include till-breakpoint($bp-tablet) {
  #billboard-gifts {
    background-image: image-url('welcome/billboard_gifts_small.jpg');
  }

  #billboard-gifts > article h2 {
    @include static-position($top: 12px, $left: 6px, $width: 130px);
    font-size   : 20px;
    font-weight : 700;
  }

  #billboard-gifts-price {
    @include static-position($top: 11px, $right: -77px, $width: 80px);
    font-size   : 36px;
    font-weight : 600;
  }

  #billboard-gifts > article > ul > li#billboard-gifts-link1 div {
    @include static-position($top: 88px, $left: 5px, $bottom: 15px, $right: 5px);
  }

  #billboard-gifts > article > ul > li#billboard-gifts-link1 p {
    @include static-position($top: 369px, $left: 46px, $height: 29px, $width: 143px);
    padding: 4px 0 0 14px;
  }
}


// Responsive code: medium version
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  #billboard-gifts {
    background-image: image-url('welcome/billboard_gifts_medium.jpg');
  }

  #billboard-gifts > article h2 {
    @include static-position($top: 17px, $left: 10px, $width: 340px);
    font-size   : 26px;
    font-weight : 600;
  }

  #billboard-gifts-price {
    @include static-position($top: -8px, $right: -81px, $width: 80px);
    font-size   : 38px;
    font-weight : 600;
  }

  #billboard-gifts > article > ul > li#billboard-gifts-link1 div {
    @include static-position($top: 62px, $left: 13px, $bottom: 10px, $right: 13px);
  }

  #billboard-gifts > article > ul > li#billboard-gifts-link1 p {
    @include static-position($top: 360px, $left: 276px, $height: 31px, $width: 144px);
    padding: 4px 0 0 14px;
  }
}


// Responsive code: big version
@include at-breakpoint($bp-tablet-horizontal) {
  #billboard-gifts {
    background-image: image-url('welcome/billboard_gifts_big.jpg');
  }

  #billboard-gifts > article h2 {
    @include static-position($top: 29px, $left: 45px, $width: 400px);
    font-size   : 30px;
    font-weight : 600;
  }

  #billboard-gifts-price {
    @include static-position($top: -1px, $right: -185px, $width: 70px);
    font-size   : 32px;
    font-weight : 700;
  }

  #billboard-gifts > article > ul > li#billboard-gifts-link1 div {
    @include static-position($top: 80px, $left: 8px, $bottom: 10px, $right: 8px);
  }

  #billboard-gifts > article > ul > li#billboard-gifts-link1 p {
    @include static-position($top: 365px, $left: 529px, $height: 29px, $width: 144px);
    padding: 4px 0 0 14px;
  }
}
