/**
 * Books billboard
 */


// General stuff
#billboard-books > article > ul a > p {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  color: #428fbd;
  text-decoration: underline;
}

#billboard-books > article h3 {
  font-size: 14px;
  color: #74a3c2;
}

#billboard-books > article > a {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: $white;
}


// Responsive code: small version
@include till-breakpoint($bp-tablet) {
  #billboard-books {
    background-image: image-url('welcome/billboard_books_small.jpg');
  }

  #billboard-books > article h2 {
    @include static-position($top: 265px, $left: 55px, $width: 100px);
    font-size: 18px;
  }

  #billboard-books > article h3 {
    @include static-position($top: 315px, $left: 26px, $width: 160px);
  }

  #billboard-books > article > a {
    @include static-position($top: 364px, $left: 30px, $height: 28px, $width: 136px);
    padding: 2px 0 0 15px;
  }

  #billboard-books > article > ul > li div {
    display: none;
  }

  #billboard-books > article > ul > li#billboard-books-link1 p {
    @include static-position($top: 6px, $left: 75px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link2 p {
    @include static-position($top: 53px, $left: 75px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link3 p {
    @include static-position($top: 97px, $left: 75px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link4 p {
    @include static-position($top: 143px, $left: 75px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link5 p {
    display: none;
  }

  #billboard-books > article > ul > li#billboard-books-link6 p {
    display: none;
  }
}


// Responsive code: medium version
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  #billboard-books {
    background-image: image-url('welcome/billboard_books_medium.jpg');
  }

  #billboard-books > article h2 {
    @include static-position($top: 110px, $left: 151px, $width: 150px);
    font-size: 34px;
  }

  #billboard-books > article h3 {
    @include static-position($top: 238px, $left: 146px, $width: 160px);
  }

  #billboard-books > article > a {
    @include static-position($top: 289px, $left: 149px, $height: 30px, $width: 135px);
    padding: 2px 0 0 15px;
  }

  #billboard-books > article > ul > li div {
    display: none;
  }

  #billboard-books > article > ul > li#billboard-books-link1 p {
    @include static-position($top: 55px, $left: 5px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link2 p {
    @include static-position($top: 190px, $left: 5px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link3 p {
    @include static-position($top: 330px, $left: 5px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link4 p {
    @include static-position($top: 55px, $left: 350px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link5 p {
    @include static-position($top: 190px, $left: 350px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link6 p {
    @include static-position($top: 330px, $left: 350px, $width: 90px);
  }


}


// Responsive code: big version
@include at-breakpoint($bp-tablet-horizontal) {
  #billboard-books {
    background-image: image-url('welcome/billboard_books_big.jpg');
  }

  #billboard-books > article h2 {
    @include static-position($top: 110px, $left: 275px, $width: 150px);
    font-size: 34px;
  }

  #billboard-books > article h3 {
    @include static-position($top: 238px, $left: 269px, $width: 160px);
  }

  #billboard-books > article > a {
    @include static-position($top: 289px, $left: 273px, $height: 30px, $width: 135px);
    padding: 2px 0 0 15px;
  }

  #billboard-books > article > ul > li#billboard-books-link1 div {
    @include static-position($top: 7px, $left: 17px, $height: 117px, $width: 78px);
  }

  #billboard-books > article > ul > li#billboard-books-link2 div {
    @include static-position($top: 147px, $left: 20px, $height: 117px, $width: 72px);
  }

  #billboard-books > article > ul > li#billboard-books-link3 div {
    @include static-position($top: 285px, $left: 10px, $height: 117px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link4 div {
    @include static-position($top: 7px, $left: 498px, $height: 117px, $width: 75px);
  }

  #billboard-books > article > ul > li#billboard-books-link5 div {
    @include static-position($top: 147px, $left: 500px, $height: 114px, $width: 70px);
  }

  #billboard-books > article > ul > li#billboard-books-link6 div {
    @include static-position($top: 285px, $left: 500px, $height: 117px, $width: 70px);
  }

  #billboard-books > article > ul > li#billboard-books-link1 p {
    @include static-position($top: 55px, $left: 130px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link2 p {
    @include static-position($top: 190px, $left: 130px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link3 p {
    @include static-position($top: 330px, $left: 130px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link4 p {
    @include static-position($top: 55px, $left: 605px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link5 p {
    @include static-position($top: 190px, $left: 605px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link6 p {
    @include static-position($top: 330px, $left: 605px, $width: 90px);
  }
}
