/**
 * Coffee billboard
 */


// General stuff
#billboard-gourmet > article > ul a p {
  text-align: left;
  font-size: 14px;
}

#billboard-gourmet > article > ul > li p {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  color: #428fbd;
}



// Responsive code: small version
@include till-breakpoint($bp-tablet) {
  #billboard-gourmet {
    background-image: image-url('welcome/billboard_gourmet_small.jpg');
  }

  #billboard-gourmet > article > h2 {
    @include static-position($top: 14px, $left: 13px);

  }

  #billboard-gourmet > article > section {
    @include static-position($left: 15px, $width: 185px);
  }

  #billboard-gourmet > article > section.section1 {
    display: none;
  }

  #billboard-gourmet > article > section.section2 {
    @include static-position($top: 125px);
  }

  #billboard-gourmet > article > section > a.billboard-imagelink {
    @include static-position($top: 10px, $left: 10px, $height: 155px, $width: 190px);
  }

  #billboard-gourmet > article > section > a.billboard-textlink {
    @include static-position($top: 200px);
    font-size: 0.8em;
  }
}


// Responsive code: medium version
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  #billboard-gourmet {
    background-image: image-url('welcome/billboard_gourmet_medium.jpg');
  }

  #billboard-gourmet > article > h2 {
    @include static-position($top: 14px, $left: 55px);
  }

  #billboard-gourmet > article > section {
    @include static-position($left: 55px, $width: 345px);
  }

  #billboard-gourmet > article > section.section1 {
    display: none;
  }

  #billboard-gourmet > article > section.section2 {
    @include static-position($top: 50px);
  }

  #billboard-gourmet > article > section > a.billboard-imagelink {
    @include static-position($top: 45px, $left: 20px, $height: 230px, $width: 305px);
  }

  #billboard-gourmet > article > section > a.billboard-textlink {
    @include static-position($top: 290px);
  }
}


// Responsive code: big version
@include at-breakpoint($bp-tablet-horizontal) {
  #billboard-gourmet {
    background-image: image-url('welcome/billboard_gourmet_big.jpg');
  }

  #billboard-gourmet > article > h2 {
    @include static-position($top: 127px, $left: 7px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link1 div {
    @include static-position($top: 205px, $left: 90px, $height: 145px, $width: 165px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link2 div {
    @include static-position($top: 105px, $left: 282px, $height: 220px, $width: 149px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link3 div {
    @include static-position($top: 125px, $left: 540px, $height: 210px, $width: 160px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link1 p {
    @include static-position($top: 353px, $left: 53px, $height: 30px, $width: 154px);
    padding: 6px 0 0 13px;
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link2 p:nth-of-type(1) {
    @include static-position($top: 295px, $left: 301px, $height: 30px, $width: 167px);
    padding: 5px 0 0 10px;
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link2 p:nth-of-type(2) {
    @include static-position($top: 105px, $left: 412px, $width: 120px);
    color: $white;
    text-align: center;
    text-decoration: underline;
    line-height: 22px;
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link3 p {
    @include static-position($top: 319px, $left: 548px, $height: 29px, $width: 79px);
    padding: 7px 0 0 11px;
  }

}
