/**
 * Ecobookstore billboard
 */


// General stuff
#billboard-ecobookstore > article h2 {
  font-weight: 600;
  color: #2b4b5e;
  text-transform: none;
  text-align: left;
}

#billboard-ecobookstore > article h3 {
  text-indent: -1000em;
}

#billboard-ecobookstore > article > a > p {
  position: absolute;
  font-weight: 600;
  color: $white;
}

#billboard-ecobookstore > article > p {
  position: absolute;
  font-weight: 600;
  line-height: 1.2em;
  color: $white;
}

#billboard-ecobookstore > article > p > span {
  color: #e57a61;
}


// Responsive code: small version
@include till-breakpoint($bp-tablet) {
  #billboard-ecobookstore {
    background-image: image-url('welcome/billboard_ecobookstore_small.jpg');
  }

  #billboard-ecobookstore > article h2 {
    display: none;
  }

  #billboard-ecobookstore > article h3 {
    @include static-position($top: 335px, $left: 25px, $height: 60px, $width: 175px);
  }

  #billboard-ecobookstore > article > a > p {
    @include static-position($top: 260px, $left: 40px, $height: 25px, $width: 129px);
    font-size: 16px;
    padding: 4px 0 0 15px;
  }

  #billboard-ecobookstore > article > p:nth-of-type(1) {
    display: none;
  }

  #billboard-ecobookstore > article > p:nth-of-type(2) {
    display: none;
  }

  #billboard-ecobookstore > article > p.alternative-text {
    @include static-position($top: 185px, $left: 5px, $width: 200px);
    font-size: 17px;
    text-align: center;
  }

  #billboard-ecobookstore > article > ul > li#billboard-ecobookstore-link1 div:nth-of-type(1) {
    @include static-position($top: 0, $left: 55px, $height: 190px, $width: 94px);
  }

  #billboard-ecobookstore > article > ul > li#billboard-ecobookstore-link1 div:nth-of-type(2) {
    display: none;
  }

  #billboard-ecobookstore > article > ul > li#billboard-ecobookstore-link1 div:nth-of-type(3) {
    display: none;
  }
}


// Responsive code: medium version
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  #billboard-ecobookstore {
    background-image: image-url('welcome/billboard_ecobookstore_medium.jpg');
  }

  #billboard-ecobookstore > article h2 {
    @include static-position($top: 340px, $left: 12px, $width: 130px);
    font-size: 16px;
  }

  #billboard-ecobookstore > article h3 {
    @include static-position($top: 340px, $left: 95px, $height: 60px, $width: 170px);
  }

  #billboard-ecobookstore > article > a > p {
    @include static-position($top: 337px, $left: 298px, $height: 27px, $width: 127px);
    font-size: 16px;
    padding: 4px 0 0 15px;
  }

  #billboard-ecobookstore > article > p:nth-of-type(1) {
    @include static-position($top: 115px, $left: 155px, $width: 300px);
    font-size: 17px;
  }

  #billboard-ecobookstore > article > p:nth-of-type(2) {
    display: none;
  }

  #billboard-ecobookstore > article > p.alternative-text {
    display: none;
  }

  #billboard-ecobookstore > article > ul > li#billboard-ecobookstore-link1 div:nth-of-type(1) {
    @include static-position($top: 0, $left: 11px, $height: 258px, $width: 120px);
  }

  #billboard-ecobookstore > article > ul > li#billboard-ecobookstore-link1 div:nth-of-type(2) {
    @include static-position($top: 241px, $left: 275px, $height: 81px, $width: 160px);
  }

  #billboard-ecobookstore > article > ul > li#billboard-ecobookstore-link1 div:nth-of-type(3) {
    @include static-position($top: 0px, $left: 155px, $height: 105px, $width: 280px);
  }
}


// Responsive code: big version
@include at-breakpoint($bp-tablet-horizontal) {
  #billboard-ecobookstore {
    background-image: image-url('welcome/billboard_ecobookstore_big.jpg');
  }

  #billboard-ecobookstore > article h2 {
    @include static-position($top: 345px, $left: 29px, $width: 200px);
    font-size: 20px;
  }

  #billboard-ecobookstore > article h3 {
    @include static-position($top: 322px, $left: 225px, $height: 85px, $width: 235px);
  }

  #billboard-ecobookstore > article > a > p {
    @include static-position($top: 333px, $left: 528px, $height: 30px, $width: 146px);
    font-size: 18px;
    padding: 4px 0 0 17px;
  }

  #billboard-ecobookstore > article > p:nth-of-type(1) {
    @include static-position($top: 105px, $left: 215px, $width: 470px);
    font-size: 18px;
  }

  #billboard-ecobookstore > article > p:nth-of-type(2) {
    @include static-position($top: 170px, $left: 215px, $width: 470px);
    font-size: 18px;
  }

  #billboard-ecobookstore > article > p.alternative-text {
    display: none;
  }

  #billboard-ecobookstore > article > ul > li#billboard-ecobookstore-link1 div:nth-of-type(1) {
    @include static-position($top: 0, $left: 29px, $height: 295px, $width: 150px);
  }

  #billboard-ecobookstore > article > ul > li#billboard-ecobookstore-link1 div:nth-of-type(2) {
    @include static-position($top: 241px, $left: 495px, $height: 75px, $width: 200px);
  }

  #billboard-ecobookstore > article > ul > li#billboard-ecobookstore-link1 div:nth-of-type(3) {
    @include static-position($top: 0px, $left: 235px, $height: 105px, $width: 445px);
  }
}
