/**
 * Fairphone 2 billboard
 */


// General stuff
#billboard-fairphone2 > article > h2,
#billboard-fairphone2 > article > a {
  text-indent: -1000em;
}

#billboard-fairphone2 > article > a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}



// Responsive code: small version
@include till-breakpoint($bp-tablet) {
  #billboard-fairphone2 {
    background-image: image-url('welcome/billboard_fairphone2_small.jpg');
  }
}


// Responsive code: medium version
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  #billboard-fairphone2 {
    background-image: image-url('welcome/billboard_fairphone2_medium.jpg');
  }
}


// Responsive code: big version
@include at-breakpoint($bp-tablet-horizontal) {
  #billboard-fairphone2 {
    background-image: image-url('welcome/billboard_fairphone2_big.jpg');
  }
}
