/**
 * Books billboard
 */


// General stuff
#billboard-books > article > ul a > p {
  text-align: left;
  font-size: 14px;
  color: #428fbd;
  text-decoration: underline;
}

#billboard-books > article h3 {
  font-size: 14px;
  color: #74a3c2;
}

#billboard-books > article > a {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: $white;
}


// Responsive code: small version
@include till-breakpoint($bp-tablet) {
  #billboard-books {
    background-image: image-url('welcome/billboard_books_small.jpg');
  }

  #billboard-books > article > h2 {
    @include static-position($top: 14px, $left: 2px);
  }


  #billboard-books > article > section {
    @include static-position($top: 130px, $width: 91px);
  }

  #billboard-books > article > section.section1 {
    @include static-position($left: 6px);
  }

  #billboard-books > article > section.section2 {
    @include static-position($left: 114px);
  }

  #billboard-books > article > section.section3 {
    display: none;
  }

  #billboard-books > article > section.section4 {
    display: none;
  }

  #billboard-books > article > section > h3 {
    font-size: 1em;
  }

  #billboard-books > article > section > a.billboard-imagelink {
    @include static-position($top: 38px, $height: 142px, $width: 89px);
  }

  #billboard-books > article > section > a.billboard-textlink {
    @include static-position($top: 199px);
    font-size: 0.8em;
  }
}


// Responsive code: medium version
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  #billboard-books {
    background-image: image-url('welcome/billboard_books_medium.jpg');
  }

  #billboard-books > article > h2 {
    @include static-position($top: 14px, $left: 33px);
  }

  #billboard-books > article > section {
    @include static-position($top: 110px, $width: 113px);
  }

  #billboard-books > article > section.section1 {
    @include static-position($left: 36px);
  }

  #billboard-books > article > section.section2 {
    @include static-position($left: 170px);
  }

  #billboard-books > article > section.section3 {
    @include static-position($left: 302px);
  }

  #billboard-books > article > section.section4 {
    display: none;
  }

  #billboard-books > article > section > a.billboard-imagelink {
    @include static-position($top: 48px, $height: 178px, $width: 112px);
  }

  #billboard-books > article > section > a.billboard-textlink {
    @include static-position($top: 235px);
    font-size: 0.9em;
  }
}


// Responsive code: big version
@include at-breakpoint($bp-tablet-horizontal) {
  #billboard-books {
    background-image: image-url('welcome/billboard_books_big.jpg');
  }

  #billboard-books > article h2 {
    @include static-position($top: 110px, $left: 283px);
    font-size: 34px;
  }

  #billboard-books > article h3 {
    @include static-position($top: 238px, $left: 268px, $width: 165px);
  }

  #billboard-books > article > a {
    @include static-position($top: 292px, $left: 290px);
  }

  #billboard-books > article > ul > li#billboard-books-link1 div {
    @include static-position($top: 7px, $left: 17px, $height: 117px, $width: 78px);
  }

  #billboard-books > article > ul > li#billboard-books-link2 div {
    @include static-position($top: 147px, $left: 20px, $height: 117px, $width: 72px);
  }

  #billboard-books > article > ul > li#billboard-books-link3 div {
    @include static-position($top: 285px, $left: 10px, $height: 117px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link4 div {
    @include static-position($top: 7px, $left: 498px, $height: 117px, $width: 75px);
  }

  #billboard-books > article > ul > li#billboard-books-link5 div {
    @include static-position($top: 147px, $left: 500px, $height: 114px, $width: 70px);
  }

  #billboard-books > article > ul > li#billboard-books-link6 div {
    @include static-position($top: 285px, $left: 500px, $height: 117px, $width: 70px);
  }

  #billboard-books > article > ul > li#billboard-books-link1 p {
    @include static-position($top: 55px, $left: 130px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link2 p {
    @include static-position($top: 190px, $left: 130px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link3 p {
    @include static-position($top: 330px, $left: 130px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link4 p {
    @include static-position($top: 55px, $left: 605px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link5 p {
    @include static-position($top: 190px, $left: 605px, $width: 90px);
  }

  #billboard-books > article > ul > li#billboard-books-link6 p {
    @include static-position($top: 330px, $left: 605px, $width: 90px);
  }


}
