/**
 * Gourmet billboard
 */


// General stuff
//#billboard-gourmet > article > ul a p {
//  text-align: left;
//  font-size: 14px;
//}

#billboard-gourmet > article > ul > li p {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  color: #428fbd;
}

#billboard-gourmet > article > a {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: $white;
}


// Responsive code: small version
@include till-breakpoint($bp-tablet) {
  #billboard-gourmet {
    background-image: image-url('welcome/billboard_gourmet_small.jpg');
  }

  #billboard-gourmet > article h2 {
    @include static-position($top: 58px, $left: 74px);
    font-size: 14px;
  }

  #billboard-gourmet > article > a {
    display: none;
  }

  #billboard-gourmet > article > ul > li p {
    font-size: 14px;
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link1 div {
    @include static-position($top: 88px, $left: 155px, $height: 92px, $width: 38px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link2 div {
    @include static-position($top: 175px, $left: 10px, $height: 118px, $width: 35px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link3 div {
    @include static-position($top: 280px, $left: 105px, $height: 120px, $width: 90px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link1 p {
    @include static-position($top: 133px, $left: 12px, $height: 24px, $width: 119px);
    padding: 4px 0 0 9px;
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link2 p {
    @include static-position($top: 229px, $left: 60px, $height: 24px, $width: 128px);
    padding: 4px 0 0 8px;
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link3 p {
    @include static-position($top: 327px, $left: 14px, $height: 24px, $width: 60px);
    padding: 4px 0 0 9px;
  }

}


// Responsive code: medium version
@include between-breakpoints($bp-tablet, $bp-tablet-horizontal) {
  #billboard-gourmet {
    background-image: image-url('welcome/billboard_gourmet_medium.jpg');
  }

  #billboard-gourmet > article > h2 {
    @include static-position($top: 115px, $left: 313px);
    font-size: 26px;
  }

  #billboard-gourmet > article > a {
    @include static-position($top: 150px, $left: 144px, $width: 120px);
    color: $white;
    text-align: center;
    text-decoration: underline;
    line-height: 22px;
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link1 div {
    @include static-position($top: 220px, $left: 10px, $height: 160px, $width: 63px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link2 div {
    @include static-position($top: 129px, $left: 111px, $height: 153px, $width: 50px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link3 div {
    @include static-position($top: 230px, $left: 285px, $height: 145px, $width: 125px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link1 p {
    @include static-position($top: 354px, $left: 34px, $height: 30px, $width: 154px);
    padding: 6px 0 0 13px;
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link2 p {
    @include static-position($top: 284px, $left: 92px, $height: 30px, $width: 167px);
    padding: 5px 0 0 10px;
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link3 p {
    @include static-position($top: 355px, $left: 336px, $height: 29px, $width: 80px);
    padding: 7px 0 0 11px;
  }
}


// Responsive code: big version
@include at-breakpoint($bp-tablet-horizontal) {
  #billboard-gourmet {
    background-image: image-url('welcome/billboard_gourmet_big.jpg');
  }

  #billboard-gourmet > article > h2 {
    @include static-position($top: 127px, $left: 7px);
  }

  #billboard-gourmet > article > a {
    @include static-position($top: 105px, $left: 412px, $width: 120px);
    color: $white;
    text-align: center;
    text-decoration: underline;
    line-height: 22px;
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link1 div {
    @include static-position($top: 205px, $left: 90px, $height: 145px, $width: 165px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link2 div {
    @include static-position($top: 105px, $left: 282px, $height: 220px, $width: 149px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link3 div {
    @include static-position($top: 125px, $left: 540px, $height: 210px, $width: 160px);
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link1 p {
    @include static-position($top: 353px, $left: 53px, $height: 30px, $width: 154px);
    padding: 6px 0 0 13px;
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link2 p {
    @include static-position($top: 295px, $left: 301px, $height: 30px, $width: 167px);
    padding: 5px 0 0 10px;
  }

  #billboard-gourmet > article > ul > li#billboard-gourmet-link3 p {
    @include static-position($top: 319px, $left: 548px, $height: 29px, $width: 79px);
    padding: 7px 0 0 11px;
  }
}
